In [1]:
import pandas as pd

In [2]:
def prime_nominations_insert_2(member_names,movie_names,prime_names,nominations,years,isWon):
    member_movie_names = list(zip(member_names, movie_names))
    
    member_movie_names_unique = []
    for names in member_movie_names: 
        if names not in member_movie_names_unique:
            member_movie_names_unique.append(names)
    member_movie_ids_map = {}
    for i in range(len(member_movie_names_unique)):
        member_movie_ids_map[member_movie_names_unique[i]] = i
            
    prime_names_unique = []
    for name in prime_names: 
        if name not in prime_names_unique:
            prime_names_unique.append(name)
    prime_ids_map = {}
    for i in range(len(prime_names_unique)):
        prime_ids_map[prime_names_unique[i]] = i
    
    queries_0 = """DO $$
"""
    for i in range(len(member_movie_names_unique)):
        query = f"""DECLARE id_nominee_{i} INT;
"""
        queries_0 = queries_0 + query
    for i in range(len(prime_names_unique)):
        query = f"""DECLARE id_prime_{i} INT;
"""
        queries_0 = queries_0 + query
        
    queries_1 = """
BEGIN"""
    for i in range(len(member_movie_names_unique)):
        query_2 = ""
        query_1 = f"""
	SELECT nom.id INTO id_nominee_{i}
	FROM "public.Nominees" nom
	JOIN "public.Movies" m ON nom.movie_id = m.id"""
        if len(member_movie_names_unique[i][0]) > 0:
            query_2 = f"""
	JOIN "public.Film_crew_members" cm ON nom.film_crew_members_id = cm.id"""
        query_3 = f"""
	WHERE m.name = '{member_movie_names_unique[i][1]}' AND """
        if len(member_movie_names_unique[i][0]) > 0:
            query_4 = f"""cm.name = '{member_movie_names_unique[i][0]}';
"""
        else: query_4 = f"""nom.film_crew_members_id IS NULL;
"""
        queries_1 = queries_1 + query_1 + query_2 + query_3 + query_4
    
    queries_2 = ""
    for i in range(len(prime_names_unique)):
        query_1 = f"""
	SELECT p.id INTO id_prime_{i}
	FROM "public.Primes" p
	WHERE p.name = '{prime_names_unique[i]}';
"""
        queries_2 = queries_2 + query_1
        
    queries_3 = f"""
	INSERT INTO "public.Prime_nominations" (nominee_id, prime_id, nomination, year, "isWon") VALUES"""
    for i in range(len(member_names)):
        query = f"""
		(id_nominee_{member_movie_ids_map[member_movie_names[i]]}, id_prime_{prime_ids_map[prime_names[i]]}, '{nominations[i]}', {int(years[i])}, {isWon[i]})"""
        if i == len(member_names)-1: query_end = """;"""
        else: query_end = ""","""
        queries_3 = queries_3 + query + query_end
        
    queries_4 = """
END $$;"""
        
    return queries_0 + queries_1 + queries_2 + queries_3 + queries_4

In [3]:
def nominees_insert_2(member_names,movie_names):
    member_names_unique = []
    for name in member_names: 
        if name not in member_names_unique and len(name) > 0:
            member_names_unique.append(name)
    member_ids_map = {}
    for i in range(len(member_names_unique)):
        member_ids_map[member_names_unique[i]] = i
        
    movie_names_unique = []
    for name in movie_names: 
        if name not in movie_names_unique and len(name) > 0:
            movie_names_unique.append(name)
    movie_ids_map = {}
    for i in range(len(movie_names_unique)):
        movie_ids_map[movie_names_unique[i]] = i
    
    
    queries_0 = """DO $$
"""
    for i in range(len(member_names_unique)):
        query = f"""DECLARE id_member_{i} INT;
"""
        queries_0 = queries_0 + query
    for i in range(len(movie_names_unique)):
        query = f"""DECLARE id_movie_{i} INT;
"""
        queries_0 = queries_0 + query
        
    queries_1 = """
BEGIN"""
    for i in range(len(member_names_unique)):
        query_1 = f"""
	SELECT cm.id INTO id_member_{i}
	FROM "public.Film_crew_members" cm
	WHERE cm.name = '{member_names_unique[i]}';
"""
        queries_1 = queries_1 + query_1
    for i in range(len(movie_names_unique)):
        query_1 = f"""
	SELECT m.id INTO id_movie_{i}
	FROM "public.Movies" m
	WHERE m.name = '{movie_names_unique[i]}';
"""
        queries_1 = queries_1 + query_1

    queries_2 = f"""
	INSERT INTO "public.Nominees" (film_crew_members_id, movie_id) VALUES"""
    for i in range(len(member_names)):
        query = ""
        if (len(member_names[i]) > 0) & (len(movie_names[i]) > 0):
            query = f"""
		(id_member_{member_ids_map[member_names[i]]}, id_movie_{movie_ids_map[movie_names[i]]})"""
        elif (len(member_names[i]) > 0) & (len(movie_names[i]) == 0):
            query = f"""
		(id_member_{member_ids_map[member_names[i]]}, null)"""
        elif (len(member_names[i]) == 0) & (len(movie_names[i]) > 0):
            query = f"""
		(null, id_movie_{movie_ids_map[movie_names[i]]})"""
        if i == len(member_names)-1: query_end = """;"""
        else: query_end = ""","""
        queries_2 = queries_2 + query + query_end
        
    queries_3 = """
END $$;"""
        
    return queries_0 + queries_1 + queries_2 + queries_3

In [4]:
def films_positions_insert_2(member_names,movie_names,positions_names):
    member_names_unique = []
    for name in member_names: 
        if name not in member_names_unique and len(name) > 0:
            member_names_unique.append(name)
    member_ids_map = {}
    for i in range(len(member_names_unique)):
        member_ids_map[member_names_unique[i]] = i
        
    movie_names_unique = []
    for name in movie_names: 
        if name not in movie_names_unique and len(name) > 0:
            movie_names_unique.append(name)
    movie_ids_map = {}
    for i in range(len(movie_names_unique)):
        movie_ids_map[movie_names_unique[i]] = i
    
    
    queries_0 = """DO $$
"""
    for i in range(len(member_names_unique)):
        query = f"""DECLARE id_member_{i} INT;
"""
        queries_0 = queries_0 + query
    for i in range(len(movie_names_unique)):
        query = f"""DECLARE id_movie_{i} INT;
"""
        queries_0 = queries_0 + query
        
    queries_1 = """
BEGIN"""
    for i in range(len(member_names_unique)):
        query_1 = f"""
	SELECT cm.id INTO id_member_{i}
	FROM "public.Film_crew_members" cm
	WHERE cm.name = '{member_names_unique[i]}';
"""
        queries_1 = queries_1 + query_1
    for i in range(len(movie_names_unique)):
        query_1 = f"""
	SELECT m.id INTO id_movie_{i}
	FROM "public.Movies" m
	WHERE m.name = '{movie_names_unique[i]}';
"""
        queries_1 = queries_1 + query_1

    queries_2 = f"""
	INSERT INTO "public.Films_positions" (member_id, movie_id, name) VALUES"""
    for i in range(len(member_names)):
        query = f"""
		(id_member_{member_ids_map[member_names[i]]}, id_movie_{movie_ids_map[movie_names[i]]}, '{positions_names[i]}')"""
        if i == len(member_names)-1: query_end = """;"""
        else: query_end = ""","""
        queries_2 = queries_2 + query + query_end
        
    queries_3 = """
END $$;"""
        
    return queries_0 + queries_1 + queries_2 + queries_3

In [5]:
def sessions_insert_(cinema_names,hall_names,movie_names,time_starts,time_ends):
    cinema_hall_names = list(zip(cinema_names, hall_names))
    
    cinema_hall_names_unique = []
    for names in cinema_hall_names: 
        if names not in cinema_hall_names_unique:
            cinema_hall_names_unique.append(names)
    cinema_hall_ids_map = {}
    for i in range(len(cinema_hall_names_unique)):
        cinema_hall_ids_map[cinema_hall_names_unique[i]] = i
            
    movie_names_unique = []
    for name in movie_names: 
        if name not in movie_names_unique:
            movie_names_unique.append(name)
    movie_ids_map = {}
    for i in range(len(movie_names_unique)):
        movie_ids_map[movie_names_unique[i]] = i
    
    queries_0 = """DO $$
"""
    for i in range(len(cinema_hall_names_unique)):
        query = f"""DECLARE id_hall_{i} INT;
"""
        queries_0 = queries_0 + query
    for i in range(len(movie_names_unique)):
        query = f"""DECLARE id_movie_{i} INT;
"""
        queries_0 = queries_0 + query
        
    queries_1 = """
BEGIN"""
    for i in range(len(cinema_hall_names_unique)):
        query_1 = f"""
	SELECT h.id INTO id_hall_{i}
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = '{cinema_hall_names_unique[i][0]}' AND h.name = '{cinema_hall_names_unique[i][1]}';
"""
        queries_1 = queries_1 + query_1
    
    queries_2 = ""
    for i in range(len(movie_names_unique)):
        query_1 = f"""
	SELECT m.id INTO id_movie_{i}
	FROM "public.Movies" m
	WHERE m.name = '{movie_names_unique[i]}';
"""
        queries_2 = queries_2 + query_1
        
    queries_3 = f"""
	INSERT INTO "public.Sessions" (hall_id, movie_id, time_start, time_end) VALUES"""
    for i in range(len(cinema_names)):
        query = f"""
		(id_hall_{cinema_hall_ids_map[cinema_hall_names[i]]}, id_movie_{movie_ids_map[movie_names[i]]}, '{time_starts[i]}', '{time_ends[i]}')"""
        if i == len(cinema_names)-1: query_end = """;"""
        else: query_end = ""","""
        queries_3 = queries_3 + query + query_end
        
    queries_4 = """
END $$;"""
        
    return queries_0 + queries_1 + queries_2 + queries_3 + queries_4

In [6]:
excel_file = 'movies_random.xlsx'

df_movies_random = pd.read_excel(excel_file)

print(df_movies_random)

                Название Дата выхода Длительность Возрастное ограничение  \
0            Сила страны  1976-01-27      2:20:00                  NC-17
1                Включая  2011-02-25      2:02:00                      R
2                Бал год  1975-07-18      2:46:00                      R
3             Определять  2005-04-30      1:10:00                  PG-13
4          Офицер вполне  1976-10-26      2:41:00                  NC-17
..                   ...         ...          ...                    ...
144        Музыка Миссис  1982-02-03      1:09:00                  PG-13
145           Количество  2014-04-07      2:22:00                  NC-17
146           Предлагать  1992-12-01      1:46:00                  PG-13
147  Ну представьте себе  2011-12-13      1:19:00                  NC-17
148             Особенно  2022-01-19      2:05:00                      R

     Рейтинг  Ссылка на кинопоиск  \
0        7.7                  770
1        8.0                 9809
2        9.9                 4860
3        8.8                 5035
4        8.8                 1050
..       ...                  ...
144      5.6                 5399
145      5.4                 7485
146      6.3                 8755
147      7.8                 7870
148      6.1                 6716

                                              Описание
0    Встать полевой спасть помимо. Заплакать заведе...
1    Функция проход другой табак ложиться ломать. Д...
2    Рай интеллектуальный передо тута выразить. Изд...
3    Нервно налево господь народ радость. Терапия в...
4    Командующий куча космос через плавно намерение...
..                                                 ...
144  Четыре запретить роскошный горький равнодушный...
145  Рабочий возможно пастух пятеро перебивать смея...
146   Рис ремень зарплата медицина выраженный горький.
147  Демократия кольцо сутки миф зачем. Опасность г...
148                       Космос коробка порог трясти.

[149 rows x 7 columns]

In [8]:
def movies_insert(movie_names,release_dates,durations,mpaas,ratings,kp_ids,descriptions):
    queries = """INSERT INTO "public.Movies" (name, release_date, duration, mpaa, rating, kp_id, description) VALUES"""
    for i in range(len(movie_names)):
        query = f"""
	('{movie_names[i]}','{release_dates[i]}','{durations[i]}','{mpaas[i]}',{ratings[i]},'{int(kp_ids[i])}',
		'{descriptions[i]}')"""
        if i == len(movie_names)-1: query_end = """;"""
        else: query_end = ""","""
        queries = queries + query + query_end
    return queries

In [9]:
movie_names = df_movies_random['Название']
release_dates = df_movies_random['Дата выхода']
durations = df_movies_random['Длительность']
mpaas = df_movies_random['Возрастное ограничение']
ratings = df_movies_random['Рейтинг']
kp_ids = df_movies_random['Ссылка на кинопоиск']
descriptions = df_movies_random['Описание']

print(movies_insert(movie_names,release_dates,durations,mpaas,ratings,kp_ids,descriptions))

INSERT INTO "public.Movies" (name, release_date, duration, mpaa, rating, kp_id, description) VALUES
	('Сила страны','1976-01-27','2:20:00','NC-17',7.7,'770',
		'Встать полевой спасть помимо. Заплакать заведение экзамен изучить господь. Заложить изучить отъезд нервно лететь тревога.'),
	('Включая','2011-02-25','2:02:00','R',8.0,'9809',
		'Функция проход другой табак ложиться ломать. Даль кожа роскошный приятель. Тревога находить угроза заплакать факультет.'),
	('Бал год','1975-07-18','2:46:00','R',9.9,'4860',
		'Рай интеллектуальный передо тута выразить. Издали актриса ученый означать.'),
	('Определять','2005-04-30','1:10:00','PG-13',8.8,'5035',
		'Нервно налево господь народ радость. Терапия виднеться заработать монета.'),
	('Офицер вполне','1976-10-26','2:41:00','NC-17',8.8,'1050',
		'Командующий куча космос через плавно намерение. Райком пропадать поймать изображать аллея тесно рис. Наткнуться дыхание горький коллектив.'),
	('Последний официальный точно','1983-11-02','1:20:00','PG',7.2,'6620',
		'Плясать жить спасть сходить ложиться. Постоянный мальчишка желание задержать о монета танцевать мальчишка.'),
	('За организационным искусством','1986-03-12','2:13:00','PG-13',8.9,'2963',
		'Возможно отметить нервно рот. Редактор выгнать райком поздравлять.'),
	('Тип семейства','2002-11-07','2:28:00','NC-17',8.4,'3679',
		'Указанный решетка мгновение провинция.'),
	('Отец смены станции','2023-09-13','2:45:00','PG-13',9.9,'6328',
		'Светило тревога армейский плясать мимо прежний о. Карман результат новый четко передо соответствие.'),
	('Запад','2012-10-24','1:54:00','R',9.0,'9060',
		'Роса да тесно вскинуть полоска указанный кузнец хлеб. Услать поезд написать рис задержать хозяйка волк. Угроза один ботинок пастух остановить космос. За вздрогнуть господь коммунизм недостаток освободить передо жестокий.'),
	('Знакомство с природой','2005-06-02','2:34:00','NC-17',9.4,'8431',
		'Очутиться место факультет слишком сынок коллектив вывести носок.'),
	('Теперь даже','2013-05-20','1:03:00','NC-17',9.5,'5493',
		'Заплакать мучительно четыре премьера левый человечек пробовать. Прощение господь виднеться интернет товар эффект тесно. Следовательно печатать очутиться применяться приходить. Оборот пламя соответствие место костер.'),
	('Другие тоже сами','1976-07-12','2:01:00','R',5.3,'2084',
		'Степь ставить дрогнуть тревога пространство темнеть дорогой. Выражаться медицина покинуть оставить. Нервно освободить танцевать лететь.'),
	('Этот адвокат по заданию','1988-09-11','2:37:00','R',9.9,'6062',
		'Анализ прежний дурацкий ломать висеть следовательно командир. Коллектив засунуть точно остановить коммунизм.'),
	('Окно сто индивидуальное','2006-07-13','1:05:00','NC-17',8.3,'6384',
		'Слать ремень низкий построить пробовать даль.'),
	('Встряхнуть администрацию','1992-01-26','1:37:00','PG-13',7.4,'3182',
		'Висеть степь выразить вообще витрина. Освободить какой иной поздравлять непривычный. Зачем грустный смеяться издали приходить.'),
	('Школа разумного возраста','1992-05-30','1:26:00','PG',5.7,'2587',
		'Очко подземный при понятный перебивать. Нож деловой солнце актриса решение приходить что. Костер факультет рабочий очко. Свежий пробовать тесно песенка скользить иной танцевать.'),
	('Усилие определенного ветра','2010-01-14','2:18:00','PG',8.0,'3764',
		'Демократия ручей забирать невыносимый. Ложиться приличный руководитель неправда понятный прощение.'),
	('Прогулочное стекло','1995-03-04','2:24:00','R',8.4,'7296',
		'Табак приличный перебивать пробовать висеть социалистический. Да медицина печатать хозяйка сверкать. Пробовать достоинство прежний коричневый кидать хозяйка бетонный. Природа оборот возбуждение изображать призыв обида.'),
	('К','1986-06-09','1:17:00','G',9.8,'6301',
		'Ручей вообще вообще жестокий. Построить костер вздрогнуть неудобно лететь еврейский. Даль дошлый человечек бабочка ныне кожа приличный князь.'),
	('Достигать','1982-10-05','1:05:00','PG-13',7.7,'7818',
		'А какой манера блин следовательно. Функция услать палата дрогнуть.'),
	('Место, желающее место','1994-03-11','1:28:00','PG-13',6.3,'6087',
		'Ленинград указанный собеседник материя цвет намерение плясать.'),
	('Религиозный демократ','2012-07-20','2:25:00','PG',9.6,'852',
		'Приличный природа подземный пол коробка. Солнце направо плод приятель ставить.'),
	('Позволять','1991-01-12','2:43:00','PG',7.1,'8418',
		'Монета заявление растеряться мимо применяться бабочка вздрогнуть.'),
	('Брат часть средняя','1981-10-02','2:50:00','R',7.3,'3551',
		'Рот услать миллиард куча. Потом мгновение палка постоянный научить. Неправда скрытый каюта развитый господь витрина. Оборот вообще промолчать.'),
	('Семья','2018-01-21','1:44:00','NC-17',6.7,'5905',
		'Болото угроза коричневый увеличиваться монета.'),
	('Эксперт','2019-01-14','1:45:00','PG-13',8.1,'3785',
		'Вздрогнуть академик один порядок танцевать бок полностью. Важный другой приятель куча заработать плавно изба. Головка редактор тесно приходить поймать издали процесс кидать.'),
	('Означает поддержку когда-либо','1976-12-27','1:02:00','G',7.4,'9960',
		'Падать трясти хотеть вряд табак решение правление. Дальний еврейский кпсс конференция цель привлекать. Пространство мягкий функция какой способ.'),
	('Определить, определить вид','2002-11-30','2:44:00','PG',5.3,'9187',
		'Неправда соответствие изображать поздравлять. Дорогой приличный четко командир.'),
	('Земля','2004-11-14','1:33:00','PG-13',5.3,'8629',
		'Неправда командование лиловый полевой смеяться ярко пища. Развернуться кпсс роса приятель художественный прощение запустить. Одиннадцать лиловый провал возмутиться. Бок невозможно свежий развитый.'),
	('Особо светлый','1993-09-21','2:43:00','PG-13',10.0,'4964',
		'Возникновение спешить развитый мягкий естественный район заработать. Наступать прощение тесно невыносимый.'),
	('Ничего не упоминай, наш','2013-10-12','2:36:00','NC-17',8.9,'3803',
		'Пробовать механический советовать. Трясти бочок потянуться.'),
	('Добрый или','1986-12-26','1:49:00','G',7.9,'7256',
		'Функция командующий советовать развитый полевой появление. Даль что мелькнуть.'),
	('Знак суммы момента','1993-12-12','1:07:00','R',5.8,'7979',
		'Место ложиться зачем пересечь багровый блин плавно. Около редактор экзамен коробка житель горький разводить лапа. Означать единый коричневый бегать.'),
	('Все вылезает наружу','1977-12-22','2:12:00','G',7.7,'6699',
		'Сопровождаться одиннадцать дорогой слать. Цель июнь вообще господь. Господь дошлый через кожа ученый второй. Домашний прелесть тусклый дружно пища.'),
	('Простая кампания','1995-12-28','1:11:00','PG',6.1,'5642',
		'Оборот лететь бочок желание поздравлять. Услать вперед вздрогнуть господь возмутиться.'),
	('Существующее решение','2022-04-04','2:34:00','PG-13',5.2,'1922',
		'Мучительно даль потянуться медицина тута. Танцевать спешить инвалид художественный интеллектуальный.'),
	('Обращаться','2021-07-10','2:16:00','NC-17',9.2,'5662',
		'Реклама провал зачем исполнять танцевать ботинок. Мягкий возникновение актриса сомнительный очутиться команда. При князь нервно мусор функция кожа.'),
	('Поздно счастлив','1983-08-03','1:32:00','NC-17',5.5,'3828',
		'Багровый демократия крутой естественный руководитель карандаш. Перебивать один уронить пространство о что.'),
	('Середина','2020-09-04','1:36:00','NC-17',6.2,'623',
		'Назначить тусклый монета салон покидать приятель. Войти райком издали холодно направо.'),
	('Работа','1996-12-03','1:26:00','NC-17',8.3,'8090',
		'Рот следовательно приятель актриса. Цепочка бегать разводить пропасть поставить пасть плод. Дружно войти приятель смертельный лапа.'),
	('Никогда не режь','1995-03-26','2:00:00','G',9.8,'5032',
		'Монета ведь пламя вскинуть затянуться тысяча ленинград. Мимо вытаскивать серьезный космос аллея неправда.'),
	('Введите другой','2006-06-25','1:14:00','PG',9.6,'6512',
		'Чувство медицина командующий. Выражаться пасть цепочка покинуть интернет упор серьезный.'),
	('Признайся во всем','2002-02-01','1:27:00','R',7.4,'5432',
		'Написать вариант возмутиться указанный дорогой факультет. Протягивать холодно встать. Второй скользить возмутиться падаль успокоиться.'),
	('Муж','2022-06-20','2:21:00','R',9.1,'9566',
		'Вообще пламя появление холодно слишком. Левый сынок экзамен похороны вообще. Порядок тысяча равнодушный тяжелый спорт невозможно приходить.'),
	('Если страдать','1984-04-09','2:23:00','PG',8.1,'1275',
		'Очко подробность задержать правый вскинуть приходить возникновение. Что печатать уронить сомнительный вывести. Собеседник упорно серьезный совет успокоиться печатать.'),
	('Возможно, сначала','2009-08-25','1:18:00','PG',5.2,'9642',
		'Вскинуть легко посвятить угроза страсть. Вывести вообще ставить хозяйка развитый ребятишки указанный.'),
	('Набор отчетов','1978-04-19','1:56:00','PG',6.4,'9029',
		'Прелесть равнодушный порядок чувство выраженный. Пища слишком изредка. Карман хозяйка художественный совет одиннадцать потом отдел собеседник.'),
	('С','1995-09-29','2:21:00','PG',5.3,'2482',
		'Поставить мусор салон.'),
	('Влияние на сайт','1993-08-22','2:36:00','NC-17',6.3,'1820',
		'Страсть инструкция горький. Издали руководитель плод постоянный ученый выразить кузнец.'),
	('По появлению','2004-11-09','1:22:00','NC-17',7.7,'9308',
		'Неожиданно угодный строительство интеллектуальный витрина разуметься. Смелый куча поколение потом рассуждение сутки результат. Сверкать дошлый пятеро аллея слишком рассуждение.'),
	('Все вызывают','1977-10-25','2:14:00','G',7.6,'8808',
		'Шлем пропаганда очутиться выдержать некоторый разнообразный коричневый. Возмутиться хотеть трубка мгновение поговорить.'),
	('Часовое здание','2020-07-17','2:46:00','NC-17',7.0,'6962',
		'Салон редактор райком намерение. Привлекать рассуждение собеседник пища. Строительство радость изредка головной засунуть. Запретить монета поколение точно.'),
	('Ответь хотя подумай','2004-03-11','1:14:00','NC-17',5.4,'5505',
		'Протягивать неожиданно армейский вообще домашний тревога. Полюбить мелочь плясать сверкающий другой. Самостоятельно бегать издали князь естественный.'),
	('Надеяться','1996-03-30','1:53:00','G',5.0,'1884',
		'Советовать провал космос находить проход трясти строительство. Ремень кольцо прежде другой заплакать выдержать материя. Бочок привлекать умирать угроза монета расстройство прелесть.'),
	('Разница','1975-08-18','1:18:00','NC-17',5.7,'6663',
		'Мелькнуть граница господь число функция новый. Потом плясать художественный слать важный кольцо проход цель. Налоговый витрина магазин сопровождаться.'),
	('Позже','2013-05-06','1:01:00','NC-17',6.9,'5752',
		'Инвалид мусор порог. Багровый сынок правильный изменение возбуждение интеллектуальный.'),
	('Все может быть','2012-08-10','2:07:00','NC-17',6.0,'2190',
		'Уронить мягкий металл домашний труп. Тысяча команда правильный. Носок выраженный угодный функция слишком за.'),
	('Север','2001-11-17','2:22:00','G',7.6,'8630',
		'Рассуждение граница казнь развитый зеленый труп очередной. Ставить коллектив миллиард эффект плясать волк секунда.'),
	('Голосуйте за ту же часть','2016-05-05','1:42:00','NC-17',5.3,'8631',
		'Мелочь самостоятельно выраженный точно добиться правление дрогнуть факультет. Райком металл тысяча ночь космос вскакивать.'),
	('Поинт-команда','1999-10-29','1:39:00','R',5.9,'8895',
		'Картинка цель болото вчера космос потом народ. Единый забирать витрина коммунизм роскошный зима похороны.'),
	('Расходы','2014-11-09','2:02:00','R',5.2,'5307',
		'Потрясти один правление. Покидать исследование анализ рабочий успокоиться жестокий палец. Выражаться обида провал изба.'),
	('Одно целое раскрытие','2012-04-11','2:04:00','R',9.6,'2010',
		'Другой число боец рассуждение порядок багровый. Поймать господь применяться аллея сомнительный порядок.'),
	('Трудно идентифицировать','1996-07-21','1:34:00','PG',5.0,'7937',
		'Ребятишки следовательно зима выдержать. Дрогнуть результат уничтожение запретить.'),
	('Беспокоите нас','2022-10-12','2:03:00','NC-17',8.5,'6023',
		'Процесс изображать ремень указанный мгновение картинка. Правление оборот ленинград команда пробовать расстройство. Кпсс пастух беспомощный костер.'),
	('Еще','2013-09-25','1:35:00','G',6.3,'7382',
		'Достоинство танцевать очередной заработать привлекать. При построить еврейский расстегнуть. Применяться тревога князь банда да пятеро металл.'),
	('Один раз','1980-05-14','1:40:00','G',8.9,'5562',
		'Инфекция парень заведение провал. Заложить ботинок функция палец господь. Девка порог вздрогнуть вскинуть зачем.'),
	('Иностранный довольно','1984-01-01','2:35:00','NC-17',9.6,'6496',
		'Встать неожиданный порт серьезный. Зеленый отметить совещание покинуть бетонный порт одиннадцать. Столетие горький головка неправда вскакивать район плясать угодный.'),
	('Беспокойство','2013-04-03','2:54:00','PG',5.7,'1816',
		'Житель ягода наткнуться материя. Плод спасть порядок конференция предоставить спорт вариант. Головка ломать премьера ленинград пробовать.'),
	('Чувство атаки читать','2021-12-13','1:46:00','R',8.2,'1714',
		'Запеть интернет зима деньги. Настать жидкий набор.'),
	('Явный рост производства','2022-02-01','1:28:00','PG-13',6.5,'741',
		'Означать спасть развернуться. Бегать низкий правление счастье.'),
	('Миссис Мейн Муха','1995-12-20','2:41:00','NC-17',9.8,'6132',
		'Поколение подземный полностью дурацкий неожиданный бабочка. Поздравлять непривычный провинция июнь банда мальчишка решетка.'),
	('Вытащите студента','1998-08-16','1:43:00','NC-17',5.9,'6896',
		'Правильный тута космос житель школьный приличный сопровождаться. Расстройство кузнец сынок.'),
	('Фонд мира','1994-10-22','1:56:00','PG',5.7,'4997',
		'Очко чем назначить лететь скрытый инфекция. Мимо мера очко четко функция потом. Второй секунда казнь тяжелый белье космос.'),
	('Требовать','1986-10-30','1:47:00','PG-13',7.2,'1274',
		'Прежде подземный валюта желание смертельный неправда витрина. Ленинград ход чем изучить ведь штаб степь.'),
	('Купить','1981-08-27','2:07:00','G',5.3,'9784',
		'Оставить хлеб теория возмутиться пространство. Избегать изба кольцо присесть покидать медицина столетие. Зима мальчишка покинуть передо.'),
	('Современные другие учат','1988-05-30','2:01:00','PG-13',5.9,'5835',
		'Невозможно порог помолчать горький социалистический аж тысяча. Снимать поезд правильный жить июнь термин вперед. Висеть бригада привлекать манера уничтожение упор. Зато поколение беспомощный неправда манера функция.'),
	('Люди','1987-12-28','2:50:00','R',7.9,'8458',
		'Растеряться солнце одиннадцать. Мучительно означать мимо исполнять крутой. Песня неудобно плавно командование помолчать новый.'),
	('Медицинский брат, да','1987-10-21','2:04:00','PG-13',8.4,'1004',
		'Ягода порог уточнить невыносимый. Прошептать степь достоинство вряд пища изучить.'),
	('Медицинское сообщество','1978-02-28','2:43:00','G',8.9,'8567',
		'Сбросить способ сомнительный спасть заработать освободить.'),
	('Вообще-то, отдохни после обеда','2001-01-04','2:36:00','PG',9.7,'6928',
		'Около сохранять пропадать ночь плавно плод. Эффект естественный приятель мрачно сустав неожиданный проход.'),
	('Служить','1975-12-20','2:34:00','PG',7.2,'3122',
		'Пятеро порог коллектив совещание возмутиться правление развернуться пища. Проход ремень премьера посидеть уронить бочок интеллектуальный решение. Носок инфекция около порог изображать разуметься материя.'),
	('Нация его поперек','1999-05-12','1:14:00','R',7.2,'3994',
		'Функция выражение песня неожиданный невозможно смеяться. Лететь неправда горький багровый. Одиннадцать темнеть а изба куча.'),
	('Живой мальчик, звук','1977-04-06','2:40:00','R',6.4,'1131',
		'Четыре мальчишка командующий спорт поставить затянуться издали сопровождаться. Похороны даль ночь находить висеть торопливый. Мотоцикл о хозяйка бригада изображать выбирать предоставить триста.'),
	('Большой','1982-11-06','1:48:00','G',7.8,'8163',
		'Выраженный ученый единый применяться. Указанный четыре холодно казнь заплакать.'),
	('Агент по отцу','2021-08-08','1:16:00','R',8.5,'5604',
		'Затянуться угол костер пламя. Пересечь граница выраженный коричневый. Печатать прелесть выражаться близко призыв жестокий.'),
	('Медицинский там, потому что','1977-07-03','1:11:00','G',6.7,'5509',
		'Художественный жидкий выраженный интеллектуальный успокоиться смертельный более.'),
	('Синие наши они','2007-07-29','1:18:00','G',6.0,'5406',
		'Развитый палата идея командование миф житель. Сверкающий граница функция решетка написать бетонный.'),
	('Вести','1995-08-20','2:19:00','PG',7.8,'2239',
		'Монета шлем отъезд падать армейский. Отметить демократия пробовать пропасть конференция мотоцикл.'),
	('Потерять магазин вечером','2018-08-25','1:46:00','R',6.5,'9848',
		'Подземный следовательно монета. Очко полюбить картинка предоставить.'),
	('Характер','2015-06-02','2:01:00','PG',6.2,'8974',
		'Горький роса дошлый поговорить порог неудобно бегать. Крыса совещание за очко.'),
	('Кровать говорит бит','2023-03-21','2:22:00','R',8.0,'6009',
		'Сравнение госпожа космос лапа. Факультет грудь сопровождаться неожиданно функция лететь.'),
	('Вскоре компьютер и','1975-03-20','1:30:00','PG-13',7.2,'5592',
		'Дрогнуть господь угол левый неудобно способ. Даль поймать отъезд выкинуть а дошлый. Тусклый табак число налоговый уточнить магазин падаль.'),
	('Две войны','1980-02-23','1:28:00','PG',6.0,'8153',
		'Зима ломать развернуться низкий рот соответствие падать. Сбросить блин славный бабочка коллектив покинуть цепочка.'),
	('Мог распознать','2022-05-07','2:23:00','NC-17',9.6,'9804',
		'Советовать встать хотеть. Вытаскивать естественный иной реклама нервно. Граница заведение мгновение кпсс экзамен потрясти.'),
	('Поднимись, слушай','1996-11-07','1:51:00','PG',9.8,'5818',
		'Потом перебивать помолчать неправда появление расстегнуть советовать. Уронить что заявление покидать плясать провинция промолчать горький. Тысяча сомнительный мальчишка.'),
	('День национального генерала','2016-06-26','1:37:00','PG-13',8.9,'9508',
		'Бетонный цвет человечек скользить обида граница. Ход термин кольцо. Светило строительство неожиданный коричневый уронить коммунизм ботинок палец.'),
	('Петь','2020-03-14','2:08:00','G',6.1,'6324',
		'При блин валюта степь армейский. Правление пища умирать.'),
	('Каждое близкое открытие','2002-06-04','1:01:00','R',6.2,'9103',
		'Ход подземный ломать чувство. Пропаганда невыносимый какой собеседник роскошный порядок.'),
	('Угроза, которой мы служим','2019-08-21','2:14:00','G',8.1,'4323',
		'Рабочий очко разнообразный научить коллектив школьный. Ручей мелочь жестокий терапия тусклый. Ботинок непривычный наслаждение.'),
	('Мировая сумка-машина','1995-10-11','2:21:00','PG-13',8.1,'2716',
		'Услать мальчишка помолчать возникновение инвалид. Инфекция ставить академик обида зима. Мелочь еврейский мера материя поставить руководитель правление наслаждение.'),
	('Бесплатно','2012-09-02','2:31:00','NC-17',5.9,'2246',
		'Багровый адвокат советовать. При заложить зачем район успокоиться эффект неудобно. Правление а мера эпоха порт забирать.'),
	('Коробка','2012-02-18','1:12:00','NC-17',6.0,'1917',
		'Роса бочок неожиданный манера радость. Хлеб заведение пасть четыре салон.'),
	('Вода','1986-05-24','2:42:00','NC-17',9.7,'8125',
		'Мера дружно товар расстегнуть провал мрачно сомнительный назначить. Освободить вздрогнуть порода прежний лететь командующий. Адвокат бровь товар подземный.'),
	('Класс закрыть','2005-07-04','2:47:00','PG',9.9,'2832',
		'Тута неправда каюта наткнуться один. Дурацкий заплакать разнообразный слать космос отъезд командование выраженный. Зеленый естественный мгновение.'),
	('Энергия','2023-03-27','2:31:00','R',6.3,'1115',
		'Вскинуть затянуться потянуться дальний госпожа лететь возникновение. Другой отъезд мелочь голубчик командование чувство еврейский призыв. Человечек похороны невозможно другой слишком посидеть протягивать.'),
	('Впереди опыт брата','1984-12-12','1:50:00','R',6.4,'6557',
		'Зато упорно очко рай мрачно возможно. Намерение желание господь. Солнце табак грудь пересечь поймать невозможно кпсс.'),
	('Различный','2011-01-11','1:25:00','PG',5.7,'8645',

In [10]:
def members_insert(member_names,birth_dates,birth_places,heights):
    queries = """INSERT INTO "public.Film_crew_members" (name, birthday, birthplace, height) VALUES"""
    for i in range(len(member_names)):
        query = f"""
	('{member_names[i]}','{birth_dates[i]}','{birth_places[i]}',{int(heights[i])})"""
        if i == len(member_names)-1: query_end = """;"""
        else: query_end = ""","""
        queries = queries + query + query_end
    return queries

In [11]:
excel_file = 'members_random.xlsx'

df_members_random = pd.read_excel(excel_file)

print(df_members_random)

               Имя Дата рождения                       Место рождения  Рост
0        Мисти Бун    1970-05-13             Екатеринфурт, Черногория   146
1    Роберт Тайлер    1949-03-13                Кассандрашир, Албания   178
2     Мари Меркадо    1971-10-10                 Чапманстад, Гондурас   169
3     Рассел Адамс    1977-04-09                  Бинхейвен, Зимбабве   152
4       Майкл Уэйд    2000-11-08  Западный Эндрюленд, Уоллис и Футуна   146
..             ...           ...                                  ...   ...
195  Элизабет Хьюз    1985-10-02              Порт-Анжела, Узбекистан   168
196   Ричард Комбс    1987-03-16                    Брайанборо, Тунис   200
197   Сидни Морроу    1966-10-13                Озеро Эшли, Аргентина   161
198     Келли Кокс    1973-03-11                   Нансиберг, Албания   191
199   Иоланда Смит    1951-08-01                 Западный Челси, Кипр   157

[200 rows x 4 columns]

In [12]:
member_names = df_members_random['Имя']
birth_dates = df_members_random['Дата рождения']
birth_places = df_members_random['Место рождения']
heights = df_members_random['Рост']

print(members_insert(member_names,birth_dates,birth_places,heights))

INSERT INTO "public.Film_crew_members" (name, birthday, birthplace, height) VALUES
	('Мисти Бун','1970-05-13','Екатеринфурт, Черногория',146),
	('Роберт Тайлер','1949-03-13','Кассандрашир, Албания',178),
	('Мари Меркадо','1971-10-10','Чапманстад, Гондурас',169),
	('Рассел Адамс','1977-04-09','Бинхейвен, Зимбабве',152),
	('Майкл Уэйд','2000-11-08','Западный Эндрюленд, Уоллис и Футуна',146),
	('Эми Гилл','1959-06-22','Вест-Стейси, Камерун',192),
	('Лиза Валенсуэла','1985-03-09','Франсистаун, Колумбия',204),
	('Лори Джордан','1983-05-05','Маршаллмут, Южная Африка',187),
	('Дэниел Джонсон','1997-03-29','Винсентбург, Панама',210),
	('Дэвид Диас','1958-03-21','Восточный Джошуа, Нигерия',162),
	('Тоня Родригес','1957-08-14','Дженниферпорт, Йемен',192),
	('Алекс Гарза','1961-12-10','Брайанмут, Острова Кука',143),
	('Сара Чавес','1991-04-15','Порт Доннамут, Турция',140),
	('Джошуа Фелпс','1977-08-03','Вест-Марк, Лаосская Народно-Демократическая Республика',186),
	('Джереми Хэнсон','1994-10-26','Западный Николеленд, Сент-Китс и Невис',151),
	('Дженнифер Вебер','1978-06-09','Ризтон, Остров Буве (Буветойя)',189),
	('Маргарет Майлз','1977-02-11','Клементстон, Ливан',144),
	('Бриана Гарретт','1964-05-18','Дженнатон, Гондурас',205),
	('Реджина Фелпс','1965-10-17','Уэст-Закари, Кот-д'Ивуар',194),
	('Джейми Браун','1972-04-13','Порт-Даррелл, Малави',191),
	('Габриэль Гонсалес','1994-08-20','Южный Джоннихейвен, Мавритания',198),
	('Томас Ли','1962-05-26','Холденмут, Ирландия',174),
	('Элизабет Хендерсон','1950-07-22','Роуччестер, Молдова',194),
	('Томас Медина','1946-09-05','Сандратаун, Лаосская Народно-Демократическая Республика',143),
	('Кристин Кальдерон','1997-05-15','Южный Шон, Чили',169),
	('Тимоти Моралес','1959-04-29','Корисайд, Остров Буве (Буветойя)',177),
	('Марк Дэвис','1984-06-29','Гонсалесстад, Джорджия',195),
	('Кортни Купер','1968-02-22','Озеро Майклшир, Монтсеррат',176),
	('Робин Гудман','1975-06-15','Озеро Мариаленд, Словакия (Словацкая Республика)',163),
	('Шелли Вагнер','1983-07-18','Колонмут, Новая Каледония',157),
	('Дерек Бонд','1986-05-20','Вильянуэвапорт, Ямайка',154),
	('Эрин Буш','1956-08-09','Перезшир, остров Мэн',208),
	('Кортни Эллиотт','1946-06-20','Памелапорт, Бурунди',146),
	('Мелисса Роу','1993-04-29','Нью-Шаронстад, Гана',162),
	('Джерри Родригес','1955-09-20','Норт-Эшлипорт, Филиппины',174),
	('Бенджамин Буш','1977-08-03','Аннаборо, Бермуды',145),
	('Майкл Батлер','1966-06-26','Восточный Кристианхейвен, Эстония',145),
	('Алан Аллен','1981-11-04','Джонсонмут, Либерия',202),
	('Джейкоб Принс','1977-05-21','Северный Адамфурт, Мозамбик',155),
	('Джанет Шепард','1968-10-03','Нью-Закари, Того',206),
	('Кайла Комбс','1945-10-08','Вест Роберт, Эритрея',150),
	('Бенджамин Чен','1954-12-07','Северный Чадборо, остров Норфолк',174),
	('Роберт Майкл','1961-07-30','Джамифурт, Кипр',160),
	('Ребекка Шаффер','1976-02-03','Келлишир, Габон',143),
	('Мария Келлер','1991-04-26','Норт-Холли, Вануату',156),
	('Диана Андерсон','1965-05-29','Дрейкмут, Острова Кука',198),
	('Майкл Кабрера','1974-05-25','Джойбург, Чад',171),
	('Келли Баллок','1961-07-21','Вест-Джеймс, Хорватия',165),
	('Мишель Джонсон','1994-06-02','Южный Келсиберг, Тувалу',186),
	('Кэрри Генри','1996-03-02','Озеро Кассандра, Гвинея',174),
	('Паула Стронг','1969-01-15','Северный Закари, Антарктида (территория южнее 60 град. ю.ш.)',157),
	('Дэвид Адамс','1966-02-18','Вильянуэвамут, Гаити',148),
	('Лиза Торрес','1972-02-28','Восточный Натан, Фолклендские (Мальвинские) острова',178),
	('Кристал Лоу','1963-11-08','Домингесбери, Франция',170),
	('Эмили Галлахер','1990-07-26','Меганбери, Турция',190),
	('Уильям Уильямс','1958-09-20','Ротфорт, Тунис',177),
	('Грегори Мартинес','1969-02-25','Южный Холливиль, Камерун',150),
	('Маргарет Райт','1962-12-27','Озеро Шаронфурт, Казахстан',144),
	('Патрисия Кросби','1958-12-07','Нью-Денизленд, Греция',185),
	('Кайла Янг','1994-10-27','Норт-Донна, Тувалу',183),
	('Алан Грин','1990-05-10','Джонсонвью, Эстония',156),
	('Эдуардо Джонсон','1975-10-21','Уилсоншир, Палестинская территория',147),
	('Линда Филлипс','1994-06-28','Ороскохавен, Тувалу',179),
	('Кэтрин Холт','1947-12-22','Томасленд, Сейшельские острова',187),
	('Кристофер Тейлор','1946-06-25','Южный Робертвью, Северная Македония',183),
	('Джессика Дэвис','1986-01-15','Нью-Закари, Филиппины',202),
	('Джилл Томас','1967-05-13','Эндрюленд, Коста-Рика',145),
	('Рене Дэвис','1964-02-25','Озеро Майклленд, Замбия',167),
	('Стивен Купер','1984-02-02','Тройстад, Тонга',187),
	('Скотт Стэнли','1987-10-10','Сандичестер, Австрия',145),
	('Тэмми Ким','1977-04-20','Джастинхейвен, Пуэрто-Рико',179),
	('Венди Эскобар','1967-11-05','Анитахавен, Суринам',164),
	('Роберт Петерсон','1956-06-14','Шаронберг, Лесото',174),
	('Джордж Франк','1994-05-22','Дебравиль, Острова Кука',173),
	('Дэниел Родригес мл.','1974-06-18','Янгстад, Таиланд',190),
	('Лэнс Брайан','1963-04-03','Озеро Майкл, Французская Гвиана',165),
	('Бет Гарсия','1992-12-23','Кристоферстад, Афганистан',176),
	('Кеннет Харви','1948-01-14','Санчесмут, Франция',148),
	('Эдвард Холмс','1956-02-18','Уоллесестад, Нидерландские Антильские острова',208),
	('Александра Мартинес','1995-11-22','Даниэльланд, Финляндия',202),
	('Мелисса Вуд','1995-04-15','Дженкинсмут, Никарагуа',204),
	('Джастин Уокер','1998-04-09','Бендермут, Камбоджа',159),
	('Филип Петерсон','1969-08-25','Бауэрсленд, остров Норфолк',190),
	('Рэнди Дженкинс','1988-01-25','Ист-Мишельхейвен, Палестинская территория',150),
	('Натаниэль Монтгомери','1979-03-13','Нью-Джон, Мальдивы',210),
	('Виктория Миллер','1996-05-01','Озеро Кристен, Камбоджа',202),
	('Линда Макинтайр','1988-07-14','Кайлмут, Египет',196),
	('Стивен Джонсон','1995-09-12','Спенсерборо, Турция',170),
	('Сара Сильва','1986-03-21','Линнланд, Монако',168),
	('Дэвид Уилсон','1997-11-26','Северный Лауренберг, Святой Престол (государство Ватикан)',194),
	('Кейтлин Коллиер','1993-08-26','Вест-Эндрю, Беларусь',143),
	('Майкл Джонсон','1988-09-16','Бэнксбери, Сан-Марино',193),
	('Маргарет Вагнер','1958-05-07','Озеро Амандачестер, Таиланд',182),
	('Майкл Камачо','1986-12-24','Нью-Кэтринвью, Самоа',156),
	('Джошуа Николсон','1972-07-06','Ист-Джоан, Венесуэла',185),
	('Стивен Салливан','1983-05-13','Озеро Сараленд, Маврикий',168),
	('Джеффри Фуллер','1997-12-19','Мелиссамут, Ямайка',202),
	('Мелисса Райт','1995-11-01','Кристинтаун, Монтсеррат',188),
	('Пол Джонс','1990-02-13','Южная Ребекка, Португалия',145),
	('Джордж Онейл','1964-12-25','Южный Джерритон, Антарктида (территория южнее 60 град. ю.ш.)',142),
	('Дуглас Миллер','1952-06-09','Остинфурт, Сен-Мартен',200),
	('Андре Джексон','1950-12-17','Озеро Джон, Зимбабве',169),
	('Дженис Перес','1979-01-06','Ангелачестер, Гана',141),
	('Чейз Уолтерс','1996-06-06','Ренемут, Американское Самоа',186),
	('Кэти Леон','1980-02-17','Новый Каренфорт, Сербия',156),
	('Бриттани Фицджеральд','1992-03-27','Новый Роберт, Польша',176),
	('Шон Гонсалес','1949-03-24','Сантон, Коста-Рика',154),
	('Джозеф Уильямсон','1989-01-20','Питтспорт, Науру',194),
	('Уитни Эрнандес','1945-04-03','Вест-Джонбери, Гватемала',199),
	('Элисон Лайонс','1952-03-16','Порт-Ройфорт, Науру',156),
	('Кэролин Моралес','1976-11-17','Южная Патрисия, Индия',167),
	('Кэтрин Трэвис','1951-03-17','Андреамут, Судан',205),
	('Даниэль Эверетт','1959-02-08','Южный Кристианфорт, Гамбия',196),
	('Кэссиди Блейк','1978-07-13','Дженниферберг, Доминика',181),
	('Хуан Бриджес','1999-09-04','Ист-Донбург, Мексика',158),
	('Майкл Уоттс','1972-08-08','Западный Трависфурт, Кения',163),
	('Эмили Хаффман','1999-05-20','Стивенленд, Сент-Люсия',170),
	('Брэндон Хайден','1984-02-10','Джонстад, Сомали',190),
	('Эшли Адамс','1967-10-19','Восточный Томасфурт, Мозамбик',187),
	('Питер Бест','1973-07-06','Порт-Кристофер, Тайвань',154),
	('Бриттни Филлипс','1955-07-15','Колинтаун, США',174),
	('Альберт Вудс','1976-01-22','Вест-Стефани, Замбия',197),
	('Роберт Пейдж','1996-04-22','Холландмут, Монако',147),
	('Закари Бартлетт','1972-11-29','Южный Джессикафорт, Сен-Бартелеми',206),
	('Эмбер Ривера','1967-05-03','Лимут, Швейцария',144),
	('Кэрол Торрес','1984-06-16','Южный Омарланд, Венесуэла',182),
	('Кэти Бак','1961-07-23','Нью-Сонтон, Тувалу',169),
	('Джеймс Уайт','1953-08-19','Южный Кристенпорт, Сен-Мартен',210),
	('Мишель Кляйн','1992-05-08','Попебург, Малайзия',143),
	('Шон Тейт','1983-09-29','Северный Бетланд, Руанда',169),
	('Дэвид Галлоуэй','1959-10-25','Анджелашир, Тонга',143),
	('Мишель Вудс','1984-09-20','Полхейвен, Филиппины',164),
	('Келли Гордон','1978-04-04','Вест-Майкл, Бруней-Даруссалам',201),
	('Кори Джордан','1964-01-08','Порт Кимберли, Беларусь',149),
	('Чарльз Нельсон','1983-10-16','Кимберличестер, Палестинская территория',158),
	('Меган Кларк','1975-12-13','Кайлбург, Мадагаскар',198),
	('Бэйли Уотсон','1950-07-21','Порт-Шерри, остров Мэн',201),
	('Кари Грин','1992-06-18','Эмимут, Буркина-Фасо',142),
	('Дэвид Коллинз','1992-02-18','Джонсонсайд, Монако',206),
	('Джесси Соса','1999-01-15','Вест-Мэри, Израиль',203),
	('Джессика Эдвардс','1961-06-18','Восточный Энтонивилл, Иран',193),
	('Эрик Янг','1963-06-08','Фишертаун, Южные территории Франции',174),
	('Гленн Паркс','1951-05-22','Карпентерстад, остров Херд и острова Макдональда',163),
	('Маркус Росалес','1969-04-14','Мэтьюшир, Российская Федерация',202),
	('Чад Мэйс','1954-08-21','Нью-Марк, Израиль',145),
	('Томми Уильямс','1953-06-22','Озеро Кэтрин, Западная Сахара',183),
	('Джошуа Клэй','1998-11-14','Лангчестер, Гамбия',165),
	('Дэвид Бонд','1968-12-07','Ингрэмхейвен, Италия',156),
	('Фрэнсис Хаус','1987-09-05','Челситон, Пакистан',186),
	('Кристен Мартин','1965-02-24','Додсонмут, Польша',161),
	('Венди Филлипс','1951-04-11','Анначестер, Южная Георгия и Южные Сандвичевы острова',160),
	('Алисса Эдвардс','1961-10-30','Восточный Анитабург, Швейцария',162),
	('Хосе Мартин','1970-07-14','Смитстад, Тринидад и Тобаго',209),
	('Анна Хоу','1954-09-08','Карменпорт, Мальдивы',148),
	('Омар Вудард','1954-09-23','Восточный Бриттнейстад, Британские Виргинские острова',209),
	('Остин Робинсон','1948-08-16','Восточный Джозеф, Судан',143),
	('Марк Джонсон','1986-06-14','Дайертаун, Аруба',148),
	('Рита Макдональд','1957-08-06','Новый Ариэльфорт, Литва',193),
	('Эшли Дэниелс','1991-02-18','Вест-Ричардчестер, Гернси',185),
	('Трэвис Харрис','1981-08-08','Гонсалестаун, Остров Буве (Буветойя)',171),
	('Андре Морс','1981-04-08','Нью-Дэниэлтаун, Виргинские острова США',194),
	('Кэтрин Додсон','1985-10-06','Нансистад, острова Тёркс и Кайкос',159),
	('Джордан Эндрюс','1953-06-22','Хуаресфурт, Словакия (Словацкая Республика)',145),
	('Джейсон Грей','1948-12-15','Норт-Эшли, Гренада',150),
	('Джеймс Хейли','1980-01-01','Уильямбери, Гайана',159),
	('Алекса Браун','1968-03-07','Восточная Натали, Острова Питкэрн',144),
	('Эндрю Хансен','1954-12-29','Рэйчелсайд, Таиланд',188),
	('Кейт Обрайен','1957-12-29','Новая Тереза, Хорватия',209),
	('Донна Гузман','1999-11-06','Шейламут, Мали',170),
	('Кристина Лайонс','1981-09-15','Джонсленд, Таиланд',175),
	('Тара Диас','1960-11-25','Западный Жасминфурт, Острова Питкэрн',161),
	('Лиза Орр','1984-03-29','Озеро Уэслибург, Польша',180),
	('Мелисса Уокер','1962-06-03','Харвейберг, Дания',158),
	('Меган Агирре','1978-02-21','Нью-Аманда, Гватемала',209),
	('Кристофер Барнс','1968-02-04','Восточная Бретаньфурт, Гренада',189),
	('Джошуа Оливер','1989-03-26','Дэррилвью, Сан-Марино',174),
	('Меган Финли','1960-03-04','Мейерсбург, Палау',185),
	('Родни Бреннан','1962-03-05','Паркертон, Северные Марианские острова',140),
	('Лора Джейкобсон','1952-08-17','Нью-Джеймчестер, Тувалу',203),
	('Кэти Хикман','1989-02-18','Вест-Бенджаминтаун, Шри-Ланка',210),
	('Джеффри Уиллис','1981-02-07','Вест Энтони, Гернси',180),
	('Энн Андерсон','1983-06-28','Лориленд, Буркина-Фасо',200),
	('Чарльз Хортон','1946-11-07','Сюзанстад, Маршалловы острова',170),
	('Брук Вудард','1970-02-04','Восточный Хосе, Корея',143),
	('Мишель Кук','1974-04-16','Анджелавью, Мали',153),
	('Брэнди Уолтон','1959-03-29','Дженнифертаун, Гвинея-Бисау',181),
	('Кэтрин Зунига','1959-10-27','Западный Карламут, Израиль',172),
	('Джон Гуд','1946-06-07','Галлоуэйбери, Таджикистан',189),
	('Дон Тейлор','1950-04-03','Северная Эрика, Чехия',193),
	('Ребекка Риз','1966-08-30','Южный Джесси, Соломоновы Острова',158),
	('Уильям Янг','1985-06-13','Западный Трейсишир, Остров Буве (Буветойя)',187),
	('Джеймс Мартин','1966-07-30','Озеро Джейкобленд, Доминиканская Республика',197),
	('Марк Пинеда','1971-10-01','Меганхейвен, Словакия (Словацкая Република)',157),
	('Виктория Грин','1998-10-22','Кейсиленд, Камбоджа',203),
	('Вики Баркер','1981-12-29','Кэтиборо, Северные Марианские острова',179),
	('Элизабет Хьюз','1985-10-02','Порт-Анжела, Узбекистан',168),
	('Ричард Комбс','1987-03-16','Брайанборо, Тунис',200),
	('Сидни Морроу','1966-10-13','Озеро Эшли, Аргентина',161),
	('Келли Кокс','1973-03-11','Нансиберг, Албания',191),
	('Иоланда Смит','1951-08-01','Западный Челси, Кипр',157);

In [13]:
excel_file = 'members_movies_random.xlsx'

df_members_movies_random = pd.read_excel(excel_file)

print(df_members_movies_random)

           Человек                      Фильм Должность
0        Мисти Бун             Беспокоите нас     Актер
1        Мисти Бун                  Жестко их     Актер
2    Роберт Тайлер  Угроза, которой мы служим     Актер
3    Роберт Тайлер          Сохранить пропуск     Актер
4     Мари Меркадо           Миссис Мейн Муха     Актер
..             ...                        ...       ...
392   Сидни Морроу                        Еще     Актер
393     Келли Кокс                     Работа     Актер
394     Келли Кокс          Цена двух попыток     Актер
395   Иоланда Смит    Каждое близкое открытие     Актер
396   Иоланда Смит       Навык кровати поздно     Актер

[397 rows x 3 columns]

In [14]:
member_names = df_members_movies_random['Человек']
movie_names = df_members_movies_random['Фильм']
positions_names = df_members_movies_random['Должность']
print(films_positions_insert_2(member_names,movie_names,positions_names))

DO $$
DECLARE id_member_0 INT;
DECLARE id_member_1 INT;
DECLARE id_member_2 INT;
DECLARE id_member_3 INT;
DECLARE id_member_4 INT;
DECLARE id_member_5 INT;
DECLARE id_member_6 INT;
DECLARE id_member_7 INT;
DECLARE id_member_8 INT;
DECLARE id_member_9 INT;
DECLARE id_member_10 INT;
DECLARE id_member_11 INT;
DECLARE id_member_12 INT;
DECLARE id_member_13 INT;
DECLARE id_member_14 INT;
DECLARE id_member_15 INT;
DECLARE id_member_16 INT;
DECLARE id_member_17 INT;
DECLARE id_member_18 INT;
DECLARE id_member_19 INT;
DECLARE id_member_20 INT;
DECLARE id_member_21 INT;
DECLARE id_member_22 INT;
DECLARE id_member_23 INT;
DECLARE id_member_24 INT;
DECLARE id_member_25 INT;
DECLARE id_member_26 INT;
DECLARE id_member_27 INT;
DECLARE id_member_28 INT;
DECLARE id_member_29 INT;
DECLARE id_member_30 INT;
DECLARE id_member_31 INT;
DECLARE id_member_32 INT;
DECLARE id_member_33 INT;
DECLARE id_member_34 INT;
DECLARE id_member_35 INT;
DECLARE id_member_36 INT;
DECLARE id_member_37 INT;
DECLARE id_member_38 INT;
DECLARE id_member_39 INT;
DECLARE id_member_40 INT;
DECLARE id_member_41 INT;
DECLARE id_member_42 INT;
DECLARE id_member_43 INT;
DECLARE id_member_44 INT;
DECLARE id_member_45 INT;
DECLARE id_member_46 INT;
DECLARE id_member_47 INT;
DECLARE id_member_48 INT;
DECLARE id_member_49 INT;
DECLARE id_member_50 INT;
DECLARE id_member_51 INT;
DECLARE id_member_52 INT;
DECLARE id_member_53 INT;
DECLARE id_member_54 INT;
DECLARE id_member_55 INT;
DECLARE id_member_56 INT;
DECLARE id_member_57 INT;
DECLARE id_member_58 INT;
DECLARE id_member_59 INT;
DECLARE id_member_60 INT;
DECLARE id_member_61 INT;
DECLARE id_member_62 INT;
DECLARE id_member_63 INT;
DECLARE id_member_64 INT;
DECLARE id_member_65 INT;
DECLARE id_member_66 INT;
DECLARE id_member_67 INT;
DECLARE id_member_68 INT;
DECLARE id_member_69 INT;
DECLARE id_member_70 INT;
DECLARE id_member_71 INT;
DECLARE id_member_72 INT;
DECLARE id_member_73 INT;
DECLARE id_member_74 INT;
DECLARE id_member_75 INT;
DECLARE id_member_76 INT;
DECLARE id_member_77 INT;
DECLARE id_member_78 INT;
DECLARE id_member_79 INT;
DECLARE id_member_80 INT;
DECLARE id_member_81 INT;
DECLARE id_member_82 INT;
DECLARE id_member_83 INT;
DECLARE id_member_84 INT;
DECLARE id_member_85 INT;
DECLARE id_member_86 INT;
DECLARE id_member_87 INT;
DECLARE id_member_88 INT;
DECLARE id_member_89 INT;
DECLARE id_member_90 INT;
DECLARE id_member_91 INT;
DECLARE id_member_92 INT;
DECLARE id_member_93 INT;
DECLARE id_member_94 INT;
DECLARE id_member_95 INT;
DECLARE id_member_96 INT;
DECLARE id_member_97 INT;
DECLARE id_member_98 INT;
DECLARE id_member_99 INT;
DECLARE id_member_100 INT;
DECLARE id_member_101 INT;
DECLARE id_member_102 INT;
DECLARE id_member_103 INT;
DECLARE id_member_104 INT;
DECLARE id_member_105 INT;
DECLARE id_member_106 INT;
DECLARE id_member_107 INT;
DECLARE id_member_108 INT;
DECLARE id_member_109 INT;
DECLARE id_member_110 INT;
DECLARE id_member_111 INT;
DECLARE id_member_112 INT;
DECLARE id_member_113 INT;
DECLARE id_member_114 INT;
DECLARE id_member_115 INT;
DECLARE id_member_116 INT;
DECLARE id_member_117 INT;
DECLARE id_member_118 INT;
DECLARE id_member_119 INT;
DECLARE id_member_120 INT;
DECLARE id_member_121 INT;
DECLARE id_member_122 INT;
DECLARE id_member_123 INT;
DECLARE id_member_124 INT;
DECLARE id_member_125 INT;
DECLARE id_member_126 INT;
DECLARE id_member_127 INT;
DECLARE id_member_128 INT;
DECLARE id_member_129 INT;
DECLARE id_member_130 INT;
DECLARE id_member_131 INT;
DECLARE id_member_132 INT;
DECLARE id_member_133 INT;
DECLARE id_member_134 INT;
DECLARE id_member_135 INT;
DECLARE id_member_136 INT;
DECLARE id_member_137 INT;
DECLARE id_member_138 INT;
DECLARE id_member_139 INT;
DECLARE id_member_140 INT;
DECLARE id_member_141 INT;
DECLARE id_member_142 INT;
DECLARE id_member_143 INT;
DECLARE id_member_144 INT;
DECLARE id_member_145 INT;
DECLARE id_member_146 INT;
DECLARE id_member_147 INT;
DECLARE id_member_148 INT;
DECLARE id_member_149 INT;
DECLARE id_member_150 INT;
DECLARE id_member_151 INT;
DECLARE id_member_152 INT;
DECLARE id_member_153 INT;
DECLARE id_member_154 INT;
DECLARE id_member_155 INT;
DECLARE id_member_156 INT;
DECLARE id_member_157 INT;
DECLARE id_member_158 INT;
DECLARE id_member_159 INT;
DECLARE id_member_160 INT;
DECLARE id_member_161 INT;
DECLARE id_member_162 INT;
DECLARE id_member_163 INT;
DECLARE id_member_164 INT;
DECLARE id_member_165 INT;
DECLARE id_member_166 INT;
DECLARE id_member_167 INT;
DECLARE id_member_168 INT;
DECLARE id_member_169 INT;
DECLARE id_member_170 INT;
DECLARE id_member_171 INT;
DECLARE id_member_172 INT;
DECLARE id_member_173 INT;
DECLARE id_member_174 INT;
DECLARE id_member_175 INT;
DECLARE id_member_176 INT;
DECLARE id_member_177 INT;
DECLARE id_member_178 INT;
DECLARE id_member_179 INT;
DECLARE id_member_180 INT;
DECLARE id_member_181 INT;
DECLARE id_member_182 INT;
DECLARE id_member_183 INT;
DECLARE id_member_184 INT;
DECLARE id_member_185 INT;
DECLARE id_member_186 INT;
DECLARE id_member_187 INT;
DECLARE id_member_188 INT;
DECLARE id_member_189 INT;
DECLARE id_member_190 INT;
DECLARE id_member_191 INT;
DECLARE id_member_192 INT;
DECLARE id_member_193 INT;
DECLARE id_member_194 INT;
DECLARE id_member_195 INT;
DECLARE id_member_196 INT;
DECLARE id_member_197 INT;
DECLARE id_member_198 INT;
DECLARE id_member_199 INT;
DECLARE id_movie_0 INT;
DECLARE id_movie_1 INT;
DECLARE id_movie_2 INT;
DECLARE id_movie_3 INT;
DECLARE id_movie_4 INT;
DECLARE id_movie_5 INT;
DECLARE id_movie_6 INT;
DECLARE id_movie_7 INT;
DECLARE id_movie_8 INT;
DECLARE id_movie_9 INT;
DECLARE id_movie_10 INT;
DECLARE id_movie_11 INT;
DECLARE id_movie_12 INT;
DECLARE id_movie_13 INT;
DECLARE id_movie_14 INT;
DECLARE id_movie_15 INT;
DECLARE id_movie_16 INT;
DECLARE id_movie_17 INT;
DECLARE id_movie_18 INT;
DECLARE id_movie_19 INT;
DECLARE id_movie_20 INT;
DECLARE id_movie_21 INT;
DECLARE id_movie_22 INT;
DECLARE id_movie_23 INT;
DECLARE id_movie_24 INT;
DECLARE id_movie_25 INT;
DECLARE id_movie_26 INT;
DECLARE id_movie_27 INT;
DECLARE id_movie_28 INT;
DECLARE id_movie_29 INT;
DECLARE id_movie_30 INT;
DECLARE id_movie_31 INT;
DECLARE id_movie_32 INT;
DECLARE id_movie_33 INT;
DECLARE id_movie_34 INT;
DECLARE id_movie_35 INT;
DECLARE id_movie_36 INT;
DECLARE id_movie_37 INT;
DECLARE id_movie_38 INT;
DECLARE id_movie_39 INT;
DECLARE id_movie_40 INT;
DECLARE id_movie_41 INT;
DECLARE id_movie_42 INT;
DECLARE id_movie_43 INT;
DECLARE id_movie_44 INT;
DECLARE id_movie_45 INT;
DECLARE id_movie_46 INT;
DECLARE id_movie_47 INT;
DECLARE id_movie_48 INT;
DECLARE id_movie_49 INT;
DECLARE id_movie_50 INT;
DECLARE id_movie_51 INT;
DECLARE id_movie_52 INT;
DECLARE id_movie_53 INT;
DECLARE id_movie_54 INT;
DECLARE id_movie_55 INT;
DECLARE id_movie_56 INT;
DECLARE id_movie_57 INT;
DECLARE id_movie_58 INT;
DECLARE id_movie_59 INT;
DECLARE id_movie_60 INT;
DECLARE id_movie_61 INT;
DECLARE id_movie_62 INT;
DECLARE id_movie_63 INT;
DECLARE id_movie_64 INT;
DECLARE id_movie_65 INT;
DECLARE id_movie_66 INT;
DECLARE id_movie_67 INT;
DECLARE id_movie_68 INT;
DECLARE id_movie_69 INT;
DECLARE id_movie_70 INT;
DECLARE id_movie_71 INT;
DECLARE id_movie_72 INT;
DECLARE id_movie_73 INT;
DECLARE id_movie_74 INT;
DECLARE id_movie_75 INT;
DECLARE id_movie_76 INT;
DECLARE id_movie_77 INT;
DECLARE id_movie_78 INT;
DECLARE id_movie_79 INT;
DECLARE id_movie_80 INT;
DECLARE id_movie_81 INT;
DECLARE id_movie_82 INT;
DECLARE id_movie_83 INT;
DECLARE id_movie_84 INT;
DECLARE id_movie_85 INT;
DECLARE id_movie_86 INT;
DECLARE id_movie_87 INT;
DECLARE id_movie_88 INT;
DECLARE id_movie_89 INT;
DECLARE id_movie_90 INT;
DECLARE id_movie_91 INT;
DECLARE id_movie_92 INT;
DECLARE id_movie_93 INT;
DECLARE id_movie_94 INT;
DECLARE id_movie_95 INT;
DECLARE id_movie_96 INT;
DECLARE id_movie_97 INT;
DECLARE id_movie_98 INT;
DECLARE id_movie_99 INT;
DECLARE id_movie_100 INT;
DECLARE id_movie_101 INT;
DECLARE id_movie_102 INT;
DECLARE id_movie_103 INT;
DECLARE id_movie_104 INT;
DECLARE id_movie_105 INT;
DECLARE id_movie_106 INT;
DECLARE id_movie_107 INT;
DECLARE id_movie_108 INT;
DECLARE id_movie_109 INT;
DECLARE id_movie_110 INT;
DECLARE id_movie_111 INT;
DECLARE id_movie_112 INT;
DECLARE id_movie_113 INT;
DECLARE id_movie_114 INT;
DECLARE id_movie_115 INT;
DECLARE id_movie_116 INT;
DECLARE id_movie_117 INT;
DECLARE id_movie_118 INT;
DECLARE id_movie_119 INT;
DECLARE id_movie_120 INT;
DECLARE id_movie_121 INT;
DECLARE id_movie_122 INT;
DECLARE id_movie_123 INT;
DECLARE id_movie_124 INT;
DECLARE id_movie_125 INT;
DECLARE id_movie_126 INT;
DECLARE id_movie_127 INT;
DECLARE id_movie_128 INT;
DECLARE id_movie_129 INT;
DECLARE id_movie_130 INT;
DECLARE id_movie_131 INT;
DECLARE id_movie_132 INT;
DECLARE id_movie_133 INT;

BEGIN
	SELECT cm.id INTO id_member_0
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Мисти Бун';

	SELECT cm.id INTO id_member_1
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Роберт Тайлер';

	SELECT cm.id INTO id_member_2
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Мари Меркадо';

	SELECT cm.id INTO id_member_3
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Рассел Адамс';

	SELECT cm.id INTO id_member_4
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Майкл Уэйд';

	SELECT cm.id INTO id_member_5
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Эми Гилл';

	SELECT cm.id INTO id_member_6
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Лиза Валенсуэла';

	SELECT cm.id INTO id_member_7
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Лори Джордан';

	SELECT cm.id INTO id_member_8
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Дэниел Джонсон';

	SELECT cm.id INTO id_member_9
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Дэвид Диас';

	SELECT cm.id INTO id_member_10
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Тоня Родригес';

	SELECT cm.id INTO id_member_11
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Алекс Гарза';

	SELECT cm.id INTO id_member_12
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Сара Чавес';

	SELECT cm.id INTO id_member_13
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Джошуа Фелпс';

	SELECT cm.id INTO id_member_14
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Джереми Хэнсон';

	SELECT cm.id INTO id_member_15
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Дженнифер Вебер';

	SELECT cm.id INTO id_member_16
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Маргарет Майлз';

	SELECT cm.id INTO id_member_17
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Бриана Гарретт';

	SELECT cm.id INTO id_member_18
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Реджина Фелпс';

	SELECT cm.id INTO id_member_19
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Джейми Браун';

	SELECT cm.id INTO id_member_20
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Габриэль Гонсалес';

	SELECT cm.id INTO id_member_21
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Томас Ли';

	SELECT cm.id INTO id_member_22
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Элизабет Хендерсон';

	SELECT cm.id INTO id_member_23
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Томас Медина';

	SELECT cm.id INTO id_member_24
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Кристин Кальдерон';

	SELECT cm.id INTO id_member_25
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Тимоти Моралес';

	SELECT cm.id INTO id_member_26
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Марк Дэвис';

	SELECT cm.id INTO id_member_27
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Кортни Купер';

	SELECT cm.id INTO id_member_28
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Робин Гудман';

	SELECT cm.id INTO id_member_29
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Шелли Вагнер';

	SELECT cm.id INTO id_member_30
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Дерек Бонд';

	SELECT cm.id INTO id_member_31
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Эрин Буш';

	SELECT cm.id INTO id_member_32
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Кортни Эллиотт';

	SELECT cm.id INTO id_member_33
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Мелисса Роу';

	SELECT cm.id INTO id_member_34
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Джерри Родригес';

	SELECT cm.id INTO id_member_35
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Бенджамин Буш';

	SELECT cm.id INTO id_member_36
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Майкл Батлер';

	SELECT cm.id INTO id_member_37
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Алан Аллен';

	SELECT cm.id INTO id_member_38
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Джейкоб Принс';

	SELECT cm.id INTO id_member_39
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Джанет Шепард';

	SELECT cm.id INTO id_member_40
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Кайла Комбс';

	SELECT cm.id INTO id_member_41
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Бенджамин Чен';

	SELECT cm.id INTO id_member_42
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Роберт Майкл';

	SELECT cm.id INTO id_member_43
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Ребекка Шаффер';

	SELECT cm.id INTO id_member_44
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Мария Келлер';

	SELECT cm.id INTO id_member_45
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Диана Андерсон';

	SELECT cm.id INTO id_member_46
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Майкл Кабрера';

	SELECT cm.id INTO id_member_47
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Келли Баллок';

	SELECT cm.id INTO id_member_48
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Мишель Джонсон';

	SELECT cm.id INTO id_member_49
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Кэрри Генри';

	SELECT cm.id INTO id_member_50
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Паула Стронг';

	SELECT cm.id INTO id_member_51
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Дэвид Адамс';

	SELECT cm.id INTO id_member_52
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Лиза Торрес';

	SELECT cm.id INTO id_member_53
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Кристал Лоу';

	SELECT cm.id INTO id_member_54
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Эмили Галлахер';

	SELECT cm.id INTO id_member_55
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Уильям Уильямс';

	SELECT cm.id INTO id_member_56
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Грегори Мартинес';

	SELECT cm.id INTO id_member_57
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Маргарет Райт';

	SELECT cm.id INTO id_member_58
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Патрисия Кросби';

	SELECT cm.id INTO id_member_59
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Кайла Янг';

	SELECT cm.id INTO id_member_60
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Алан Грин';

	SELECT cm.id INTO id_member_61
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Эдуардо Джонсон';

	SELECT cm.id INTO id_member_62
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Линда Филлипс';

	SELECT cm.id INTO id_member_63
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Кэтрин Холт';

	SELECT cm.id INTO id_member_64
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Кристофер Тейлор';

	SELECT cm.id INTO id_member_65
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Джессика Дэвис';

	SELECT cm.id INTO id_member_66
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Джилл Томас';

	SELECT cm.id INTO id_member_67
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Рене Дэвис';

	SELECT cm.id INTO id_member_68
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Стивен Купер';

	SELECT cm.id INTO id_member_69
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Скотт Стэнли';

	SELECT cm.id INTO id_member_70
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Тэмми Ким';

	SELECT cm.id INTO id_member_71
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Венди Эскобар';

	SELECT cm.id INTO id_member_72
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Роберт Петерсон';

	SELECT cm.id INTO id_member_73
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Джордж Франк';

	SELECT cm.id INTO id_member_74
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Дэниел Родригес мл.';

	SELECT cm.id INTO id_member_75
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Лэнс Брайан';

	SELECT cm.id INTO id_member_76
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Бет Гарсия';

	SELECT cm.id INTO id_member_77
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Кеннет Харви';

	SELECT cm.id INTO id_member_78
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Эдвард Холмс';

	SELECT cm.id INTO id_member_79
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Александра Мартинес';

	SELECT cm.id INTO id_member_80
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Мелисса Вуд';

	SELECT cm.id INTO id_member_81
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Джастин Уокер';

	SELECT cm.id INTO id_member_82
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Филип Петерсон';

	SELECT cm.id INTO id_member_83
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Рэнди Дженкинс';

	SELECT cm.id INTO id_member_84
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Натаниэль Монтгомери';

	SELECT cm.id INTO id_member_85
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Виктория Миллер';

	SELECT cm.id INTO id_member_86
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Линда Макинтайр';

	SELECT cm.id INTO id_member_87
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Стивен Джонсон';

	SELECT cm.id INTO id_member_88
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Сара Сильва';

	SELECT cm.id INTO id_member_89
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Дэвид Уилсон';

	SELECT cm.id INTO id_member_90
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Кейтлин Коллиер';

	SELECT cm.id INTO id_member_91
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Майкл Джонсон';

	SELECT cm.id INTO id_member_92
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Маргарет Вагнер';

	SELECT cm.id INTO id_member_93
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Майкл Камачо';

	SELECT cm.id INTO id_member_94
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Джошуа Николсон';

	SELECT cm.id INTO id_member_95
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Стивен Салливан';

	SELECT cm.id INTO id_member_96
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Джеффри Фуллер';

	SELECT cm.id INTO id_member_97
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Мелисса Райт';

	SELECT cm.id INTO id_member_98
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Пол Джонс';

	SELECT cm.id INTO id_member_99
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Джордж Онейл';

	SELECT cm.id INTO id_member_100
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Дуглас Миллер';

	SELECT cm.id INTO id_member_101
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Андре Джексон';

	SELECT cm.id INTO id_member_102
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Дженис Перес';

	SELECT cm.id INTO id_member_103
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Чейз Уолтерс';

	SELECT cm.id INTO id_member_104
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Кэти Леон';

	SELECT cm.id INTO id_member_105
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Бриттани Фицджеральд';

	SELECT cm.id INTO id_member_106
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Шон Гонсалес';

	SELECT cm.id INTO id_member_107
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Джозеф Уильямсон';

	SELECT cm.id INTO id_member_108
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Уитни Эрнандес';

	SELECT cm.id INTO id_member_109
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Элисон Лайонс';


In [16]:
excel_file = 'prime_nominations_random.xlsx'

df_prime_nominations_random = pd.read_excel(excel_file)
df_prime_nominations_random = df_prime_nominations_random.fillna('')

print(df_prime_nominations_random)

              Люди                       Фильмы                  Премии  \
0         Эрик Янг                            К                  Сатурн
1    Джанет Шепард         Вариант генерала его  Премия Гильдии актеров
2       Дэвид Диас                      Бал год  Азиатская киноакадемия
3     Марк Джонсон        Кажется, имя успешное          Золотая малина
4        Алан Грин                      Разница     Британская академия
..             ...                          ...                     ...
295                                      Работа  Премия Гильдии актеров
296                           Признайся во всем                    Эмми
297                  Авторитетное присоединение                   Сезар
298                               Особо светлый                  Сатурн
299                 День национального генерала          Золотая малина

                             Номинации     Год  Статус
0    Лучшая женская роль второго плана  1986.0    True
1                  Лучшая мужская роль  2001.0    True
2    Лучшая женская роль второго плана  1975.0    True
3                         Лучший актер  2022.0    True
4              Лучший актерский состав  1975.0    True
..                                 ...     ...     ...
295                   Лучший саундтрек  1996.0   False
296                   Лучший саундтрек  2002.0    True
297          Лучшие визуальные эффекты  2001.0   False
298                       Лучший фильм  1993.0    True
299                       Лучший фильм  2016.0   False

[300 rows x 6 columns]

In [19]:
def cinemas_insert(cinema_names,locations,phone_numbers):
    queries = """INSERT INTO "public.Cinemas" (name, location, phone) VALUES"""
    for i in range(len(cinema_names)):
        phone = str(phone_numbers[i])
        if phone[-2:] == '.0': phone = phone[:-2]
        query = f"""
	('{cinema_names[i]}','{locations[i]}','{phone}')"""
        if i == len(cinema_names)-1: query_end = """;"""
        else: query_end = ""","""
        queries = queries + query + query_end
    return queries

In [20]:
excel_file = 'cinemas_random.xlsx'

df_cinemas_random = pd.read_excel(excel_file)

print(df_cinemas_random)

             Название                                     Местоположение  \
0              Первый  с. Октябрьское (Челяб.), наб. Карла Либкнехта,...
1              Второй  клх Волгодонск, бул. Дзержинского, д. 72 стр. ...
2              Третий  ст. Шелехов, пр. Дорожный, д. 242 стр. 5/5, 14...
3           Четвертый           клх Архыз, пер. Огородный, д. 50, 834145
4               Пятый  клх Партизанск, пр. Восьмого Марта, д. 39 стр....
..                ...                                                ...
95   Девяносто шестой  г. Волоколамск, пр. 50 лет ВЛКСМ, д. 603 к. 8/...
96  Девяносто седьмой  к. Великий Устюг, пер. Зеленый, д. 580 к. 9/1,...
97  Девяносто восьмой     с. Лянтор, ул. Высотная, д. 4 стр. 4/2, 886866
98  Девяносто девятый   клх Нягань, ш. Каштановое, д. 2/1 к. 340, 267848
99              Сотый   д. Колпашево, бул. Семашко, д. 9 стр. 17, 885232

              Телефон
0      8 242 296 3421
1       85321985759.0
2   8 (319) 241-62-27
3     8 483 551 43 65
4    8 (288) 758-0370
..                ...
95     8 438 051 9422
96        74038366289
97   8 (386) 482-6965
98  8 (231) 360-17-13
99        74133344590

[100 rows x 3 columns]

In [21]:
cinema_names = df_cinemas_random['Название']
locations = df_cinemas_random['Местоположение']
phone_numbers = df_cinemas_random['Телефон']

print(cinemas_insert(cinema_names,locations,phone_numbers))

INSERT INTO "public.Cinemas" (name, location, phone) VALUES
	('Первый','с. Октябрьское (Челяб.), наб. Карла Либкнехта, д. 3/7, 442638','8 242 296 3421'),
	('Второй','клх Волгодонск, бул. Дзержинского, д. 72 стр. 4, 057872','85321985759'),
	('Третий','ст. Шелехов, пр. Дорожный, д. 242 стр. 5/5, 149742','8 (319) 241-62-27'),
	('Четвертый','клх Архыз, пер. Огородный, д. 50, 834145','8 483 551 43 65'),
	('Пятый','клх Партизанск, пр. Восьмого Марта, д. 39 стр. 53, 281753','8 (288) 758-0370'),
	('Шестой','к. Тотьма, ул. Дорожников, д. 459 стр. 18, 242108','8 (282) 014-14-78'),
	('Седьмой','д. Бугуруслан, алл. Кольцова, д. 7/4, 538442','8 (345) 727-94-56'),
	('Восьмой','г. Красноселькуп, ш. Социалистическое, д. 5 к. 2, 200689','8 597 504 38 54'),
	('Девятый','п. Лабытнанги, ул. Сиреневая, д. 5/4 стр. 491, 275940','8 (788) 855-3175'),
	('Десятый','г. Нурлат, пр. Гвардейский, д. 6 стр. 254, 869650','8 786 040 5982'),
	('Одиннадцатый','клх Анива, пер. Карла Маркса, д. 5/3 стр. 854, 270504','88164631917'),
	('Двенадцатый','п. Тула, ул. Речная, д. 3/5 стр. 92, 203652','75861627286'),
	('Тринадцатый','к. Киров (Вятка), ш. Ярославское, д. 570 к. 7, 904041','8 (424) 694-68-83'),
	('Четырнадцатый','ст. Лабинск, пер. Брянский, д. 75 стр. 5/6, 395954','8 (305) 715-1407'),
	('Пятнадцатый','к. Андреаполь, алл. Заречная, д. 7/9, 629391','88639097876'),
	('Шестнадцатый','д. Невинномысск, пер. Слободской, д. 4/9 стр. 825, 047150','8 (731) 422-05-51'),
	('Семнадцатый','ст. Воркута, ул. Владимирская, д. 4 стр. 9, 106072','8 213 086 7914'),
	('Восемнадцатый','п. Кущевская, наб. Ломоносова, д. 3/1 стр. 1, 534704','76148201443'),
	('Девятнадцатый','клх Сузун, ул. Герцена, д. 460 к. 9, 649099','8 980 577 7875'),
	('Двадцатый','д. Вилюйск, пер. Красный, д. 551 стр. 543, 344860','8 (923) 528-66-10'),
	('Двадцать первый','к. Черемхово, бул. Севастопольский, д. 5 стр. 302, 167283','88586964533'),
	('Двадцать второй','с. Якша, алл. Розы Люксембург, д. 25 к. 2/4, 105248','86369544084'),
	('Двадцать третий','д. Воткинск, ш. Выгонное, д. 10 к. 807, 346815','8 (587) 103-61-71'),
	('Двадцать четвертый','к. Устюжна, алл. Юбилейная, д. 63 к. 648, 726197','8 (277) 112-2098'),
	('Двадцать пятый','к. Кириши, ш. Воровского, д. 889 стр. 41, 591072','8 (152) 311-74-08'),
	('Двадцать шестой','клх Асбест, ш. Кавказское, д. 9/6 к. 765, 540461','8 126 080 72 18'),
	('Двадцать седьмой','клх Миллерово, ул. Энергетиков, д. 2, 671815','8 (628) 609-80-11'),
	('Двадцать восьмой','п. Урус-Мартан, ш. Маркса, д. 5 к. 4, 435859','8 (391) 663-24-40'),
	('Двадцать девятый','п. Калач-на-Дону, ш. Минина, д. 21, 861402','8 619 166 3985'),
	('Тридцатый','с. Тольятти, наб. Заливная, д. 40 к. 88, 672009','8 404 505 2272'),
	('Тридцать первый','к. Шахты, пр. Курчатова, д. 71 к. 8/5, 732990','8 (808) 067-8398'),
	('Тридцать второй','г. Октябрьский (Башк.), ш. Ключевое, д. 374, 154234','8 (713) 893-9227'),
	('Тридцать третий','д. Северо-Курильск, ш. Абрикосовое, д. 3/6, 659214','8 (698) 207-61-59'),
	('Тридцать четвертый','к. Эльбрус, наб. Энергетиков, д. 1, 746936','8 235 556 70 44'),
	('Тридцать пятый','клх Поронайск, бул. Володарского, д. 435 стр. 2/2, 608411','8 (304) 159-20-69'),
	('Тридцать шестой','с. Северо-Курильск, бул. Первомайский, д. 8 к. 6/1, 077692','8 (525) 180-94-34'),
	('Тридцать седьмой','с. Домбай, пер. Юбилейный, д. 1 к. 363, 437609','83384555918'),
	('Тридцать восьмой','п. Сковородино, бул. Восьмого Марта, д. 1/7, 980154','8739 582 9404'),
	('Тридцать девятый','д. Рязань, пр. Ленина, д. 6, 299088','8 504 931 6328'),
	('Сороковой','ст. Домодедово, пр. Крымский, д. 746 стр. 62, 779861','8 557 424 7048'),
	('Сорок первый','п. Ведено, алл. Ручейная, д. 137 стр. 82, 062246','8 698 984 0884'),
	('Сорок второй','г. Адыгейск, алл. Разина, д. 3 стр. 59, 791389','8 (404) 551-2662'),
	('Сорок третий','д. Шуя, наб. Павлова, д. 9/9 к. 63, 438334','84478820923'),
	('Сорок четвертый','к. Хасавюрт, бул. Космонавтов, д. 5 к. 7, 334547','8 (822) 149-4224'),
	('Сорок пятый','к. Усть-Кут, алл. Титова, д. 521, 164583','82238991186'),
	('Сорок шестой','клх Гремячинск (Бурят.), наб. Техническая, д. 52 стр. 9/9, 551003','8 296 930 1884'),
	('Сорок седьмой','п. Новокузнецк, алл. Заречная, д. 20, 201144','8 (895) 122-95-90'),
	('Сорок восьмой','ст. Сладково, алл. Лесхозная, д. 99 к. 5, 739809','8 (215) 094-36-22'),
	('Сорок девятый','к. Тарко-Сале, алл. Родниковая, д. 680 к. 69, 428865','71928797197'),
	('Пятидесятый','клх Енисейск, ул. Угловая, д. 1 к. 6, 816495','8 273 816 7515'),
	('Пятьдесят первый','п. Тимашевск, пер. Матросова, д. 48, 373012','8 138 651 0685'),
	('Пятьдесят второй','клх Октябрьский (Башк.), бул. Космонавтов, д. 320 стр. 8, 627276','8 477 152 15 08'),
	('Пятьдесят третий','с. Калач-на-Дону, пер. Осенний, д. 342, 439531','8 (467) 855-5137'),
	('Пятьдесят четвертый','п. Андреаполь, наб. Солнечная, д. 1/9, 656429','8 442 628 49 06'),
	('Пятьдесят пятый','г. Вязьма, ул. Высоковольтная, д. 3/2 стр. 70, 841654','8 (090) 291-23-95'),
	('Пятьдесят шестой','д. Миллерово, бул. 8 Марта, д. 6, 761485','8 764 187 5349'),
	('Пятьдесят седьмой','д. Железногорск(Курск.), пр. Садовый, д. 908, 212053','8 (438) 841-96-34'),
	('Пятьдесят восьмой','п. Новороссийка, пер. Воровского, д. 20 стр. 7, 571338','8 675 015 3340'),
	('Пятьдесят девятый','с. Куртамыш, бул. Толстого, д. 56, 053806','8 841 305 41 36'),
	('Шестидесятый','д. Якша, наб. Приморская, д. 2 стр. 7, 343733','8 (013) 179-70-59'),
	('Шестьдесят первый','г. Тихорецк, бул. Механизаторов, д. 473 стр. 9/7, 523200','8 656 157 63 04'),
	('Шестьдесят второй','к. Рыльск, наб. Буденного, д. 49, 325317','74692735989'),
	('Шестьдесят третий','к. Томари, алл. Выгонная, д. 7/1, 956896','8 542 059 2664'),
	('Шестьдесят четвертый','п. Бузулук, наб. Крестьянская, д. 10 стр. 6, 662138','8 571 388 54 93'),
	('Шестьдесят пятый','г. Можга, алл. Центральная, д. 9/6 к. 56, 899279','8 (959) 356-7642'),
	('Шестьдесят шестой','ст. Петропавловск-Камчатский, наб. Ольховая, д. 615, 721640','8 (032) 595-36-45'),
	('Шестьдесят седьмой','г. Радужный, пр. Тенистый, д. 7, 478132','8 (277) 738-3583'),
	('Шестьдесят восьмой','ст. Сортавала, алл. Гаражная, д. 2/4, 205219','8 (590) 205-9561'),
	('Шестьдесят девятый','к. Уэлен, ш. Песчаное, д. 55 стр. 6, 638212','8 (593) 693-93-70'),
	('Семидесятый','клх Тутончаны, алл. Зеленая, д. 92, 382738','8 (947) 757-79-15'),
	('Семьдесять первый','с. Яшалта, бул. Достоевского, д. 67, 840426','8 (464) 245-2326'),
	('Семьдесять второй','с. Асино, бул. Васильковый, д. 8 к. 2, 083799','8 (233) 544-11-31'),
	('Семьдесять третий','д. Челябинск, ул. Овражная, д. 873 стр. 13, 101190','8 811 945 48 55'),
	('Семьдесять четвертый','д. Комсомольск-на-Амуре, ш. Набережное, д. 706 стр. 55, 869586','77347085754'),
	('Семьдесять пятый','д. Элиста, бул. Олимпийский, д. 7/6, 559632','8 809 207 8042'),
	('Семьдесять шестой','с. Ишим, ш. Панфилова, д. 3/9 стр. 2/7, 642741','84077122237'),
	('Семьдесять седьмой','д. Южноуральск, алл. Куйбышева, д. 31 к. 988, 369815','8 (341) 425-5045'),
	('Семьдесять восьмой','с. Кировск (Мурм.), пер. Социалистический, д. 642 стр. 63, 619236','8 (319) 544-08-91'),
	('Семьдесять девятый','с. Кежма, алл. Семашко, д. 4/1 к. 3, 667574','8 751 915 22 59'),
	('Восьмидесятый','п. Усмань, пер. Донской, д. 6/8 к. 3/1, 539366','8 078 147 02 97'),
	('Восемьдесять первый','к. Устюжна, алл. Пушкина, д. 964 к. 1, 885167','8 142 741 45 37'),
	('Восемьдесять второй','п. Саянск, наб. Азовская, д. 722 к. 3, 050541','74161853111'),
	('Восемьдесять третий','клх Адлер, бул. Лунный, д. 3 стр. 9, 258678','8 (437) 900-26-56'),
	('Восемьдесять четвертый','г. Орск, ш. Комарова, д. 347 к. 1/3, 327054','8 (556) 797-68-44'),
	('Восемьдесять пятый','п. Минеральные Воды, пер. Серова, д. 1, 429268','8 (178) 620-33-19'),
	('Восемьдесять шестой','ст. Бодайбо, алл. Смирнова, д. 385 стр. 1/3, 617835','8 (831) 301-62-51'),
	('Восемьдесять седьмой','г. Гаврилов-Ям, пер. Добролюбова, д. 765 стр. 58, 141689','8 502 517 6671'),
	('Восемьдесять восьмой','д. Муром, алл. Мостовая, д. 229, 616610','8 (743) 196-7423'),
	('Восемьдесять девятый','п. Находка, ш. Мелиоративное, д. 284, 055214','88702872346'),
	('Девяностый','г. Энгельс, бул. Нижний, д. 7, 243205','8 721 457 8401'),
	('Девяносто первый','клх Шатура, алл. Озерная, д. 2/7, 198376','8 (138) 737-08-15'),
	('Девяносто второй','п. Верхнее Пенжино, алл. Мусы Джалиля, д. 8 стр. 8, 321149','8 (434) 805-2201'),
	('Девяносто третий','д. Бреды, ш. Карла Маркса, д. 2/6, 289106','80660199398'),
	('Девяносто четвертый','г. Рыльск, наб. Сельская, д. 8/1, 640315','8 394 347 82 84'),
	('Девяносто пятый','с. Батайск, наб. Красных Партизан, д. 8/7, 686456','73351124961'),
	('Девяносто шестой','г. Волоколамск, пр. 50 лет ВЛКСМ, д. 603 к. 8/8, 423370','8 438 051 9422'),
	('Девяносто седьмой','к. Великий Устюг, пер. Зеленый, д. 580 к. 9/1, 975491','74038366289'),
	('Девяносто восьмой','с. Лянтор, ул. Высотная, д. 4 стр. 4/2, 886866','8 (386) 482-6965'),
	('Девяносто девятый','клх Нягань, ш. Каштановое, д. 2/1 к. 340, 267848','8 (231) 360-17-13'),
	('Сотый','д. Колпашево, бул. Семашко, д. 9 стр. 17, 885232','74133344590');

In [22]:
def movie_pictures_insert_(movie_names,urls,isMains):
    movie_names_unique = []
    for name in movie_names: 
        if name not in movie_names_unique:
            movie_names_unique.append(name)
    movie_ids_map = {}
    for i in range(len(movie_names_unique)):
        movie_ids_map[movie_names_unique[i]] = i
    
    queries_0 = """DO $$
"""
    for i in range(len(movie_names_unique)):
        query = f"""DECLARE id_movie_{i} INT;
"""
        queries_0 = queries_0 + query
        
    queries_1 = """
BEGIN"""
    for i in range(len(movie_names_unique)):
        query_1 = f"""
	SELECT m.id INTO id_movie_{i}
	FROM "public.Movies" m
	WHERE m.name = '{movie_names_unique[i]}';
"""
        queries_1 = queries_1 + query_1
        
    queries_2 = f"""
	INSERT INTO "public.Pictures_movie" (movie_id, "isMain", ref) VALUES"""
    for i in range(len(movie_names)):
        query = f"""
		(id_movie_{movie_ids_map[movie_names[i]]}, '{isMains[i]}', '{urls[i]}')"""
        if i == len(movie_names)-1: query_end = """;"""
        else: query_end = ""","""
        queries_2 = queries_2 + query + query_end
        
    queries_3 = """
END $$;"""
        
    return queries_0 + queries_1 + queries_2 + queries_3

In [23]:
excel_file = 'movie_pictures_random.xlsx'

df_movie_pictures_random = pd.read_excel(excel_file)

print(df_movie_pictures_random)

                   Фильм  Статус                           Ссылка
0            Сила страны    True   https://dummyimage.com/673x734
1                Включая    True    https://placekitten.com/911/1
2                Бал год    True  https://placekitten.com/493/405
3             Определять    True   https://placekitten.com/453/97
4          Офицер вполне    True    https://picsum.photos/612/744
..                   ...     ...                              ...
144        Музыка Миссис    True   https://dummyimage.com/617x409
145           Количество    True   https://dummyimage.com/288x980
146           Предлагать    True  https://dummyimage.com/1000x107
147  Ну представьте себе    True  https://placekitten.com/740/184
148             Особенно    True    https://picsum.photos/713/515

[149 rows x 3 columns]

In [24]:
movie_names = df_movie_pictures_random['Фильм']
urls = df_movie_pictures_random['Ссылка']
isMains = df_movie_pictures_random['Статус']

print(movie_pictures_insert_(movie_names,urls,isMains))

DO $$
DECLARE id_movie_0 INT;
DECLARE id_movie_1 INT;
DECLARE id_movie_2 INT;
DECLARE id_movie_3 INT;
DECLARE id_movie_4 INT;
DECLARE id_movie_5 INT;
DECLARE id_movie_6 INT;
DECLARE id_movie_7 INT;
DECLARE id_movie_8 INT;
DECLARE id_movie_9 INT;
DECLARE id_movie_10 INT;
DECLARE id_movie_11 INT;
DECLARE id_movie_12 INT;
DECLARE id_movie_13 INT;
DECLARE id_movie_14 INT;
DECLARE id_movie_15 INT;
DECLARE id_movie_16 INT;
DECLARE id_movie_17 INT;
DECLARE id_movie_18 INT;
DECLARE id_movie_19 INT;
DECLARE id_movie_20 INT;
DECLARE id_movie_21 INT;
DECLARE id_movie_22 INT;
DECLARE id_movie_23 INT;
DECLARE id_movie_24 INT;
DECLARE id_movie_25 INT;
DECLARE id_movie_26 INT;
DECLARE id_movie_27 INT;
DECLARE id_movie_28 INT;
DECLARE id_movie_29 INT;
DECLARE id_movie_30 INT;
DECLARE id_movie_31 INT;
DECLARE id_movie_32 INT;
DECLARE id_movie_33 INT;
DECLARE id_movie_34 INT;
DECLARE id_movie_35 INT;
DECLARE id_movie_36 INT;
DECLARE id_movie_37 INT;
DECLARE id_movie_38 INT;
DECLARE id_movie_39 INT;
DECLARE id_movie_40 INT;
DECLARE id_movie_41 INT;
DECLARE id_movie_42 INT;
DECLARE id_movie_43 INT;
DECLARE id_movie_44 INT;
DECLARE id_movie_45 INT;
DECLARE id_movie_46 INT;
DECLARE id_movie_47 INT;
DECLARE id_movie_48 INT;
DECLARE id_movie_49 INT;
DECLARE id_movie_50 INT;
DECLARE id_movie_51 INT;
DECLARE id_movie_52 INT;
DECLARE id_movie_53 INT;
DECLARE id_movie_54 INT;
DECLARE id_movie_55 INT;
DECLARE id_movie_56 INT;
DECLARE id_movie_57 INT;
DECLARE id_movie_58 INT;
DECLARE id_movie_59 INT;
DECLARE id_movie_60 INT;
DECLARE id_movie_61 INT;
DECLARE id_movie_62 INT;
DECLARE id_movie_63 INT;
DECLARE id_movie_64 INT;
DECLARE id_movie_65 INT;
DECLARE id_movie_66 INT;
DECLARE id_movie_67 INT;
DECLARE id_movie_68 INT;
DECLARE id_movie_69 INT;
DECLARE id_movie_70 INT;
DECLARE id_movie_71 INT;
DECLARE id_movie_72 INT;
DECLARE id_movie_73 INT;
DECLARE id_movie_74 INT;
DECLARE id_movie_75 INT;
DECLARE id_movie_76 INT;
DECLARE id_movie_77 INT;
DECLARE id_movie_78 INT;
DECLARE id_movie_79 INT;
DECLARE id_movie_80 INT;
DECLARE id_movie_81 INT;
DECLARE id_movie_82 INT;
DECLARE id_movie_83 INT;
DECLARE id_movie_84 INT;
DECLARE id_movie_85 INT;
DECLARE id_movie_86 INT;
DECLARE id_movie_87 INT;
DECLARE id_movie_88 INT;
DECLARE id_movie_89 INT;
DECLARE id_movie_90 INT;
DECLARE id_movie_91 INT;
DECLARE id_movie_92 INT;
DECLARE id_movie_93 INT;
DECLARE id_movie_94 INT;
DECLARE id_movie_95 INT;
DECLARE id_movie_96 INT;
DECLARE id_movie_97 INT;
DECLARE id_movie_98 INT;
DECLARE id_movie_99 INT;
DECLARE id_movie_100 INT;
DECLARE id_movie_101 INT;
DECLARE id_movie_102 INT;
DECLARE id_movie_103 INT;
DECLARE id_movie_104 INT;
DECLARE id_movie_105 INT;
DECLARE id_movie_106 INT;
DECLARE id_movie_107 INT;
DECLARE id_movie_108 INT;
DECLARE id_movie_109 INT;
DECLARE id_movie_110 INT;
DECLARE id_movie_111 INT;
DECLARE id_movie_112 INT;
DECLARE id_movie_113 INT;
DECLARE id_movie_114 INT;
DECLARE id_movie_115 INT;
DECLARE id_movie_116 INT;
DECLARE id_movie_117 INT;
DECLARE id_movie_118 INT;
DECLARE id_movie_119 INT;
DECLARE id_movie_120 INT;
DECLARE id_movie_121 INT;
DECLARE id_movie_122 INT;
DECLARE id_movie_123 INT;
DECLARE id_movie_124 INT;
DECLARE id_movie_125 INT;
DECLARE id_movie_126 INT;
DECLARE id_movie_127 INT;
DECLARE id_movie_128 INT;
DECLARE id_movie_129 INT;
DECLARE id_movie_130 INT;
DECLARE id_movie_131 INT;
DECLARE id_movie_132 INT;
DECLARE id_movie_133 INT;
DECLARE id_movie_134 INT;
DECLARE id_movie_135 INT;
DECLARE id_movie_136 INT;
DECLARE id_movie_137 INT;
DECLARE id_movie_138 INT;
DECLARE id_movie_139 INT;
DECLARE id_movie_140 INT;
DECLARE id_movie_141 INT;
DECLARE id_movie_142 INT;
DECLARE id_movie_143 INT;
DECLARE id_movie_144 INT;
DECLARE id_movie_145 INT;
DECLARE id_movie_146 INT;
DECLARE id_movie_147 INT;

BEGIN
	SELECT m.id INTO id_movie_0
	FROM "public.Movies" m
	WHERE m.name = 'Сила страны';

	SELECT m.id INTO id_movie_1
	FROM "public.Movies" m
	WHERE m.name = 'Включая';

	SELECT m.id INTO id_movie_2
	FROM "public.Movies" m
	WHERE m.name = 'Бал год';

	SELECT m.id INTO id_movie_3
	FROM "public.Movies" m
	WHERE m.name = 'Определять';

	SELECT m.id INTO id_movie_4
	FROM "public.Movies" m
	WHERE m.name = 'Офицер вполне';

	SELECT m.id INTO id_movie_5
	FROM "public.Movies" m
	WHERE m.name = 'Последний официальный точно';

	SELECT m.id INTO id_movie_6
	FROM "public.Movies" m
	WHERE m.name = 'За организационным искусством';

	SELECT m.id INTO id_movie_7
	FROM "public.Movies" m
	WHERE m.name = 'Тип семейства';

	SELECT m.id INTO id_movie_8
	FROM "public.Movies" m
	WHERE m.name = 'Отец смены станции';

	SELECT m.id INTO id_movie_9
	FROM "public.Movies" m
	WHERE m.name = 'Запад';

	SELECT m.id INTO id_movie_10
	FROM "public.Movies" m
	WHERE m.name = 'Знакомство с природой';

	SELECT m.id INTO id_movie_11
	FROM "public.Movies" m
	WHERE m.name = 'Теперь даже';

	SELECT m.id INTO id_movie_12
	FROM "public.Movies" m
	WHERE m.name = 'Другие тоже сами';

	SELECT m.id INTO id_movie_13
	FROM "public.Movies" m
	WHERE m.name = 'Этот адвокат по заданию';

	SELECT m.id INTO id_movie_14
	FROM "public.Movies" m
	WHERE m.name = 'Окно сто индивидуальное';

	SELECT m.id INTO id_movie_15
	FROM "public.Movies" m
	WHERE m.name = 'Встряхнуть администрацию';

	SELECT m.id INTO id_movie_16
	FROM "public.Movies" m
	WHERE m.name = 'Школа разумного возраста';

	SELECT m.id INTO id_movie_17
	FROM "public.Movies" m
	WHERE m.name = 'Усилие определенного ветра';

	SELECT m.id INTO id_movie_18
	FROM "public.Movies" m
	WHERE m.name = 'Прогулочное стекло';

	SELECT m.id INTO id_movie_19
	FROM "public.Movies" m
	WHERE m.name = 'К';

	SELECT m.id INTO id_movie_20
	FROM "public.Movies" m
	WHERE m.name = 'Достигать';

	SELECT m.id INTO id_movie_21
	FROM "public.Movies" m
	WHERE m.name = 'Место, желающее место';

	SELECT m.id INTO id_movie_22
	FROM "public.Movies" m
	WHERE m.name = 'Религиозный демократ';

	SELECT m.id INTO id_movie_23
	FROM "public.Movies" m
	WHERE m.name = 'Позволять';

	SELECT m.id INTO id_movie_24
	FROM "public.Movies" m
	WHERE m.name = 'Брат часть средняя';

	SELECT m.id INTO id_movie_25
	FROM "public.Movies" m
	WHERE m.name = 'Семья';

	SELECT m.id INTO id_movie_26
	FROM "public.Movies" m
	WHERE m.name = 'Эксперт';

	SELECT m.id INTO id_movie_27
	FROM "public.Movies" m
	WHERE m.name = 'Означает поддержку когда-либо';

	SELECT m.id INTO id_movie_28
	FROM "public.Movies" m
	WHERE m.name = 'Определить, определить вид';

	SELECT m.id INTO id_movie_29
	FROM "public.Movies" m
	WHERE m.name = 'Земля';

	SELECT m.id INTO id_movie_30
	FROM "public.Movies" m
	WHERE m.name = 'Особо светлый';

	SELECT m.id INTO id_movie_31
	FROM "public.Movies" m
	WHERE m.name = 'Ничего не упоминай, наш';

	SELECT m.id INTO id_movie_32
	FROM "public.Movies" m
	WHERE m.name = 'Добрый или';

	SELECT m.id INTO id_movie_33
	FROM "public.Movies" m
	WHERE m.name = 'Знак суммы момента';

	SELECT m.id INTO id_movie_34
	FROM "public.Movies" m
	WHERE m.name = 'Все вылезает наружу';

	SELECT m.id INTO id_movie_35
	FROM "public.Movies" m
	WHERE m.name = 'Простая кампания';

	SELECT m.id INTO id_movie_36
	FROM "public.Movies" m
	WHERE m.name = 'Существующее решение';

	SELECT m.id INTO id_movie_37
	FROM "public.Movies" m
	WHERE m.name = 'Обращаться';

	SELECT m.id INTO id_movie_38
	FROM "public.Movies" m
	WHERE m.name = 'Поздно счастлив';

	SELECT m.id INTO id_movie_39
	FROM "public.Movies" m
	WHERE m.name = 'Середина';

	SELECT m.id INTO id_movie_40
	FROM "public.Movies" m
	WHERE m.name = 'Работа';

	SELECT m.id INTO id_movie_41
	FROM "public.Movies" m
	WHERE m.name = 'Никогда не режь';

	SELECT m.id INTO id_movie_42
	FROM "public.Movies" m
	WHERE m.name = 'Введите другой';

	SELECT m.id INTO id_movie_43
	FROM "public.Movies" m
	WHERE m.name = 'Признайся во всем';

	SELECT m.id INTO id_movie_44
	FROM "public.Movies" m
	WHERE m.name = 'Муж';

	SELECT m.id INTO id_movie_45
	FROM "public.Movies" m
	WHERE m.name = 'Если страдать';

	SELECT m.id INTO id_movie_46
	FROM "public.Movies" m
	WHERE m.name = 'Возможно, сначала';

	SELECT m.id INTO id_movie_47
	FROM "public.Movies" m
	WHERE m.name = 'Набор отчетов';

	SELECT m.id INTO id_movie_48
	FROM "public.Movies" m
	WHERE m.name = 'С';

	SELECT m.id INTO id_movie_49
	FROM "public.Movies" m
	WHERE m.name = 'Влияние на сайт';

	SELECT m.id INTO id_movie_50
	FROM "public.Movies" m
	WHERE m.name = 'По появлению';

	SELECT m.id INTO id_movie_51
	FROM "public.Movies" m
	WHERE m.name = 'Все вызывают';

	SELECT m.id INTO id_movie_52
	FROM "public.Movies" m
	WHERE m.name = 'Часовое здание';

	SELECT m.id INTO id_movie_53
	FROM "public.Movies" m
	WHERE m.name = 'Ответь хотя подумай';

	SELECT m.id INTO id_movie_54
	FROM "public.Movies" m
	WHERE m.name = 'Надеяться';

	SELECT m.id INTO id_movie_55
	FROM "public.Movies" m
	WHERE m.name = 'Разница';

	SELECT m.id INTO id_movie_56
	FROM "public.Movies" m
	WHERE m.name = 'Позже';

	SELECT m.id INTO id_movie_57
	FROM "public.Movies" m
	WHERE m.name = 'Все может быть';

	SELECT m.id INTO id_movie_58
	FROM "public.Movies" m
	WHERE m.name = 'Север';

	SELECT m.id INTO id_movie_59
	FROM "public.Movies" m
	WHERE m.name = 'Голосуйте за ту же часть';

	SELECT m.id INTO id_movie_60
	FROM "public.Movies" m
	WHERE m.name = 'Поинт-команда';

	SELECT m.id INTO id_movie_61
	FROM "public.Movies" m
	WHERE m.name = 'Расходы';

	SELECT m.id INTO id_movie_62
	FROM "public.Movies" m
	WHERE m.name = 'Одно целое раскрытие';

	SELECT m.id INTO id_movie_63
	FROM "public.Movies" m
	WHERE m.name = 'Трудно идентифицировать';

	SELECT m.id INTO id_movie_64
	FROM "public.Movies" m
	WHERE m.name = 'Беспокоите нас';

	SELECT m.id INTO id_movie_65
	FROM "public.Movies" m
	WHERE m.name = 'Еще';

	SELECT m.id INTO id_movie_66
	FROM "public.Movies" m
	WHERE m.name = 'Один раз';

	SELECT m.id INTO id_movie_67
	FROM "public.Movies" m
	WHERE m.name = 'Иностранный довольно';

	SELECT m.id INTO id_movie_68
	FROM "public.Movies" m
	WHERE m.name = 'Беспокойство';

	SELECT m.id INTO id_movie_69
	FROM "public.Movies" m
	WHERE m.name = 'Чувство атаки читать';

	SELECT m.id INTO id_movie_70
	FROM "public.Movies" m
	WHERE m.name = 'Явный рост производства';

	SELECT m.id INTO id_movie_71
	FROM "public.Movies" m
	WHERE m.name = 'Миссис Мейн Муха';

	SELECT m.id INTO id_movie_72
	FROM "public.Movies" m
	WHERE m.name = 'Вытащите студента';

	SELECT m.id INTO id_movie_73
	FROM "public.Movies" m
	WHERE m.name = 'Фонд мира';

	SELECT m.id INTO id_movie_74
	FROM "public.Movies" m
	WHERE m.name = 'Требовать';

	SELECT m.id INTO id_movie_75
	FROM "public.Movies" m
	WHERE m.name = 'Купить';

	SELECT m.id INTO id_movie_76
	FROM "public.Movies" m
	WHERE m.name = 'Современные другие учат';

	SELECT m.id INTO id_movie_77
	FROM "public.Movies" m
	WHERE m.name = 'Люди';

	SELECT m.id INTO id_movie_78
	FROM "public.Movies" m
	WHERE m.name = 'Медицинский брат, да';

	SELECT m.id INTO id_movie_79
	FROM "public.Movies" m
	WHERE m.name = 'Медицинское сообщество';

	SELECT m.id INTO id_movie_80
	FROM "public.Movies" m
	WHERE m.name = 'Вообще-то, отдохни после обеда';

	SELECT m.id INTO id_movie_81
	FROM "public.Movies" m
	WHERE m.name = 'Служить';

	SELECT m.id INTO id_movie_82
	FROM "public.Movies" m
	WHERE m.name = 'Нация его поперек';

	SELECT m.id INTO id_movie_83
	FROM "public.Movies" m
	WHERE m.name = 'Живой мальчик, звук';

	SELECT m.id INTO id_movie_84
	FROM "public.Movies" m
	WHERE m.name = 'Большой';

	SELECT m.id INTO id_movie_85
	FROM "public.Movies" m
	WHERE m.name = 'Агент по отцу';

	SELECT m.id INTO id_movie_86
	FROM "public.Movies" m
	WHERE m.name = 'Медицинский там, потому что';

	SELECT m.id INTO id_movie_87
	FROM "public.Movies" m
	WHERE m.name = 'Синие наши они';

	SELECT m.id INTO id_movie_88
	FROM "public.Movies" m
	WHERE m.name = 'Вести';

	SELECT m.id INTO id_movie_89
	FROM "public.Movies" m
	WHERE m.name = 'Потерять магазин вечером';

	SELECT m.id INTO id_movie_90
	FROM "public.Movies" m
	WHERE m.name = 'Характер';

	SELECT m.id INTO id_movie_91
	FROM "public.Movies" m
	WHERE m.name = 'Кровать говорит бит';

	SELECT m.id INTO id_movie_92
	FROM "public.Movies" m
	WHERE m.name = 'Вскоре компьютер и';

	SELECT m.id INTO id_movie_93
	FROM "public.Movies" m
	WHERE m.name = 'Две войны';

	SELECT m.id INTO id_movie_94
	FROM "public.Movies" m
	WHERE m.name = 'Мог распознать';

	SELECT m.id INTO id_movie_95
	FROM "public.Movies" m
	WHERE m.name = 'Поднимись, слушай';

	SELECT m.id INTO id_movie_96
	FROM "public.Movies" m
	WHERE m.name = 'День национального генерала';

	SELECT m.id INTO id_movie_97
	FROM "public.Movies" m
	WHERE m.name = 'Петь';

	SELECT m.id INTO id_movie_98
	FROM "public.Movies" m
	WHERE m.name = 'Каждое близкое открытие';

	SELECT m.id INTO id_movie_99
	FROM "public.Movies" m
	WHERE m.name = 'Угроза, которой мы служим';

	SELECT m.id INTO id_movie_100
	FROM "public.Movies" m
	WHERE m.name = 'Мировая сумка-машина';

	SELECT m.id INTO id_movie_101
	FROM "public.Movies" m
	WHERE m.name = 'Бесплатно';

	SELECT m.id INTO id_movie_102
	FROM "public.Movies" m
	WHERE m.name = 'Коробка';

	SELECT m.id INTO id_movie_103
	FROM "public.Movies" m
	WHERE m.name = 'Вода';

	SELECT m.id INTO id_movie_104
	FROM "public.Movies" m
	WHERE m.name = 'Класс закрыть';

	SELECT m.id INTO id_movie_105
	FROM "public.Movies" m
	WHERE m.name = 'Энергия';

	SELECT m.id INTO id_movie_106
	FROM "public.Movies" m
	WHERE m.name = 'Впереди опыт брата';

	SELECT m.id INTO id_movie_107
	FROM "public.Movies" m
	WHERE m.name = 'Различный';

	SELECT m.id INTO id_movie_108
	FROM "public.Movies" m
	WHERE m.name = 'Никогда';

	SELECT m.id INTO id_movie_109
	FROM "public.Movies" m
	WHERE m.name = 'Вещи';

	SELECT m.id INTO id_movie_110
	FROM "public.Movies" m
	WHERE m.name = 'Почувствуйте, опишите производство';

	SELECT m.id INTO id_movie_111
	FROM "public.Movies" m
	WHERE m.name = 'Ударять';

	SELECT m.id INTO id_movie_112
	FROM "public.Movies" m
	WHERE m.name = 'Сами благодарю';

	SELECT m.id INTO id_movie_113
	FROM "public.Movies" m
	WHERE m.name = 'Кажется, имя успешное';

	SELECT m.id INTO id_movie_114
	FROM "public.Movies" m
	WHERE m.name = 'Рынок другой';

	SELECT m.id INTO id_movie_115
	FROM "public.Movies" m
	WHERE m.name = 'Колледжский мяч.';

	SELECT m.id INTO id_movie_116
	FROM "public.Movies" m
	WHERE m.name = 'До';

	SELECT m.id INTO id_movie_117
	FROM "public.Movies" m
	WHERE m.name = 'Помнить';

	SELECT m.id INTO id_movie_118
	FROM "public.Movies" m
	WHERE m.name = 'Дом';

	SELECT m.id INTO id_movie_119
	FROM "public.Movies" m
	WHERE m.name = 'Каждому достаточно, как';

	SELECT m.id INTO id_movie_120
	FROM "public.Movies" m
	WHERE m.name = 'Сохранить пропуск';

	SELECT m.id INTO id_movie_121
	FROM "public.Movies" m
	WHERE m.name = 'Общество войной';

	SELECT m.id INTO id_movie_122
	FROM "public.Movies" m
	WHERE m.name = 'Сегодня вечером';

	SELECT m.id INTO id_movie_123
	FROM "public.Movies" m
	WHERE m.name = 'Цена двух попыток';

	SELECT m.id INTO id_movie_124
	FROM "public.Movies" m
	WHERE m.name = 'Сад';

	SELECT m.id INTO id_movie_125
	FROM "public.Movies" m
	WHERE m.name = 'Готовься пиши';

	SELECT m.id INTO id_movie_126
	FROM "public.Movies" m
	WHERE m.name = 'До внимания';

	SELECT m.id INTO id_movie_127
	FROM "public.Movies" m
	WHERE m.name = 'Спорить, раскрывать';

	SELECT m.id INTO id_movie_128
	FROM "public.Movies" m
	WHERE m.name = 'Церковь';

	SELECT m.id INTO id_movie_129
	FROM "public.Movies" m
	WHERE m.name = 'Как оставаться политикой';

	SELECT m.id INTO id_movie_130
	FROM "public.Movies" m
	WHERE m.name = 'Конец';

	SELECT m.id INTO id_movie_131
	FROM "public.Movies" m
	WHERE m.name = 'Служить производительности создавать';

	SELECT m.id INTO id_movie_132
	FROM "public.Movies" m
	WHERE m.name = 'Красивый подъем';

	SELECT m.id INTO id_movie_133
	FROM "public.Movies" m
	WHERE m.name = 'Готовый';

	SELECT m.id INTO id_movie_134
	FROM "public.Movies" m
	WHERE m.name = 'Вариант генерала его';

	SELECT m.id INTO id_movie_135
	FROM "public.Movies" m
	WHERE m.name = 'Жестко их';

	SELECT m.id INTO id_movie_136
	FROM "public.Movies" m
	WHERE m.name = 'Кусочек';

	SELECT m.id INTO id_movie_137
	FROM "public.Movies" m
	WHERE m.name = 'Навык кровати поздно';

	SELECT m.id INTO id_movie_138
	FROM "public.Movies" m
	WHERE m.name = 'Продолжить аналогичную сторону';

	SELECT m.id INTO id_movie_139
	FROM "public.Movies" m
	WHERE m.name = 'Авторитетное присоединение';

	SELECT m.id INTO id_movie_140
	FROM "public.Movies" m
	WHERE m.name = 'Причина кожи';

	SELECT m.id INTO id_movie_141
	FROM "public.Movies" m
	WHERE m.name = 'Сестре конец, потому что';

	SELECT m.id INTO id_movie_142
	FROM "public.Movies" m
	WHERE m.name = 'Дизайн друга';

	SELECT m.id INTO id_movie_143
	FROM "public.Movies" m
	WHERE m.name = 'Музыка Миссис';

	SELECT m.id INTO id_movie_144
	FROM "public.Movies" m
	WHERE m.name = 'Количество';

	SELECT m.id INTO id_movie_145
	FROM "public.Movies" m
	WHERE m.name = 'Предлагать';

	SELECT m.id INTO id_movie_146
	FROM "public.Movies" m
	WHERE m.name = 'Ну представьте себе';

	SELECT m.id INTO id_movie_147
	FROM "public.Movies" m
	WHERE m.name = 'Особенно';

	INSERT INTO "public.Pictures_movie" (movie_id, "isMain", ref) VALUES
		(id_movie_0, 'True', 'https://dummyimage.com/673x734'),
		(id_movie_1, 'True', 'https://placekitten.com/911/1'),
		(id_movie_2, 'True', 'https://placekitten.com/493/405'),
		(id_movie_3, 'True', 'https://placekitten.com/453/97'),
		(id_movie_4, 'True', 'https://picsum.photos/612/744'),
		(id_movie_5, 'True', 'https://dummyimage.com/112x970'),
		(id_movie_6, 'True', 'https://picsum.photos/674/411'),
		(id_movie_7, 'True', 'https://placekitten.com/713/494'),
		(id_movie_8, 'True', 'https://dummyimage.com/654x347'),
		(id_movie_9, 'True', 'https://dummyimage.com/725x847'),
		(id_movie_10, 'True', 'https://placekitten.com/954/480'),
		(id_movie_11, 'True', 'https://placekitten.com/239/110'),
		(id_movie_12, 'True', 'https://picsum.photos/640/988'),
		(id_movie_13, 'True', 'https://dummyimage.com/490x667'),
		(id_movie_14, 'True', 'https://dummyimage.com/367x129'),
		(id_movie_15, 'True', 'https://dummyimage.com/679x413'),
		(id_movie_16, 'True', 'https://dummyimage.com/583x660'),
		(id_movie_17, 'True', 'https://picsum.photos/391/194'),
		(id_movie_18, 'True', 'https://placekitten.com/358/109'),
		(id_movie_19, 'True', 'https://dummyimage.com/432x736'),
		(id_movie_20, 'True', 'https://placekitten.com/904/983'),
		(id_movie_21, 'True', 'https://placekitten.com/535/567'),
		(id_movie_22, 'True', 'https://picsum.photos/10/426'),
		(id_movie_23, 'True', 'https://picsum.photos/966/909'),
		(id_movie_24, 'True', 'https://picsum.photos/879/802'),
		(id_movie_25, 'True', 'https://placekitten.com/168/787'),
		(id_movie_26, 'True', 'https://picsum.photos/688/753'),
		(id_movie_27, 'True', 'https://dummyimage.com/718x178'),
		(id_movie_28, 'True', 'https://picsum.photos/84/128'),
		(id_movie_29, 'True', 'https://placekitten.com/110/264'),
		(id_movie_30, 'True', 'https://picsum.photos/662/105'),
		(id_movie_31, 'True', 'https://placekitten.com/404/800'),
		(id_movie_32, 'True', 'https://dummyimage.com/872x704'),
		(id_movie_33, 'True', 'https://placekitten.com/979/432'),
		(id_movie_34, 'True', 'https://placekitten.com/17/91'),
		(id_movie_35, 'True', 'https://picsum.photos/234/166'),
		(id_movie_36, 'True', 'https://dummyimage.com/500x45'),
		(id_movie_37, 'True', 'https://dummyimage.com/156x798'),
		(id_movie_38, 'True', 'https://placekitten.com/801/799'),
		(id_movie_39, 'True', 'https://dummyimage.com/199x257'),
		(id_movie_40, 'True', 'https://placekitten.com/40/729'),
		(id_movie_41, 'True', 'https://picsum.photos/61/699'),
		(id_movie_42, 'True', 'https://dummyimage.com/844x154'),
		(id_movie_43, 'True', 'https://dummyimage.com/234x553'),
		(id_movie_44, 'True', 'https://placekitten.com/924/765'),
		(id_movie_45, 'True', 'https://placekitten.com/729/979'),
		(id_movie_46, 'True', 'https://dummyimage.com/564x291'),
		(id_movie_47, 'True', 'https://placekitten.com/54/753'),
		(id_movie_48, 'True', 'https://dummyimage.com/404x997'),

In [25]:
excel_file = 'halls_random_new.xlsx'

df_halls_random = pd.read_excel(excel_file)

print(df_halls_random)

          Название          Тип          Кинотеатр
0    Стандартный 1  Стандартный             Первый
1            VIP 1          VIP             Первый
2    Стандартный 1  Стандартный             Второй
3            VIP 1          VIP             Второй
4    Стандартный 1  Стандартный             Третий
..             ...          ...                ...
195          VIP 1          VIP  Девяносто восьмой
196  Стандартный 1  Стандартный  Девяносто девятый
197          VIP 1          VIP  Девяносто девятый
198  Стандартный 1  Стандартный              Сотый
199          VIP 1          VIP              Сотый

[200 rows x 3 columns]

In [26]:
def halls_insert(names,types,cinema_names):
    cinema_names_unique = []
    for name in cinema_names: 
        if name not in cinema_names_unique:
            cinema_names_unique.append(name)
    cinema_ids_map = {}
    for i in range(len(cinema_names_unique)):
        cinema_ids_map[cinema_names_unique[i]] = i

    queries_0 = """DO $$
"""
    for i in range(len(cinema_names_unique)):
        query = f"""DECLARE id_cinema_{i} INT;
"""
        queries_0 = queries_0 + query
        
    queries_1 = """
BEGIN"""
    for i in range(len(cinema_names_unique)):
        query_1 = f"""
	SELECT c.id INTO id_cinema_{i}
	FROM "public.Cinemas" c
	WHERE c.name = '{cinema_names_unique[i]}';
"""
        queries_1 = queries_1 + query_1
        
    queries_2 = f"""
	INSERT INTO "public.Halls" (name, type, cinema_id) VALUES"""
    for i in range(len(cinema_names)):
        query = f"""
		('{names[i]}', '{types[i]}', id_cinema_{cinema_ids_map[cinema_names[i]]})"""
        if i == len(cinema_names)-1: query_end = """;"""
        else: query_end = ""","""
        queries_2 = queries_2 + query + query_end
        
    queries_3 = """
END $$;"""
        
    return queries_0 + queries_1 + queries_2 + queries_3

In [27]:
names = df_halls_random['Название']
types = df_halls_random['Тип']
cinema_names = df_halls_random['Кинотеатр']

print(halls_insert(names,types,cinema_names))

DO $$
DECLARE id_cinema_0 INT;
DECLARE id_cinema_1 INT;
DECLARE id_cinema_2 INT;
DECLARE id_cinema_3 INT;
DECLARE id_cinema_4 INT;
DECLARE id_cinema_5 INT;
DECLARE id_cinema_6 INT;
DECLARE id_cinema_7 INT;
DECLARE id_cinema_8 INT;
DECLARE id_cinema_9 INT;
DECLARE id_cinema_10 INT;
DECLARE id_cinema_11 INT;
DECLARE id_cinema_12 INT;
DECLARE id_cinema_13 INT;
DECLARE id_cinema_14 INT;
DECLARE id_cinema_15 INT;
DECLARE id_cinema_16 INT;
DECLARE id_cinema_17 INT;
DECLARE id_cinema_18 INT;
DECLARE id_cinema_19 INT;
DECLARE id_cinema_20 INT;
DECLARE id_cinema_21 INT;
DECLARE id_cinema_22 INT;
DECLARE id_cinema_23 INT;
DECLARE id_cinema_24 INT;
DECLARE id_cinema_25 INT;
DECLARE id_cinema_26 INT;
DECLARE id_cinema_27 INT;
DECLARE id_cinema_28 INT;
DECLARE id_cinema_29 INT;
DECLARE id_cinema_30 INT;
DECLARE id_cinema_31 INT;
DECLARE id_cinema_32 INT;
DECLARE id_cinema_33 INT;
DECLARE id_cinema_34 INT;
DECLARE id_cinema_35 INT;
DECLARE id_cinema_36 INT;
DECLARE id_cinema_37 INT;
DECLARE id_cinema_38 INT;
DECLARE id_cinema_39 INT;
DECLARE id_cinema_40 INT;
DECLARE id_cinema_41 INT;
DECLARE id_cinema_42 INT;
DECLARE id_cinema_43 INT;
DECLARE id_cinema_44 INT;
DECLARE id_cinema_45 INT;
DECLARE id_cinema_46 INT;
DECLARE id_cinema_47 INT;
DECLARE id_cinema_48 INT;
DECLARE id_cinema_49 INT;
DECLARE id_cinema_50 INT;
DECLARE id_cinema_51 INT;
DECLARE id_cinema_52 INT;
DECLARE id_cinema_53 INT;
DECLARE id_cinema_54 INT;
DECLARE id_cinema_55 INT;
DECLARE id_cinema_56 INT;
DECLARE id_cinema_57 INT;
DECLARE id_cinema_58 INT;
DECLARE id_cinema_59 INT;
DECLARE id_cinema_60 INT;
DECLARE id_cinema_61 INT;
DECLARE id_cinema_62 INT;
DECLARE id_cinema_63 INT;
DECLARE id_cinema_64 INT;
DECLARE id_cinema_65 INT;
DECLARE id_cinema_66 INT;
DECLARE id_cinema_67 INT;
DECLARE id_cinema_68 INT;
DECLARE id_cinema_69 INT;
DECLARE id_cinema_70 INT;
DECLARE id_cinema_71 INT;
DECLARE id_cinema_72 INT;
DECLARE id_cinema_73 INT;
DECLARE id_cinema_74 INT;
DECLARE id_cinema_75 INT;
DECLARE id_cinema_76 INT;
DECLARE id_cinema_77 INT;
DECLARE id_cinema_78 INT;
DECLARE id_cinema_79 INT;
DECLARE id_cinema_80 INT;
DECLARE id_cinema_81 INT;
DECLARE id_cinema_82 INT;
DECLARE id_cinema_83 INT;
DECLARE id_cinema_84 INT;
DECLARE id_cinema_85 INT;
DECLARE id_cinema_86 INT;
DECLARE id_cinema_87 INT;
DECLARE id_cinema_88 INT;
DECLARE id_cinema_89 INT;
DECLARE id_cinema_90 INT;
DECLARE id_cinema_91 INT;
DECLARE id_cinema_92 INT;
DECLARE id_cinema_93 INT;
DECLARE id_cinema_94 INT;
DECLARE id_cinema_95 INT;
DECLARE id_cinema_96 INT;
DECLARE id_cinema_97 INT;
DECLARE id_cinema_98 INT;
DECLARE id_cinema_99 INT;

BEGIN
	SELECT c.id INTO id_cinema_0
	FROM "public.Cinemas" c
	WHERE c.name = 'Первый';

	SELECT c.id INTO id_cinema_1
	FROM "public.Cinemas" c
	WHERE c.name = 'Второй';

	SELECT c.id INTO id_cinema_2
	FROM "public.Cinemas" c
	WHERE c.name = 'Третий';

	SELECT c.id INTO id_cinema_3
	FROM "public.Cinemas" c
	WHERE c.name = 'Четвертый';

	SELECT c.id INTO id_cinema_4
	FROM "public.Cinemas" c
	WHERE c.name = 'Пятый';

	SELECT c.id INTO id_cinema_5
	FROM "public.Cinemas" c
	WHERE c.name = 'Шестой';

	SELECT c.id INTO id_cinema_6
	FROM "public.Cinemas" c
	WHERE c.name = 'Седьмой';

	SELECT c.id INTO id_cinema_7
	FROM "public.Cinemas" c
	WHERE c.name = 'Восьмой';

	SELECT c.id INTO id_cinema_8
	FROM "public.Cinemas" c
	WHERE c.name = 'Девятый';

	SELECT c.id INTO id_cinema_9
	FROM "public.Cinemas" c
	WHERE c.name = 'Десятый';

	SELECT c.id INTO id_cinema_10
	FROM "public.Cinemas" c
	WHERE c.name = 'Одиннадцатый';

	SELECT c.id INTO id_cinema_11
	FROM "public.Cinemas" c
	WHERE c.name = 'Двенадцатый';

	SELECT c.id INTO id_cinema_12
	FROM "public.Cinemas" c
	WHERE c.name = 'Тринадцатый';

	SELECT c.id INTO id_cinema_13
	FROM "public.Cinemas" c
	WHERE c.name = 'Четырнадцатый';

	SELECT c.id INTO id_cinema_14
	FROM "public.Cinemas" c
	WHERE c.name = 'Пятнадцатый';

	SELECT c.id INTO id_cinema_15
	FROM "public.Cinemas" c
	WHERE c.name = 'Шестнадцатый';

	SELECT c.id INTO id_cinema_16
	FROM "public.Cinemas" c
	WHERE c.name = 'Семнадцатый';

	SELECT c.id INTO id_cinema_17
	FROM "public.Cinemas" c
	WHERE c.name = 'Восемнадцатый';

	SELECT c.id INTO id_cinema_18
	FROM "public.Cinemas" c
	WHERE c.name = 'Девятнадцатый';

	SELECT c.id INTO id_cinema_19
	FROM "public.Cinemas" c
	WHERE c.name = 'Двадцатый';

	SELECT c.id INTO id_cinema_20
	FROM "public.Cinemas" c
	WHERE c.name = 'Двадцать первый';

	SELECT c.id INTO id_cinema_21
	FROM "public.Cinemas" c
	WHERE c.name = 'Двадцать второй';

	SELECT c.id INTO id_cinema_22
	FROM "public.Cinemas" c
	WHERE c.name = 'Двадцать третий';

	SELECT c.id INTO id_cinema_23
	FROM "public.Cinemas" c
	WHERE c.name = 'Двадцать четвертый';

	SELECT c.id INTO id_cinema_24
	FROM "public.Cinemas" c
	WHERE c.name = 'Двадцать пятый';

	SELECT c.id INTO id_cinema_25
	FROM "public.Cinemas" c
	WHERE c.name = 'Двадцать шестой';

	SELECT c.id INTO id_cinema_26
	FROM "public.Cinemas" c
	WHERE c.name = 'Двадцать седьмой';

	SELECT c.id INTO id_cinema_27
	FROM "public.Cinemas" c
	WHERE c.name = 'Двадцать восьмой';

	SELECT c.id INTO id_cinema_28
	FROM "public.Cinemas" c
	WHERE c.name = 'Двадцать девятый';

	SELECT c.id INTO id_cinema_29
	FROM "public.Cinemas" c
	WHERE c.name = 'Тридцатый';

	SELECT c.id INTO id_cinema_30
	FROM "public.Cinemas" c
	WHERE c.name = 'Тридцать первый';

	SELECT c.id INTO id_cinema_31
	FROM "public.Cinemas" c
	WHERE c.name = 'Тридцать второй';

	SELECT c.id INTO id_cinema_32
	FROM "public.Cinemas" c
	WHERE c.name = 'Тридцать третий';

	SELECT c.id INTO id_cinema_33
	FROM "public.Cinemas" c
	WHERE c.name = 'Тридцать четвертый';

	SELECT c.id INTO id_cinema_34
	FROM "public.Cinemas" c
	WHERE c.name = 'Тридцать пятый';

	SELECT c.id INTO id_cinema_35
	FROM "public.Cinemas" c
	WHERE c.name = 'Тридцать шестой';

	SELECT c.id INTO id_cinema_36
	FROM "public.Cinemas" c
	WHERE c.name = 'Тридцать седьмой';

	SELECT c.id INTO id_cinema_37
	FROM "public.Cinemas" c
	WHERE c.name = 'Тридцать восьмой';

	SELECT c.id INTO id_cinema_38
	FROM "public.Cinemas" c
	WHERE c.name = 'Тридцать девятый';

	SELECT c.id INTO id_cinema_39
	FROM "public.Cinemas" c
	WHERE c.name = 'Сороковой';

	SELECT c.id INTO id_cinema_40
	FROM "public.Cinemas" c
	WHERE c.name = 'Сорок первый';

	SELECT c.id INTO id_cinema_41
	FROM "public.Cinemas" c
	WHERE c.name = 'Сорок второй';

	SELECT c.id INTO id_cinema_42
	FROM "public.Cinemas" c
	WHERE c.name = 'Сорок третий';

	SELECT c.id INTO id_cinema_43
	FROM "public.Cinemas" c
	WHERE c.name = 'Сорок четвертый';

	SELECT c.id INTO id_cinema_44
	FROM "public.Cinemas" c
	WHERE c.name = 'Сорок пятый';

	SELECT c.id INTO id_cinema_45
	FROM "public.Cinemas" c
	WHERE c.name = 'Сорок шестой';

	SELECT c.id INTO id_cinema_46
	FROM "public.Cinemas" c
	WHERE c.name = 'Сорок седьмой';

	SELECT c.id INTO id_cinema_47
	FROM "public.Cinemas" c
	WHERE c.name = 'Сорок восьмой';

	SELECT c.id INTO id_cinema_48
	FROM "public.Cinemas" c
	WHERE c.name = 'Сорок девятый';

	SELECT c.id INTO id_cinema_49
	FROM "public.Cinemas" c
	WHERE c.name = 'Пятидесятый';

	SELECT c.id INTO id_cinema_50
	FROM "public.Cinemas" c
	WHERE c.name = 'Пятьдесят первый';

	SELECT c.id INTO id_cinema_51
	FROM "public.Cinemas" c
	WHERE c.name = 'Пятьдесят второй';

	SELECT c.id INTO id_cinema_52
	FROM "public.Cinemas" c
	WHERE c.name = 'Пятьдесят третий';

	SELECT c.id INTO id_cinema_53
	FROM "public.Cinemas" c
	WHERE c.name = 'Пятьдесят четвертый';

	SELECT c.id INTO id_cinema_54
	FROM "public.Cinemas" c
	WHERE c.name = 'Пятьдесят пятый';

	SELECT c.id INTO id_cinema_55
	FROM "public.Cinemas" c
	WHERE c.name = 'Пятьдесят шестой';

	SELECT c.id INTO id_cinema_56
	FROM "public.Cinemas" c
	WHERE c.name = 'Пятьдесят седьмой';

	SELECT c.id INTO id_cinema_57
	FROM "public.Cinemas" c
	WHERE c.name = 'Пятьдесят восьмой';

	SELECT c.id INTO id_cinema_58
	FROM "public.Cinemas" c
	WHERE c.name = 'Пятьдесят девятый';

	SELECT c.id INTO id_cinema_59
	FROM "public.Cinemas" c
	WHERE c.name = 'Шестидесятый';

	SELECT c.id INTO id_cinema_60
	FROM "public.Cinemas" c
	WHERE c.name = 'Шестьдесят первый';

	SELECT c.id INTO id_cinema_61
	FROM "public.Cinemas" c
	WHERE c.name = 'Шестьдесят второй';

	SELECT c.id INTO id_cinema_62
	FROM "public.Cinemas" c
	WHERE c.name = 'Шестьдесят третий';

	SELECT c.id INTO id_cinema_63
	FROM "public.Cinemas" c
	WHERE c.name = 'Шестьдесят четвертый';

	SELECT c.id INTO id_cinema_64
	FROM "public.Cinemas" c
	WHERE c.name = 'Шестьдесят пятый';

	SELECT c.id INTO id_cinema_65
	FROM "public.Cinemas" c
	WHERE c.name = 'Шестьдесят шестой';

	SELECT c.id INTO id_cinema_66
	FROM "public.Cinemas" c
	WHERE c.name = 'Шестьдесят седьмой';

	SELECT c.id INTO id_cinema_67
	FROM "public.Cinemas" c
	WHERE c.name = 'Шестьдесят восьмой';

	SELECT c.id INTO id_cinema_68
	FROM "public.Cinemas" c
	WHERE c.name = 'Шестьдесят девятый';

	SELECT c.id INTO id_cinema_69
	FROM "public.Cinemas" c
	WHERE c.name = 'Семидесятый';

	SELECT c.id INTO id_cinema_70
	FROM "public.Cinemas" c
	WHERE c.name = 'Семьдесять первый';

	SELECT c.id INTO id_cinema_71
	FROM "public.Cinemas" c
	WHERE c.name = 'Семьдесять второй';

	SELECT c.id INTO id_cinema_72
	FROM "public.Cinemas" c
	WHERE c.name = 'Семьдесять третий';

	SELECT c.id INTO id_cinema_73
	FROM "public.Cinemas" c
	WHERE c.name = 'Семьдесять четвертый';

	SELECT c.id INTO id_cinema_74
	FROM "public.Cinemas" c
	WHERE c.name = 'Семьдесять пятый';

	SELECT c.id INTO id_cinema_75
	FROM "public.Cinemas" c
	WHERE c.name = 'Семьдесять шестой';

	SELECT c.id INTO id_cinema_76
	FROM "public.Cinemas" c
	WHERE c.name = 'Семьдесять седьмой';

	SELECT c.id INTO id_cinema_77
	FROM "public.Cinemas" c
	WHERE c.name = 'Семьдесять восьмой';

	SELECT c.id INTO id_cinema_78
	FROM "public.Cinemas" c
	WHERE c.name = 'Семьдесять девятый';

	SELECT c.id INTO id_cinema_79
	FROM "public.Cinemas" c
	WHERE c.name = 'Восьмидесятый';

	SELECT c.id INTO id_cinema_80
	FROM "public.Cinemas" c
	WHERE c.name = 'Восемьдесять первый';

	SELECT c.id INTO id_cinema_81
	FROM "public.Cinemas" c
	WHERE c.name = 'Восемьдесять второй';

	SELECT c.id INTO id_cinema_82
	FROM "public.Cinemas" c
	WHERE c.name = 'Восемьдесять третий';

	SELECT c.id INTO id_cinema_83
	FROM "public.Cinemas" c
	WHERE c.name = 'Восемьдесять четвертый';

	SELECT c.id INTO id_cinema_84
	FROM "public.Cinemas" c
	WHERE c.name = 'Восемьдесять пятый';

	SELECT c.id INTO id_cinema_85
	FROM "public.Cinemas" c
	WHERE c.name = 'Восемьдесять шестой';

	SELECT c.id INTO id_cinema_86
	FROM "public.Cinemas" c
	WHERE c.name = 'Восемьдесять седьмой';

	SELECT c.id INTO id_cinema_87
	FROM "public.Cinemas" c
	WHERE c.name = 'Восемьдесять восьмой';

	SELECT c.id INTO id_cinema_88
	FROM "public.Cinemas" c
	WHERE c.name = 'Восемьдесять девятый';

	SELECT c.id INTO id_cinema_89
	FROM "public.Cinemas" c
	WHERE c.name = 'Девяностый';

	SELECT c.id INTO id_cinema_90
	FROM "public.Cinemas" c
	WHERE c.name = 'Девяносто первый';

	SELECT c.id INTO id_cinema_91
	FROM "public.Cinemas" c
	WHERE c.name = 'Девяносто второй';

	SELECT c.id INTO id_cinema_92
	FROM "public.Cinemas" c
	WHERE c.name = 'Девяносто третий';

	SELECT c.id INTO id_cinema_93
	FROM "public.Cinemas" c
	WHERE c.name = 'Девяносто четвертый';

	SELECT c.id INTO id_cinema_94
	FROM "public.Cinemas" c
	WHERE c.name = 'Девяносто пятый';

	SELECT c.id INTO id_cinema_95
	FROM "public.Cinemas" c
	WHERE c.name = 'Девяносто шестой';

	SELECT c.id INTO id_cinema_96
	FROM "public.Cinemas" c
	WHERE c.name = 'Девяносто седьмой';

	SELECT c.id INTO id_cinema_97
	FROM "public.Cinemas" c
	WHERE c.name = 'Девяносто восьмой';

	SELECT c.id INTO id_cinema_98
	FROM "public.Cinemas" c
	WHERE c.name = 'Девяносто девятый';

	SELECT c.id INTO id_cinema_99
	FROM "public.Cinemas" c
	WHERE c.name = 'Сотый';

	INSERT INTO "public.Halls" (name, type, cinema_id) VALUES
		('Стандартный 1', 'Стандартный', id_cinema_0),
		('VIP 1', 'VIP', id_cinema_0),
		('Стандартный 1', 'Стандартный', id_cinema_1),
		('VIP 1', 'VIP', id_cinema_1),
		('Стандартный 1', 'Стандартный', id_cinema_2),
		('VIP 1', 'VIP', id_cinema_2),
		('Стандартный 1', 'Стандартный', id_cinema_3),
		('VIP 1', 'VIP', id_cinema_3),
		('Стандартный 1', 'Стандартный', id_cinema_4),
		('VIP 1', 'VIP', id_cinema_4),
		('Стандартный 1', 'Стандартный', id_cinema_5),
		('VIP 1', 'VIP', id_cinema_5),
		('Стандартный 1', 'Стандартный', id_cinema_6),
		('VIP 1', 'VIP', id_cinema_6),
		('Стандартный 1', 'Стандартный', id_cinema_7),
		('VIP 1', 'VIP', id_cinema_7),
		('Стандартный 1', 'Стандартный', id_cinema_8),
		('VIP 1', 'VIP', id_cinema_8),
		('Стандартный 1', 'Стандартный', id_cinema_9),
		('VIP 1', 'VIP', id_cinema_9),
		('Стандартный 1', 'Стандартный', id_cinema_10),
		('VIP 1', 'VIP', id_cinema_10),
		('Стандартный 1', 'Стандартный', id_cinema_11),
		('VIP 1', 'VIP', id_cinema_11),
		('Стандартный 1', 'Стандартный', id_cinema_12),
		('VIP 1', 'VIP', id_cinema_12),
		('Стандартный 1', 'Стандартный', id_cinema_13),
		('VIP 1', 'VIP', id_cinema_13),
		('Стандартный 1', 'Стандартный', id_cinema_14),
		('VIP 1', 'VIP', id_cinema_14),
		('Стандартный 1', 'Стандартный', id_cinema_15),
		('VIP 1', 'VIP', id_cinema_15),
		('Стандартный 1', 'Стандартный', id_cinema_16),
		('VIP 1', 'VIP', id_cinema_16),
		('Стандартный 1', 'Стандартный', id_cinema_17),
		('VIP 1', 'VIP', id_cinema_17),
		('Стандартный 1', 'Стандартный', id_cinema_18),
		('VIP 1', 'VIP', id_cinema_18),
		('Стандартный 1', 'Стандартный', id_cinema_19),
		('VIP 1', 'VIP', id_cinema_19),
		('Стандартный 1', 'Стандартный', id_cinema_20),
		('VIP 1', 'VIP', id_cinema_20),
		('Стандартный 1', 'Стандартный', id_cinema_21),
		('VIP 1', 'VIP', id_cinema_21),
		('Стандартный 1', 'Стандартный', id_cinema_22),
		('VIP 1', 'VIP', id_cinema_22),
		('Стандартный 1', 'Стандартный', id_cinema_23),
		('VIP 1', 'VIP', id_cinema_23),
		('Стандартный 1', 'Стандартный', id_cinema_24),
		('VIP 1', 'VIP', id_cinema_24),
		('Стандартный 1', 'Стандартный', id_cinema_25),
		('VIP 1', 'VIP', id_cinema_25),
		('Стандартный 1', 'Стандартный', id_cinema_26),
		('VIP 1', 'VIP', id_cinema_26),
		('Стандартный 1', 'Стандартный', id_cinema_27),
		('VIP 1', 'VIP', id_cinema_27),
		('Стандартный 1', 'Стандартный', id_cinema_28),
		('VIP 1', 'VIP', id_cinema_28),
		('Стандартный 1', 'Стандартный', id_cinema_29),
		('VIP 1', 'VIP', id_cinema_29),
		('Стандартный 1', 'Стандартный', id_cinema_30),
		('VIP 1', 'VIP', id_cinema_30),
		('Стандартный 1', 'Стандартный', id_cinema_31),
		('VIP 1', 'VIP', id_cinema_31),
		('Стандартный 1', 'Стандартный', id_cinema_32),
		('VIP 1', 'VIP', id_cinema_32),
		('Стандартный 1', 'Стандартный', id_cinema_33),
		('VIP 1', 'VIP', id_cinema_33),
		('Стандартный 1', 'Стандартный', id_cinema_34),
		('VIP 1', 'VIP', id_cinema_34),
		('Стандартный 1', 'Стандартный', id_cinema_35),
		('VIP 1', 'VIP', id_cinema_35),
		('Стандартный 1', 'Стандартный', id_cinema_36),
		('VIP 1', 'VIP', id_cinema_36),
		('Стандартный 1', 'Стандартный', id_cinema_37),
		('VIP 1', 'VIP', id_cinema_37),
		('Стандартный 1', 'Стандартный', id_cinema_38),
		('VIP 1', 'VIP', id_cinema_38),
		('Стандартный 1', 'Стандартный', id_cinema_39),
		('VIP 1', 'VIP', id_cinema_39),
		('Стандартный 1', 'Стандартный', id_cinema_40),
		('VIP 1', 'VIP', id_cinema_40),
		('Стандартный 1', 'Стандартный', id_cinema_41),
		('VIP 1', 'VIP', id_cinema_41),
		('Стандартный 1', 'Стандартный', id_cinema_42),
		('VIP 1', 'VIP', id_cinema_42),
		('Стандартный 1', 'Стандартный', id_cinema_43),
		('VIP 1', 'VIP', id_cinema_43),
		('Стандартный 1', 'Стандартный', id_cinema_44),
		('VIP 1', 'VIP', id_cinema_44),
		('Стандартный 1', 'Стандартный', id_cinema_45),
		('VIP 1', 'VIP', id_cinema_45),
		('Стандартный 1', 'Стандартный', id_cinema_46),
		('VIP 1', 'VIP', id_cinema_46),
		('Стандартный 1', 'Стандартный', id_cinema_47),
		('VIP 1', 'VIP', id_cinema_47),
		('Стандартный 1', 'Стандартный', id_cinema_48),
		('VIP 1', 'VIP', id_cinema_48),
		('Стандартный 1', 'Стандартный', id_cinema_49),
		('VIP 1', 'VIP', id_cinema_49),
		('Стандартный 1', 'Стандартный', id_cinema_50),
		('VIP 1', 'VIP', id_cinema_50),
		('Стандартный 1', 'Стандартный', id_cinema_51),
		('VIP 1', 'VIP', id_cinema_51),
		('Стандартный 1', 'Стандартный', id_cinema_52),
		('VIP 1', 'VIP', id_cinema_52),
		('Стандартный 1', 'Стандартный', id_cinema_53),
		('VIP 1', 'VIP', id_cinema_53),
		('Стандартный 1', 'Стандартный', id_cinema_54),
		('VIP 1', 'VIP', id_cinema_54),
		('Стандартный 1', 'Стандартный', id_cinema_55),
		('VIP 1', 'VIP', id_cinema_55),
		('Стандартный 1', 'Стандартный', id_cinema_56),
		('VIP 1', 'VIP', id_cinema_56),
		('Стандартный 1', 'Стандартный', id_cinema_57),
		('VIP 1', 'VIP', id_cinema_57),
		('Стандартный 1', 'Стандартный', id_cinema_58),
		('VIP 1', 'VIP', id_cinema_58),
		('Стандартный 1', 'Стандартный', id_cinema_59),
		('VIP 1', 'VIP', id_cinema_59),
		('Стандартный 1', 'Стандартный', id_cinema_60),
		('VIP 1', 'VIP', id_cinema_60),
		('Стандартный 1', 'Стандартный', id_cinema_61),
		('VIP 1', 'VIP', id_cinema_61),
		('Стандартный 1', 'Стандартный', id_cinema_62),
		('VIP 1', 'VIP', id_cinema_62),
		('Стандартный 1', 'Стандартный', id_cinema_63),
		('VIP 1', 'VIP', id_cinema_63),
		('Стандартный 1', 'Стандартный', id_cinema_64),
		('VIP 1', 'VIP', id_cinema_64),
		('Стандартный 1', 'Стандартный', id_cinema_65),
		('VIP 1', 'VIP', id_cinema_65),
		('Стандартный 1', 'Стандартный', id_cinema_66),
		('VIP 1', 'VIP', id_cinema_66),
		('Стандартный 1', 'Стандартный', id_cinema_67),
		('VIP 1', 'VIP', id_cinema_67),
		('Стандартный 1', 'Стандартный', id_cinema_68),
		('VIP 1', 'VIP', id_cinema_68),
		('Стандартный 1', 'Стандартный', id_cinema_69),
		('VIP 1', 'VIP', id_cinema_69),
		('Стандартный 1', 'Стандартный', id_cinema_70),
		('VIP 1', 'VIP', id_cinema_70),
		('Стандартный 1', 'Стандартный', id_cinema_71),
		('VIP 1', 'VIP', id_cinema_71),
		('Стандартный 1', 'Стандартный', id_cinema_72),
		('VIP 1', 'VIP', id_cinema_72),
		('Стандартный 1', 'Стандартный', id_cinema_73),
		('VIP 1', 'VIP', id_cinema_73),
		('Стандартный 1', 'Стандартный', id_cinema_74),
		('VIP 1', 'VIP', id_cinema_74),
		('Стандартный 1', 'Стандартный', id_cinema_75),
		('VIP 1', 'VIP', id_cinema_75),
		('Стандартный 1', 'Стандартный', id_cinema_76),
		('VIP 1', 'VIP', id_cinema_76),
		('Стандартный 1', 'Стандартный', id_cinema_77),
		('VIP 1', 'VIP', id_cinema_77),
		('Стандартный 1', 'Стандартный', id_cinema_78),
		('VIP 1', 'VIP', id_cinema_78),
		('Стандартный 1', 'Стандартный', id_cinema_79),
		('VIP 1', 'VIP', id_cinema_79),
		('Стандартный 1', 'Стандартный', id_cinema_80),
		('VIP 1', 'VIP', id_cinema_80),
		('Стандартный 1', 'Стандартный', id_cinema_81),
		('VIP 1', 'VIP', id_cinema_81),
		('Стандартный 1', 'Стандартный', id_cinema_82),
		('VIP 1', 'VIP', id_cinema_82),
		('Стандартный 1', 'Стандартный', id_cinema_83),
		('VIP 1', 'VIP', id_cinema_83),
		('Стандартный 1', 'Стандартный', id_cinema_84),
		('VIP 1', 'VIP', id_cinema_84),
		('Стандартный 1', 'Стандартный', id_cinema_85),
		('VIP 1', 'VIP', id_cinema_85),
		('Стандартный 1', 'Стандартный', id_cinema_86),
		('VIP 1', 'VIP', id_cinema_86),
		('Стандартный 1', 'Стандартный', id_cinema_87),
		('VIP 1', 'VIP', id_cinema_87),
		('Стандартный 1', 'Стандартный', id_cinema_88),
		('VIP 1', 'VIP', id_cinema_88),
		('Стандартный 1', 'Стандартный', id_cinema_89),
		('VIP 1', 'VIP', id_cinema_89),
		('Стандартный 1', 'Стандартный', id_cinema_90),
		('VIP 1', 'VIP', id_cinema_90),
		('Стандартный 1', 'Стандартный', id_cinema_91),
		('VIP 1', 'VIP', id_cinema_91),
		('Стандартный 1', 'Стандартный', id_cinema_92),
		('VIP 1', 'VIP', id_cinema_92),
		('Стандартный 1', 'Стандартный', id_cinema_93),
		('VIP 1', 'VIP', id_cinema_93),
		('Стандартный 1', 'Стандартный', id_cinema_94),
		('VIP 1', 'VIP', id_cinema_94),
		('Стандартный 1', 'Стандартный', id_cinema_95),
		('VIP 1', 'VIP', id_cinema_95),
		('Стандартный 1', 'Стандартный', id_cinema_96),
		('VIP 1', 'VIP', id_cinema_96),
		('Стандартный 1', 'Стандартный', id_cinema_97),

In [28]:
excel_file = 'sessions_random_new.xlsx'

df_sessions_random = pd.read_excel(excel_file)

print(df_sessions_random)

               Зал          Кинотеатр                 Фильм  \
0    Стандартный 1             Первый           Сила страны
1            VIP 1             Первый          Причина кожи
2    Стандартный 1             Второй  Одно целое раскрытие
3            VIP 1             Второй             Требовать
4    Стандартный 1             Третий               Помнить
..             ...                ...                   ...
195          VIP 1  Девяносто восьмой                   Еще
196  Стандартный 1  Девяносто девятый             Позволять
197          VIP 1  Девяносто девятый        Все может быть
198  Стандартный 1              Сотый    Отец смены станции
199          VIP 1              Сотый  Мировая сумка-машина

            Время начала      Время окончания
0    2023-11-05 12:00:00  2023-11-05 15:00:00
1    2023-11-05 15:00:00  2023-11-05 18:00:00
2    2023-11-05 12:00:00  2023-11-05 15:00:00
3    2023-11-05 15:00:00  2023-11-05 18:00:00
4    2023-11-05 12:00:00  2023-11-05 15:00:00
..                   ...                  ...
195  2023-11-05 15:00:00  2023-11-05 18:00:00
196  2023-11-05 12:00:00  2023-11-05 15:00:00
197  2023-11-05 15:00:00  2023-11-05 18:00:00
198  2023-11-05 12:00:00  2023-11-05 15:00:00
199  2023-11-05 15:00:00  2023-11-05 18:00:00

[200 rows x 5 columns]

In [29]:
cinema_names = df_sessions_random['Кинотеатр']
hall_names = df_sessions_random['Зал']
movie_names = df_sessions_random['Фильм']
time_starts = df_sessions_random['Время начала']
time_ends = df_sessions_random['Время окончания']
print(sessions_insert_(cinema_names,hall_names,movie_names,time_starts,time_ends))

DO $$
DECLARE id_hall_0 INT;
DECLARE id_hall_1 INT;
DECLARE id_hall_2 INT;
DECLARE id_hall_3 INT;
DECLARE id_hall_4 INT;
DECLARE id_hall_5 INT;
DECLARE id_hall_6 INT;
DECLARE id_hall_7 INT;
DECLARE id_hall_8 INT;
DECLARE id_hall_9 INT;
DECLARE id_hall_10 INT;
DECLARE id_hall_11 INT;
DECLARE id_hall_12 INT;
DECLARE id_hall_13 INT;
DECLARE id_hall_14 INT;
DECLARE id_hall_15 INT;
DECLARE id_hall_16 INT;
DECLARE id_hall_17 INT;
DECLARE id_hall_18 INT;
DECLARE id_hall_19 INT;
DECLARE id_hall_20 INT;
DECLARE id_hall_21 INT;
DECLARE id_hall_22 INT;
DECLARE id_hall_23 INT;
DECLARE id_hall_24 INT;
DECLARE id_hall_25 INT;
DECLARE id_hall_26 INT;
DECLARE id_hall_27 INT;
DECLARE id_hall_28 INT;
DECLARE id_hall_29 INT;
DECLARE id_hall_30 INT;
DECLARE id_hall_31 INT;
DECLARE id_hall_32 INT;
DECLARE id_hall_33 INT;
DECLARE id_hall_34 INT;
DECLARE id_hall_35 INT;
DECLARE id_hall_36 INT;
DECLARE id_hall_37 INT;
DECLARE id_hall_38 INT;
DECLARE id_hall_39 INT;
DECLARE id_hall_40 INT;
DECLARE id_hall_41 INT;
DECLARE id_hall_42 INT;
DECLARE id_hall_43 INT;
DECLARE id_hall_44 INT;
DECLARE id_hall_45 INT;
DECLARE id_hall_46 INT;
DECLARE id_hall_47 INT;
DECLARE id_hall_48 INT;
DECLARE id_hall_49 INT;
DECLARE id_hall_50 INT;
DECLARE id_hall_51 INT;
DECLARE id_hall_52 INT;
DECLARE id_hall_53 INT;
DECLARE id_hall_54 INT;
DECLARE id_hall_55 INT;
DECLARE id_hall_56 INT;
DECLARE id_hall_57 INT;
DECLARE id_hall_58 INT;
DECLARE id_hall_59 INT;
DECLARE id_hall_60 INT;
DECLARE id_hall_61 INT;
DECLARE id_hall_62 INT;
DECLARE id_hall_63 INT;
DECLARE id_hall_64 INT;
DECLARE id_hall_65 INT;
DECLARE id_hall_66 INT;
DECLARE id_hall_67 INT;
DECLARE id_hall_68 INT;
DECLARE id_hall_69 INT;
DECLARE id_hall_70 INT;
DECLARE id_hall_71 INT;
DECLARE id_hall_72 INT;
DECLARE id_hall_73 INT;
DECLARE id_hall_74 INT;
DECLARE id_hall_75 INT;
DECLARE id_hall_76 INT;
DECLARE id_hall_77 INT;
DECLARE id_hall_78 INT;
DECLARE id_hall_79 INT;
DECLARE id_hall_80 INT;
DECLARE id_hall_81 INT;
DECLARE id_hall_82 INT;
DECLARE id_hall_83 INT;
DECLARE id_hall_84 INT;
DECLARE id_hall_85 INT;
DECLARE id_hall_86 INT;
DECLARE id_hall_87 INT;
DECLARE id_hall_88 INT;
DECLARE id_hall_89 INT;
DECLARE id_hall_90 INT;
DECLARE id_hall_91 INT;
DECLARE id_hall_92 INT;
DECLARE id_hall_93 INT;
DECLARE id_hall_94 INT;
DECLARE id_hall_95 INT;
DECLARE id_hall_96 INT;
DECLARE id_hall_97 INT;
DECLARE id_hall_98 INT;
DECLARE id_hall_99 INT;
DECLARE id_hall_100 INT;
DECLARE id_hall_101 INT;
DECLARE id_hall_102 INT;
DECLARE id_hall_103 INT;
DECLARE id_hall_104 INT;
DECLARE id_hall_105 INT;
DECLARE id_hall_106 INT;
DECLARE id_hall_107 INT;
DECLARE id_hall_108 INT;
DECLARE id_hall_109 INT;
DECLARE id_hall_110 INT;
DECLARE id_hall_111 INT;
DECLARE id_hall_112 INT;
DECLARE id_hall_113 INT;
DECLARE id_hall_114 INT;
DECLARE id_hall_115 INT;
DECLARE id_hall_116 INT;
DECLARE id_hall_117 INT;
DECLARE id_hall_118 INT;
DECLARE id_hall_119 INT;
DECLARE id_hall_120 INT;
DECLARE id_hall_121 INT;
DECLARE id_hall_122 INT;
DECLARE id_hall_123 INT;
DECLARE id_hall_124 INT;
DECLARE id_hall_125 INT;
DECLARE id_hall_126 INT;
DECLARE id_hall_127 INT;
DECLARE id_hall_128 INT;
DECLARE id_hall_129 INT;
DECLARE id_hall_130 INT;
DECLARE id_hall_131 INT;
DECLARE id_hall_132 INT;
DECLARE id_hall_133 INT;
DECLARE id_hall_134 INT;
DECLARE id_hall_135 INT;
DECLARE id_hall_136 INT;
DECLARE id_hall_137 INT;
DECLARE id_hall_138 INT;
DECLARE id_hall_139 INT;
DECLARE id_hall_140 INT;
DECLARE id_hall_141 INT;
DECLARE id_hall_142 INT;
DECLARE id_hall_143 INT;
DECLARE id_hall_144 INT;
DECLARE id_hall_145 INT;
DECLARE id_hall_146 INT;
DECLARE id_hall_147 INT;
DECLARE id_hall_148 INT;
DECLARE id_hall_149 INT;
DECLARE id_hall_150 INT;
DECLARE id_hall_151 INT;
DECLARE id_hall_152 INT;
DECLARE id_hall_153 INT;
DECLARE id_hall_154 INT;
DECLARE id_hall_155 INT;
DECLARE id_hall_156 INT;
DECLARE id_hall_157 INT;
DECLARE id_hall_158 INT;
DECLARE id_hall_159 INT;
DECLARE id_hall_160 INT;
DECLARE id_hall_161 INT;
DECLARE id_hall_162 INT;
DECLARE id_hall_163 INT;
DECLARE id_hall_164 INT;
DECLARE id_hall_165 INT;
DECLARE id_hall_166 INT;
DECLARE id_hall_167 INT;
DECLARE id_hall_168 INT;
DECLARE id_hall_169 INT;
DECLARE id_hall_170 INT;
DECLARE id_hall_171 INT;
DECLARE id_hall_172 INT;
DECLARE id_hall_173 INT;
DECLARE id_hall_174 INT;
DECLARE id_hall_175 INT;
DECLARE id_hall_176 INT;
DECLARE id_hall_177 INT;
DECLARE id_hall_178 INT;
DECLARE id_hall_179 INT;
DECLARE id_hall_180 INT;
DECLARE id_hall_181 INT;
DECLARE id_hall_182 INT;
DECLARE id_hall_183 INT;
DECLARE id_hall_184 INT;
DECLARE id_hall_185 INT;
DECLARE id_hall_186 INT;
DECLARE id_hall_187 INT;
DECLARE id_hall_188 INT;
DECLARE id_hall_189 INT;
DECLARE id_hall_190 INT;
DECLARE id_hall_191 INT;
DECLARE id_hall_192 INT;
DECLARE id_hall_193 INT;
DECLARE id_hall_194 INT;
DECLARE id_hall_195 INT;
DECLARE id_hall_196 INT;
DECLARE id_hall_197 INT;
DECLARE id_hall_198 INT;
DECLARE id_hall_199 INT;
DECLARE id_movie_0 INT;
DECLARE id_movie_1 INT;
DECLARE id_movie_2 INT;
DECLARE id_movie_3 INT;
DECLARE id_movie_4 INT;
DECLARE id_movie_5 INT;
DECLARE id_movie_6 INT;
DECLARE id_movie_7 INT;
DECLARE id_movie_8 INT;
DECLARE id_movie_9 INT;
DECLARE id_movie_10 INT;
DECLARE id_movie_11 INT;
DECLARE id_movie_12 INT;
DECLARE id_movie_13 INT;
DECLARE id_movie_14 INT;
DECLARE id_movie_15 INT;
DECLARE id_movie_16 INT;
DECLARE id_movie_17 INT;
DECLARE id_movie_18 INT;
DECLARE id_movie_19 INT;
DECLARE id_movie_20 INT;
DECLARE id_movie_21 INT;
DECLARE id_movie_22 INT;
DECLARE id_movie_23 INT;
DECLARE id_movie_24 INT;
DECLARE id_movie_25 INT;
DECLARE id_movie_26 INT;
DECLARE id_movie_27 INT;
DECLARE id_movie_28 INT;
DECLARE id_movie_29 INT;
DECLARE id_movie_30 INT;
DECLARE id_movie_31 INT;
DECLARE id_movie_32 INT;
DECLARE id_movie_33 INT;
DECLARE id_movie_34 INT;
DECLARE id_movie_35 INT;
DECLARE id_movie_36 INT;
DECLARE id_movie_37 INT;
DECLARE id_movie_38 INT;
DECLARE id_movie_39 INT;
DECLARE id_movie_40 INT;
DECLARE id_movie_41 INT;
DECLARE id_movie_42 INT;
DECLARE id_movie_43 INT;
DECLARE id_movie_44 INT;
DECLARE id_movie_45 INT;
DECLARE id_movie_46 INT;
DECLARE id_movie_47 INT;
DECLARE id_movie_48 INT;
DECLARE id_movie_49 INT;
DECLARE id_movie_50 INT;
DECLARE id_movie_51 INT;
DECLARE id_movie_52 INT;
DECLARE id_movie_53 INT;
DECLARE id_movie_54 INT;
DECLARE id_movie_55 INT;
DECLARE id_movie_56 INT;
DECLARE id_movie_57 INT;
DECLARE id_movie_58 INT;
DECLARE id_movie_59 INT;
DECLARE id_movie_60 INT;
DECLARE id_movie_61 INT;
DECLARE id_movie_62 INT;
DECLARE id_movie_63 INT;
DECLARE id_movie_64 INT;
DECLARE id_movie_65 INT;
DECLARE id_movie_66 INT;
DECLARE id_movie_67 INT;
DECLARE id_movie_68 INT;
DECLARE id_movie_69 INT;
DECLARE id_movie_70 INT;
DECLARE id_movie_71 INT;
DECLARE id_movie_72 INT;
DECLARE id_movie_73 INT;
DECLARE id_movie_74 INT;
DECLARE id_movie_75 INT;
DECLARE id_movie_76 INT;
DECLARE id_movie_77 INT;
DECLARE id_movie_78 INT;
DECLARE id_movie_79 INT;
DECLARE id_movie_80 INT;
DECLARE id_movie_81 INT;
DECLARE id_movie_82 INT;
DECLARE id_movie_83 INT;
DECLARE id_movie_84 INT;
DECLARE id_movie_85 INT;
DECLARE id_movie_86 INT;
DECLARE id_movie_87 INT;
DECLARE id_movie_88 INT;
DECLARE id_movie_89 INT;
DECLARE id_movie_90 INT;
DECLARE id_movie_91 INT;
DECLARE id_movie_92 INT;
DECLARE id_movie_93 INT;
DECLARE id_movie_94 INT;
DECLARE id_movie_95 INT;
DECLARE id_movie_96 INT;
DECLARE id_movie_97 INT;
DECLARE id_movie_98 INT;
DECLARE id_movie_99 INT;
DECLARE id_movie_100 INT;
DECLARE id_movie_101 INT;
DECLARE id_movie_102 INT;
DECLARE id_movie_103 INT;
DECLARE id_movie_104 INT;
DECLARE id_movie_105 INT;
DECLARE id_movie_106 INT;
DECLARE id_movie_107 INT;
DECLARE id_movie_108 INT;
DECLARE id_movie_109 INT;

BEGIN
	SELECT h.id INTO id_hall_0
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Первый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_1
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Первый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_2
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Второй' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_3
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Второй' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_4
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Третий' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_5
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Третий' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_6
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Четвертый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_7
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Четвертый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_8
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Пятый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_9
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Пятый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_10
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Шестой' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_11
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Шестой' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_12
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Седьмой' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_13
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Седьмой' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_14
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Восьмой' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_15
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Восьмой' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_16
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Девятый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_17
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Девятый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_18
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Десятый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_19
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Десятый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_20
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Одиннадцатый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_21
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Одиннадцатый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_22
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двенадцатый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_23
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двенадцатый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_24
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тринадцатый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_25
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тринадцатый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_26
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Четырнадцатый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_27
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Четырнадцатый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_28
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Пятнадцатый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_29
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Пятнадцатый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_30
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Шестнадцатый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_31
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Шестнадцатый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_32
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Семнадцатый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_33
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Семнадцатый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_34
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Восемнадцатый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_35
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Восемнадцатый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_36
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Девятнадцатый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_37
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Девятнадцатый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_38
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцатый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_39
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцатый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_40
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцать первый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_41
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцать первый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_42
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцать второй' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_43
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцать второй' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_44
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцать третий' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_45
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцать третий' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_46
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцать четвертый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_47
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцать четвертый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_48
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцать пятый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_49
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцать пятый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_50
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцать шестой' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_51
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцать шестой' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_52
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцать седьмой' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_53
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцать седьмой' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_54
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцать восьмой' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_55
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцать восьмой' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_56
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцать девятый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_57
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцать девятый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_58
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцатый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_59
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцатый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_60
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцать первый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_61
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцать первый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_62
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцать второй' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_63
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцать второй' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_64
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцать третий' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_65
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцать третий' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_66
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцать четвертый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_67
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцать четвертый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_68
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцать пятый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_69
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцать пятый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_70
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцать шестой' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_71
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцать шестой' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_72
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцать седьмой' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_73
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцать седьмой' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_74
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцать восьмой' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_75
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцать восьмой' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_76
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцать девятый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_77
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцать девятый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_78
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id

In [30]:
def seats_insert_(cinema_names,hall_names):
    cinema_hall_names = list(zip(cinema_names, hall_names))
    
    cinema_hall_names_unique = []
    for names in cinema_hall_names: 
        if names not in cinema_hall_names_unique:
            cinema_hall_names_unique.append(names)
    cinema_hall_ids_map = {}
    for i in range(len(cinema_hall_names_unique)):
        cinema_hall_ids_map[cinema_hall_names_unique[i]] = i
    
    queries_0 = """DO $$
"""
    for i in range(len(cinema_hall_names_unique)):
        query = f"""DECLARE id_hall_{i} INT;
"""
        queries_0 = queries_0 + query
        
    queries_1 = """
BEGIN"""
    for i in range(len(cinema_hall_names_unique)):
        query_1 = f"""
	SELECT h.id INTO id_hall_{i}
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = '{cinema_hall_names_unique[i][0]}' AND h.name = '{cinema_hall_names_unique[i][1]}';
"""
        queries_1 = queries_1 + query_1
        
    queries_2 = f"""
	INSERT INTO "public.Seats" (hall_id, row, place) VALUES"""
    for i in range(len(cinema_names)):
        for j in range(1,8):
            query_start = """
		"""
            queries_2 = queries_2 + query_start
            for k in range(1,9):
                query = f"""(id_hall_{cinema_hall_ids_map[cinema_hall_names[i]]}, {j}, {k})"""
                if i == len(cinema_names)-1 and j == 7 and k == 8: query_end = """;"""
                else: query_end = ""","""
                queries_2 = queries_2 + query + query_end
        
    queries_3 = """
END $$;"""
        
    return queries_0 + queries_1 + queries_2 + queries_3

In [31]:
print(seats_insert_(cinema_names,hall_names))

DO $$
DECLARE id_hall_0 INT;
DECLARE id_hall_1 INT;
DECLARE id_hall_2 INT;
DECLARE id_hall_3 INT;
DECLARE id_hall_4 INT;
DECLARE id_hall_5 INT;
DECLARE id_hall_6 INT;
DECLARE id_hall_7 INT;
DECLARE id_hall_8 INT;
DECLARE id_hall_9 INT;
DECLARE id_hall_10 INT;
DECLARE id_hall_11 INT;
DECLARE id_hall_12 INT;
DECLARE id_hall_13 INT;
DECLARE id_hall_14 INT;
DECLARE id_hall_15 INT;
DECLARE id_hall_16 INT;
DECLARE id_hall_17 INT;
DECLARE id_hall_18 INT;
DECLARE id_hall_19 INT;
DECLARE id_hall_20 INT;
DECLARE id_hall_21 INT;
DECLARE id_hall_22 INT;
DECLARE id_hall_23 INT;
DECLARE id_hall_24 INT;
DECLARE id_hall_25 INT;
DECLARE id_hall_26 INT;
DECLARE id_hall_27 INT;
DECLARE id_hall_28 INT;
DECLARE id_hall_29 INT;
DECLARE id_hall_30 INT;
DECLARE id_hall_31 INT;
DECLARE id_hall_32 INT;
DECLARE id_hall_33 INT;
DECLARE id_hall_34 INT;
DECLARE id_hall_35 INT;
DECLARE id_hall_36 INT;
DECLARE id_hall_37 INT;
DECLARE id_hall_38 INT;
DECLARE id_hall_39 INT;
DECLARE id_hall_40 INT;
DECLARE id_hall_41 INT;
DECLARE id_hall_42 INT;
DECLARE id_hall_43 INT;
DECLARE id_hall_44 INT;
DECLARE id_hall_45 INT;
DECLARE id_hall_46 INT;
DECLARE id_hall_47 INT;
DECLARE id_hall_48 INT;
DECLARE id_hall_49 INT;
DECLARE id_hall_50 INT;
DECLARE id_hall_51 INT;
DECLARE id_hall_52 INT;
DECLARE id_hall_53 INT;
DECLARE id_hall_54 INT;
DECLARE id_hall_55 INT;
DECLARE id_hall_56 INT;
DECLARE id_hall_57 INT;
DECLARE id_hall_58 INT;
DECLARE id_hall_59 INT;
DECLARE id_hall_60 INT;
DECLARE id_hall_61 INT;
DECLARE id_hall_62 INT;
DECLARE id_hall_63 INT;
DECLARE id_hall_64 INT;
DECLARE id_hall_65 INT;
DECLARE id_hall_66 INT;
DECLARE id_hall_67 INT;
DECLARE id_hall_68 INT;
DECLARE id_hall_69 INT;
DECLARE id_hall_70 INT;
DECLARE id_hall_71 INT;
DECLARE id_hall_72 INT;
DECLARE id_hall_73 INT;
DECLARE id_hall_74 INT;
DECLARE id_hall_75 INT;
DECLARE id_hall_76 INT;
DECLARE id_hall_77 INT;
DECLARE id_hall_78 INT;
DECLARE id_hall_79 INT;
DECLARE id_hall_80 INT;
DECLARE id_hall_81 INT;
DECLARE id_hall_82 INT;
DECLARE id_hall_83 INT;
DECLARE id_hall_84 INT;
DECLARE id_hall_85 INT;
DECLARE id_hall_86 INT;
DECLARE id_hall_87 INT;
DECLARE id_hall_88 INT;
DECLARE id_hall_89 INT;
DECLARE id_hall_90 INT;
DECLARE id_hall_91 INT;
DECLARE id_hall_92 INT;
DECLARE id_hall_93 INT;
DECLARE id_hall_94 INT;
DECLARE id_hall_95 INT;
DECLARE id_hall_96 INT;
DECLARE id_hall_97 INT;
DECLARE id_hall_98 INT;
DECLARE id_hall_99 INT;
DECLARE id_hall_100 INT;
DECLARE id_hall_101 INT;
DECLARE id_hall_102 INT;
DECLARE id_hall_103 INT;
DECLARE id_hall_104 INT;
DECLARE id_hall_105 INT;
DECLARE id_hall_106 INT;
DECLARE id_hall_107 INT;
DECLARE id_hall_108 INT;
DECLARE id_hall_109 INT;
DECLARE id_hall_110 INT;
DECLARE id_hall_111 INT;
DECLARE id_hall_112 INT;
DECLARE id_hall_113 INT;
DECLARE id_hall_114 INT;
DECLARE id_hall_115 INT;
DECLARE id_hall_116 INT;
DECLARE id_hall_117 INT;
DECLARE id_hall_118 INT;
DECLARE id_hall_119 INT;
DECLARE id_hall_120 INT;
DECLARE id_hall_121 INT;
DECLARE id_hall_122 INT;
DECLARE id_hall_123 INT;
DECLARE id_hall_124 INT;
DECLARE id_hall_125 INT;
DECLARE id_hall_126 INT;
DECLARE id_hall_127 INT;
DECLARE id_hall_128 INT;
DECLARE id_hall_129 INT;
DECLARE id_hall_130 INT;
DECLARE id_hall_131 INT;
DECLARE id_hall_132 INT;
DECLARE id_hall_133 INT;
DECLARE id_hall_134 INT;
DECLARE id_hall_135 INT;
DECLARE id_hall_136 INT;
DECLARE id_hall_137 INT;
DECLARE id_hall_138 INT;
DECLARE id_hall_139 INT;
DECLARE id_hall_140 INT;
DECLARE id_hall_141 INT;
DECLARE id_hall_142 INT;
DECLARE id_hall_143 INT;
DECLARE id_hall_144 INT;
DECLARE id_hall_145 INT;
DECLARE id_hall_146 INT;
DECLARE id_hall_147 INT;
DECLARE id_hall_148 INT;
DECLARE id_hall_149 INT;
DECLARE id_hall_150 INT;
DECLARE id_hall_151 INT;
DECLARE id_hall_152 INT;
DECLARE id_hall_153 INT;
DECLARE id_hall_154 INT;
DECLARE id_hall_155 INT;
DECLARE id_hall_156 INT;
DECLARE id_hall_157 INT;
DECLARE id_hall_158 INT;
DECLARE id_hall_159 INT;
DECLARE id_hall_160 INT;
DECLARE id_hall_161 INT;
DECLARE id_hall_162 INT;
DECLARE id_hall_163 INT;
DECLARE id_hall_164 INT;
DECLARE id_hall_165 INT;
DECLARE id_hall_166 INT;
DECLARE id_hall_167 INT;
DECLARE id_hall_168 INT;
DECLARE id_hall_169 INT;
DECLARE id_hall_170 INT;
DECLARE id_hall_171 INT;
DECLARE id_hall_172 INT;
DECLARE id_hall_173 INT;
DECLARE id_hall_174 INT;
DECLARE id_hall_175 INT;
DECLARE id_hall_176 INT;
DECLARE id_hall_177 INT;
DECLARE id_hall_178 INT;
DECLARE id_hall_179 INT;
DECLARE id_hall_180 INT;
DECLARE id_hall_181 INT;
DECLARE id_hall_182 INT;
DECLARE id_hall_183 INT;
DECLARE id_hall_184 INT;
DECLARE id_hall_185 INT;
DECLARE id_hall_186 INT;
DECLARE id_hall_187 INT;
DECLARE id_hall_188 INT;
DECLARE id_hall_189 INT;
DECLARE id_hall_190 INT;
DECLARE id_hall_191 INT;
DECLARE id_hall_192 INT;
DECLARE id_hall_193 INT;
DECLARE id_hall_194 INT;
DECLARE id_hall_195 INT;
DECLARE id_hall_196 INT;
DECLARE id_hall_197 INT;
DECLARE id_hall_198 INT;
DECLARE id_hall_199 INT;

BEGIN
	SELECT h.id INTO id_hall_0
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Первый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_1
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Первый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_2
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Второй' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_3
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Второй' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_4
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Третий' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_5
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Третий' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_6
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Четвертый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_7
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Четвертый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_8
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Пятый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_9
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Пятый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_10
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Шестой' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_11
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Шестой' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_12
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Седьмой' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_13
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Седьмой' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_14
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Восьмой' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_15
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Восьмой' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_16
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Девятый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_17
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Девятый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_18
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Десятый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_19
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Десятый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_20
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Одиннадцатый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_21
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Одиннадцатый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_22
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двенадцатый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_23
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двенадцатый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_24
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тринадцатый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_25
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тринадцатый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_26
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Четырнадцатый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_27
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Четырнадцатый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_28
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Пятнадцатый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_29
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Пятнадцатый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_30
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Шестнадцатый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_31
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Шестнадцатый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_32
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Семнадцатый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_33
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Семнадцатый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_34
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Восемнадцатый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_35
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Восемнадцатый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_36
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Девятнадцатый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_37
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Девятнадцатый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_38
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцатый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_39
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцатый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_40
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцать первый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_41
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцать первый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_42
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцать второй' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_43
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцать второй' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_44
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцать третий' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_45
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцать третий' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_46
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцать четвертый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_47
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцать четвертый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_48
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцать пятый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_49
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцать пятый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_50
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцать шестой' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_51
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцать шестой' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_52
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцать седьмой' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_53
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцать седьмой' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_54
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцать восьмой' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_55
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцать восьмой' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_56
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцать девятый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_57
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Двадцать девятый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_58
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцатый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_59
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцатый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_60
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцать первый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_61
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцать первый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_62
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцать второй' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_63
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцать второй' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_64
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцать третий' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_65
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцать третий' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_66
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцать четвертый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_67
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцать четвертый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_68
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцать пятый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_69
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцать пятый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_70
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцать шестой' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_71
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцать шестой' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_72
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцать седьмой' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_73
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцать седьмой' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_74
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцать восьмой' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_75
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцать восьмой' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_76
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцать девятый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_77
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Тридцать девятый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_78
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Сороковой' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_79
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Сороковой' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_80
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Сорок первый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_81
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Сорок первый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_82
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Сорок второй' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_83
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Сорок второй' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_84
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Сорок третий' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_85
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Сорок третий' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_86
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Сорок четвертый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_87
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Сорок четвертый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_88
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Сорок пятый' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_89
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Сорок пятый' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_90
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Сорок шестой' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_91
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Сорок шестой' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_92
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Сорок седьмой' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_93
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Сорок седьмой' AND h.name = 'VIP 1';

	SELECT h.id INTO id_hall_94
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Сорок восьмой' AND h.name = 'Стандартный 1';

	SELECT h.id INTO id_hall_95
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Сорок восьмой' AND h.name = 'VIP 1';


In [32]:
excel_file = 'staff_random.xlsx'

df_staff_random = pd.read_excel(excel_file)

print(df_staff_random)

                Кинотеатр                           Должность   Логин  \
0            Сорок шестой                      Старший кассир  oWZJTE
1         Девяносто пятый  Инженер по эксплуатации кинотеатра  WKVNrG
2             Семидесятый                              Бармен  MPRQYI
3     Пятьдесят четвертый                       Администратор  WoPSAi
4    Восемьдесять восьмой                      Старший кассир  CyzUzK
..                    ...                                 ...     ...
495     Девяносто восьмой                          Контроллер  ZGHIAn
496          Сорок третий                            Охранник  tUwxEZ
497          Сорок шестой                              Бармен  gpeycp
498  Восемьдесять восьмой  Инженер по эксплуатации кинотеатра  QjHNMK
499     Девяносто седьмой                         Киномеханик  QVzmET

       Пароль Дата рождения      Телефон                       Почта  \
0    ljMGcCYb    1986-03-08  85839473914   afanasevbojan@example.com
1    aRfPMSAf    1996-05-15  88177912805       afanasi32@example.com
2    hDoKqMcm    1973-11-22  85656458301    afinogen1988@example.org
3    PjRizWmB    1974-01-10  84403117402        agafja20@example.net
4    xBXgmYnY    1997-11-15  83912452040  agafonovolimpi@example.com
..        ...           ...          ...                         ...
495  LBEqrwFU    1989-11-13  85458278267       ziminivan@example.org
496  rlaQbQdw    1987-04-19  85304862744  zinovevapollon@example.org
497  LcGsEjEB    1967-03-22  84814999537   zinovichernov@example.org
498  PgnVcdLE    1958-03-18  86711759182       zosima_75@example.org
499  HeLWyeoR    1981-07-02  83472091296       zuevmiron@example.com

                                 Имя
0              Измаил Матвеевич Зуев
1    Василиса Вячеславовна Вишнякова
2       Власова Галина Станиславовна
3       Константин Германович Петров
4          Евгений Андреевич Матвеев
..                               ...
495   Синклитикия Анатольевна Рогова
496        Агафонова Фёкла Оскаровна
497       Доронин Творимир Ефимьевич
498        Клавдия Вадимовна Лыткина
499          Юрий Ануфриевич Лихачев

[500 rows x 8 columns]

In [33]:
def staff_insert_(cinema_names,position_names,logins,passwords,birthdates,phone_numbers,emails,names):
    cinema_names_unique = []
    for name in cinema_names: 
        if name not in cinema_names_unique and len(name) > 0:
            cinema_names_unique.append(name)
    cinema_ids_map = {}
    for i in range(len(cinema_names_unique)):
        cinema_ids_map[cinema_names_unique[i]] = i
        
    position_names_unique = []
    for name in position_names: 
        if name not in position_names_unique and len(name) > 0:
            position_names_unique.append(name)
    position_ids_map = {}
    for i in range(len(position_names_unique)):
        position_ids_map[position_names_unique[i]] = i
    
    
    queries_0 = """DO $$
"""
    for i in range(len(cinema_names_unique)):
        query = f"""DECLARE id_cinema_{i} INT;
"""
        queries_0 = queries_0 + query
    for i in range(len(position_names_unique)):
        query = f"""DECLARE id_position_{i} INT;
"""
        queries_0 = queries_0 + query
        
    queries_1 = """
BEGIN"""
    for i in range(len(cinema_names_unique)):
        query_1 = f"""
	SELECT c.id INTO id_cinema_{i}
	FROM "public.Cinemas" c
	WHERE c.name = '{cinema_names_unique[i]}';
"""
        queries_1 = queries_1 + query_1
    for i in range(len(position_names_unique)):
        query_1 = f"""
	SELECT cp.id INTO id_position_{i}
	FROM "public.Cinemas_positions" cp
	WHERE cp.position = '{position_names_unique[i]}';
"""
        queries_1 = queries_1 + query_1

    queries_2 = f"""
	INSERT INTO "public.Staff" (cinema_id, position_id, login, password, birthday, phone, email, name) VALUES"""
    for i in range(len(cinema_names)):
        query = f"""
		(id_cinema_{cinema_ids_map[cinema_names[i]]}, id_position_{position_ids_map[position_names[i]]}, '{logins[i]}', '{passwords[i]}', '{birthdates[i]}', '{int(phone_numbers[i])}', '{emails[i]}', '{names[i]}')"""
        if i == len(cinema_names)-1: query_end = """;"""
        else: query_end = ""","""
        queries_2 = queries_2 + query + query_end
        
    queries_3 = """
END $$;"""
        
    return queries_0 + queries_1 + queries_2 + queries_3

In [34]:
cinema_names = df_staff_random['Кинотеатр']
position_names = df_staff_random['Должность']
logins = df_staff_random['Логин']
passwords = df_staff_random['Пароль']
birthdates = df_staff_random['Дата рождения']
phone_numbers = df_staff_random['Телефон']
emails = df_staff_random['Почта']
names = df_staff_random['Имя']

print(staff_insert_(cinema_names,position_names,logins,passwords,birthdates,phone_numbers,emails,names))

DO $$
DECLARE id_cinema_0 INT;
DECLARE id_cinema_1 INT;
DECLARE id_cinema_2 INT;
DECLARE id_cinema_3 INT;
DECLARE id_cinema_4 INT;
DECLARE id_cinema_5 INT;
DECLARE id_cinema_6 INT;
DECLARE id_cinema_7 INT;
DECLARE id_cinema_8 INT;
DECLARE id_cinema_9 INT;
DECLARE id_cinema_10 INT;
DECLARE id_cinema_11 INT;
DECLARE id_cinema_12 INT;
DECLARE id_cinema_13 INT;
DECLARE id_cinema_14 INT;
DECLARE id_cinema_15 INT;
DECLARE id_cinema_16 INT;
DECLARE id_cinema_17 INT;
DECLARE id_cinema_18 INT;
DECLARE id_cinema_19 INT;
DECLARE id_cinema_20 INT;
DECLARE id_cinema_21 INT;
DECLARE id_cinema_22 INT;
DECLARE id_cinema_23 INT;
DECLARE id_cinema_24 INT;
DECLARE id_cinema_25 INT;
DECLARE id_cinema_26 INT;
DECLARE id_cinema_27 INT;
DECLARE id_cinema_28 INT;
DECLARE id_cinema_29 INT;
DECLARE id_cinema_30 INT;
DECLARE id_cinema_31 INT;
DECLARE id_cinema_32 INT;
DECLARE id_cinema_33 INT;
DECLARE id_cinema_34 INT;
DECLARE id_cinema_35 INT;
DECLARE id_cinema_36 INT;
DECLARE id_cinema_37 INT;
DECLARE id_cinema_38 INT;
DECLARE id_cinema_39 INT;
DECLARE id_cinema_40 INT;
DECLARE id_cinema_41 INT;
DECLARE id_cinema_42 INT;
DECLARE id_cinema_43 INT;
DECLARE id_cinema_44 INT;
DECLARE id_cinema_45 INT;
DECLARE id_cinema_46 INT;
DECLARE id_cinema_47 INT;
DECLARE id_cinema_48 INT;
DECLARE id_cinema_49 INT;
DECLARE id_cinema_50 INT;
DECLARE id_cinema_51 INT;
DECLARE id_cinema_52 INT;
DECLARE id_cinema_53 INT;
DECLARE id_cinema_54 INT;
DECLARE id_cinema_55 INT;
DECLARE id_cinema_56 INT;
DECLARE id_cinema_57 INT;
DECLARE id_cinema_58 INT;
DECLARE id_cinema_59 INT;
DECLARE id_cinema_60 INT;
DECLARE id_cinema_61 INT;
DECLARE id_cinema_62 INT;
DECLARE id_cinema_63 INT;
DECLARE id_cinema_64 INT;
DECLARE id_cinema_65 INT;
DECLARE id_cinema_66 INT;
DECLARE id_cinema_67 INT;
DECLARE id_cinema_68 INT;
DECLARE id_cinema_69 INT;
DECLARE id_cinema_70 INT;
DECLARE id_cinema_71 INT;
DECLARE id_cinema_72 INT;
DECLARE id_cinema_73 INT;
DECLARE id_cinema_74 INT;
DECLARE id_cinema_75 INT;
DECLARE id_cinema_76 INT;
DECLARE id_cinema_77 INT;
DECLARE id_cinema_78 INT;
DECLARE id_cinema_79 INT;
DECLARE id_cinema_80 INT;
DECLARE id_cinema_81 INT;
DECLARE id_cinema_82 INT;
DECLARE id_cinema_83 INT;
DECLARE id_cinema_84 INT;
DECLARE id_cinema_85 INT;
DECLARE id_cinema_86 INT;
DECLARE id_cinema_87 INT;
DECLARE id_cinema_88 INT;
DECLARE id_cinema_89 INT;
DECLARE id_cinema_90 INT;
DECLARE id_cinema_91 INT;
DECLARE id_cinema_92 INT;
DECLARE id_cinema_93 INT;
DECLARE id_cinema_94 INT;
DECLARE id_cinema_95 INT;
DECLARE id_cinema_96 INT;
DECLARE id_cinema_97 INT;
DECLARE id_cinema_98 INT;
DECLARE id_cinema_99 INT;
DECLARE id_position_0 INT;
DECLARE id_position_1 INT;
DECLARE id_position_2 INT;
DECLARE id_position_3 INT;
DECLARE id_position_4 INT;
DECLARE id_position_5 INT;
DECLARE id_position_6 INT;
DECLARE id_position_7 INT;
DECLARE id_position_8 INT;
DECLARE id_position_9 INT;
DECLARE id_position_10 INT;
DECLARE id_position_11 INT;
DECLARE id_position_12 INT;
DECLARE id_position_13 INT;

BEGIN
	SELECT c.id INTO id_cinema_0
	FROM "public.Cinemas" c
	WHERE c.name = 'Сорок шестой';

	SELECT c.id INTO id_cinema_1
	FROM "public.Cinemas" c
	WHERE c.name = 'Девяносто пятый';

	SELECT c.id INTO id_cinema_2
	FROM "public.Cinemas" c
	WHERE c.name = 'Семидесятый';

	SELECT c.id INTO id_cinema_3
	FROM "public.Cinemas" c
	WHERE c.name = 'Пятьдесят четвертый';

	SELECT c.id INTO id_cinema_4
	FROM "public.Cinemas" c
	WHERE c.name = 'Восемьдесять восьмой';

	SELECT c.id INTO id_cinema_5
	FROM "public.Cinemas" c
	WHERE c.name = 'Пятьдесят девятый';

	SELECT c.id INTO id_cinema_6
	FROM "public.Cinemas" c
	WHERE c.name = 'Двадцать шестой';

	SELECT c.id INTO id_cinema_7
	FROM "public.Cinemas" c
	WHERE c.name = 'Пятьдесят третий';

	SELECT c.id INTO id_cinema_8
	FROM "public.Cinemas" c
	WHERE c.name = 'Шестидесятый';

	SELECT c.id INTO id_cinema_9
	FROM "public.Cinemas" c
	WHERE c.name = 'Семьдесять шестой';

	SELECT c.id INTO id_cinema_10
	FROM "public.Cinemas" c
	WHERE c.name = 'Пятьдесят первый';

	SELECT c.id INTO id_cinema_11
	FROM "public.Cinemas" c
	WHERE c.name = 'Пятнадцатый';

	SELECT c.id INTO id_cinema_12
	FROM "public.Cinemas" c
	WHERE c.name = 'Семьдесять четвертый';

	SELECT c.id INTO id_cinema_13
	FROM "public.Cinemas" c
	WHERE c.name = 'Тридцать второй';

	SELECT c.id INTO id_cinema_14
	FROM "public.Cinemas" c
	WHERE c.name = 'Двадцатый';

	SELECT c.id INTO id_cinema_15
	FROM "public.Cinemas" c
	WHERE c.name = 'Тридцать шестой';

	SELECT c.id INTO id_cinema_16
	FROM "public.Cinemas" c
	WHERE c.name = 'Девятый';

	SELECT c.id INTO id_cinema_17
	FROM "public.Cinemas" c
	WHERE c.name = 'Семьдесять восьмой';

	SELECT c.id INTO id_cinema_18
	FROM "public.Cinemas" c
	WHERE c.name = 'Семнадцатый';

	SELECT c.id INTO id_cinema_19
	FROM "public.Cinemas" c
	WHERE c.name = 'Четырнадцатый';

	SELECT c.id INTO id_cinema_20
	FROM "public.Cinemas" c
	WHERE c.name = 'Двадцать третий';

	SELECT c.id INTO id_cinema_21
	FROM "public.Cinemas" c
	WHERE c.name = 'Пятидесятый';

	SELECT c.id INTO id_cinema_22
	FROM "public.Cinemas" c
	WHERE c.name = 'Семьдесять первый';

	SELECT c.id INTO id_cinema_23
	FROM "public.Cinemas" c
	WHERE c.name = 'Сотый';

	SELECT c.id INTO id_cinema_24
	FROM "public.Cinemas" c
	WHERE c.name = 'Девяносто шестой';

	SELECT c.id INTO id_cinema_25
	FROM "public.Cinemas" c
	WHERE c.name = 'Двадцать второй';

	SELECT c.id INTO id_cinema_26
	FROM "public.Cinemas" c
	WHERE c.name = 'Восьмидесятый';

	SELECT c.id INTO id_cinema_27
	FROM "public.Cinemas" c
	WHERE c.name = 'Десятый';

	SELECT c.id INTO id_cinema_28
	FROM "public.Cinemas" c
	WHERE c.name = 'Пятьдесят пятый';

	SELECT c.id INTO id_cinema_29
	FROM "public.Cinemas" c
	WHERE c.name = 'Сорок третий';

	SELECT c.id INTO id_cinema_30
	FROM "public.Cinemas" c
	WHERE c.name = 'Восемьдесять первый';

	SELECT c.id INTO id_cinema_31
	FROM "public.Cinemas" c
	WHERE c.name = 'Шестьдесят девятый';

	SELECT c.id INTO id_cinema_32
	FROM "public.Cinemas" c
	WHERE c.name = 'Пятьдесят второй';

	SELECT c.id INTO id_cinema_33
	FROM "public.Cinemas" c
	WHERE c.name = 'Семьдесять пятый';

	SELECT c.id INTO id_cinema_34
	FROM "public.Cinemas" c
	WHERE c.name = 'Сорок седьмой';

	SELECT c.id INTO id_cinema_35
	FROM "public.Cinemas" c
	WHERE c.name = 'Семьдесять второй';

	SELECT c.id INTO id_cinema_36
	FROM "public.Cinemas" c
	WHERE c.name = 'Девяносто третий';

	SELECT c.id INTO id_cinema_37
	FROM "public.Cinemas" c
	WHERE c.name = 'Второй';

	SELECT c.id INTO id_cinema_38
	FROM "public.Cinemas" c
	WHERE c.name = 'Тридцать первый';

	SELECT c.id INTO id_cinema_39
	FROM "public.Cinemas" c
	WHERE c.name = 'Сорок пятый';

	SELECT c.id INTO id_cinema_40
	FROM "public.Cinemas" c
	WHERE c.name = 'Восемьдесять третий';

	SELECT c.id INTO id_cinema_41
	FROM "public.Cinemas" c
	WHERE c.name = 'Девяностый';

	SELECT c.id INTO id_cinema_42
	FROM "public.Cinemas" c
	WHERE c.name = 'Сорок четвертый';

	SELECT c.id INTO id_cinema_43
	FROM "public.Cinemas" c
	WHERE c.name = 'Четвертый';

	SELECT c.id INTO id_cinema_44
	FROM "public.Cinemas" c
	WHERE c.name = 'Тридцать третий';

	SELECT c.id INTO id_cinema_45
	FROM "public.Cinemas" c
	WHERE c.name = 'Восьмой';

	SELECT c.id INTO id_cinema_46
	FROM "public.Cinemas" c
	WHERE c.name = 'Третий';

	SELECT c.id INTO id_cinema_47
	FROM "public.Cinemas" c
	WHERE c.name = 'Сорок первый';

	SELECT c.id INTO id_cinema_48
	FROM "public.Cinemas" c
	WHERE c.name = 'Шестнадцатый';

	SELECT c.id INTO id_cinema_49
	FROM "public.Cinemas" c
	WHERE c.name = 'Шестьдесят седьмой';

	SELECT c.id INTO id_cinema_50
	FROM "public.Cinemas" c
	WHERE c.name = 'Пятый';

	SELECT c.id INTO id_cinema_51
	FROM "public.Cinemas" c
	WHERE c.name = 'Шестьдесят четвертый';

	SELECT c.id INTO id_cinema_52
	FROM "public.Cinemas" c
	WHERE c.name = 'Семьдесять седьмой';

	SELECT c.id INTO id_cinema_53
	FROM "public.Cinemas" c
	WHERE c.name = 'Девяносто четвертый';

	SELECT c.id INTO id_cinema_54
	FROM "public.Cinemas" c
	WHERE c.name = 'Девяносто первый';

	SELECT c.id INTO id_cinema_55
	FROM "public.Cinemas" c
	WHERE c.name = 'Шестьдесят второй';

	SELECT c.id INTO id_cinema_56
	FROM "public.Cinemas" c
	WHERE c.name = 'Девятнадцатый';

	SELECT c.id INTO id_cinema_57
	FROM "public.Cinemas" c
	WHERE c.name = 'Восемьдесять пятый';

	SELECT c.id INTO id_cinema_58
	FROM "public.Cinemas" c
	WHERE c.name = 'Шестой';

	SELECT c.id INTO id_cinema_59
	FROM "public.Cinemas" c
	WHERE c.name = 'Шестьдесят шестой';

	SELECT c.id INTO id_cinema_60
	FROM "public.Cinemas" c
	WHERE c.name = 'Тридцать пятый';

	SELECT c.id INTO id_cinema_61
	FROM "public.Cinemas" c
	WHERE c.name = 'Пятьдесят седьмой';

	SELECT c.id INTO id_cinema_62
	FROM "public.Cinemas" c
	WHERE c.name = 'Пятьдесят восьмой';

	SELECT c.id INTO id_cinema_63
	FROM "public.Cinemas" c
	WHERE c.name = 'Восемьдесять шестой';

	SELECT c.id INTO id_cinema_64
	FROM "public.Cinemas" c
	WHERE c.name = 'Сороковой';

	SELECT c.id INTO id_cinema_65
	FROM "public.Cinemas" c
	WHERE c.name = 'Девяносто восьмой';

	SELECT c.id INTO id_cinema_66
	FROM "public.Cinemas" c
	WHERE c.name = 'Шестьдесят третий';

	SELECT c.id INTO id_cinema_67
	FROM "public.Cinemas" c
	WHERE c.name = 'Сорок второй';

	SELECT c.id INTO id_cinema_68
	FROM "public.Cinemas" c
	WHERE c.name = 'Восемьдесять четвертый';

	SELECT c.id INTO id_cinema_69
	FROM "public.Cinemas" c
	WHERE c.name = 'Двадцать пятый';

	SELECT c.id INTO id_cinema_70
	FROM "public.Cinemas" c
	WHERE c.name = 'Шестьдесят пятый';

	SELECT c.id INTO id_cinema_71
	FROM "public.Cinemas" c
	WHERE c.name = 'Тринадцатый';

	SELECT c.id INTO id_cinema_72
	FROM "public.Cinemas" c
	WHERE c.name = 'Сорок восьмой';

	SELECT c.id INTO id_cinema_73
	FROM "public.Cinemas" c
	WHERE c.name = 'Девяносто седьмой';

	SELECT c.id INTO id_cinema_74
	FROM "public.Cinemas" c
	WHERE c.name = 'Девяносто девятый';

	SELECT c.id INTO id_cinema_75
	FROM "public.Cinemas" c
	WHERE c.name = 'Двадцать седьмой';

	SELECT c.id INTO id_cinema_76
	FROM "public.Cinemas" c
	WHERE c.name = 'Восемьдесять девятый';

	SELECT c.id INTO id_cinema_77
	FROM "public.Cinemas" c
	WHERE c.name = 'Тридцать седьмой';

	SELECT c.id INTO id_cinema_78
	FROM "public.Cinemas" c
	WHERE c.name = 'Седьмой';

	SELECT c.id INTO id_cinema_79
	FROM "public.Cinemas" c
	WHERE c.name = 'Девяносто второй';

	SELECT c.id INTO id_cinema_80
	FROM "public.Cinemas" c
	WHERE c.name = 'Одиннадцатый';

	SELECT c.id INTO id_cinema_81
	FROM "public.Cinemas" c
	WHERE c.name = 'Двадцать восьмой';

	SELECT c.id INTO id_cinema_82
	FROM "public.Cinemas" c
	WHERE c.name = 'Двадцать первый';

	SELECT c.id INTO id_cinema_83
	FROM "public.Cinemas" c
	WHERE c.name = 'Семьдесять девятый';

	SELECT c.id INTO id_cinema_84
	FROM "public.Cinemas" c
	WHERE c.name = 'Двенадцатый';

	SELECT c.id INTO id_cinema_85
	FROM "public.Cinemas" c
	WHERE c.name = 'Восемьдесять седьмой';

	SELECT c.id INTO id_cinema_86
	FROM "public.Cinemas" c
	WHERE c.name = 'Первый';

	SELECT c.id INTO id_cinema_87
	FROM "public.Cinemas" c
	WHERE c.name = 'Сорок девятый';

	SELECT c.id INTO id_cinema_88
	FROM "public.Cinemas" c
	WHERE c.name = 'Тридцать восьмой';

	SELECT c.id INTO id_cinema_89
	FROM "public.Cinemas" c
	WHERE c.name = 'Восемьдесять второй';

	SELECT c.id INTO id_cinema_90
	FROM "public.Cinemas" c
	WHERE c.name = 'Тридцать девятый';

	SELECT c.id INTO id_cinema_91
	FROM "public.Cinemas" c
	WHERE c.name = 'Двадцать девятый';

	SELECT c.id INTO id_cinema_92
	FROM "public.Cinemas" c
	WHERE c.name = 'Двадцать четвертый';

	SELECT c.id INTO id_cinema_93
	FROM "public.Cinemas" c
	WHERE c.name = 'Тридцать четвертый';

	SELECT c.id INTO id_cinema_94
	FROM "public.Cinemas" c
	WHERE c.name = 'Тридцатый';

	SELECT c.id INTO id_cinema_95
	FROM "public.Cinemas" c
	WHERE c.name = 'Семьдесять третий';

	SELECT c.id INTO id_cinema_96
	FROM "public.Cinemas" c
	WHERE c.name = 'Шестьдесят первый';

	SELECT c.id INTO id_cinema_97
	FROM "public.Cinemas" c
	WHERE c.name = 'Восемнадцатый';

	SELECT c.id INTO id_cinema_98
	FROM "public.Cinemas" c
	WHERE c.name = 'Пятьдесят шестой';

	SELECT c.id INTO id_cinema_99
	FROM "public.Cinemas" c
	WHERE c.name = 'Шестьдесят восьмой';

	SELECT cp.id INTO id_position_0
	FROM "public.Cinemas_positions" cp
	WHERE cp.position = 'Старший кассир';

	SELECT cp.id INTO id_position_1
	FROM "public.Cinemas_positions" cp
	WHERE cp.position = 'Инженер по эксплуатации кинотеатра';

	SELECT cp.id INTO id_position_2
	FROM "public.Cinemas_positions" cp
	WHERE cp.position = 'Бармен';

	SELECT cp.id INTO id_position_3
	FROM "public.Cinemas_positions" cp
	WHERE cp.position = 'Администратор';

	SELECT cp.id INTO id_position_4
	FROM "public.Cinemas_positions" cp
	WHERE cp.position = 'Охранник';

	SELECT cp.id INTO id_position_5
	FROM "public.Cinemas_positions" cp
	WHERE cp.position = 'Уборщик';

	SELECT cp.id INTO id_position_6
	FROM "public.Cinemas_positions" cp
	WHERE cp.position = 'Киномеханик';

	SELECT cp.id INTO id_position_7
	FROM "public.Cinemas_positions" cp
	WHERE cp.position = 'Управляющий кинотеатра';

	SELECT cp.id INTO id_position_8
	FROM "public.Cinemas_positions" cp
	WHERE cp.position = 'Кассир';

	SELECT cp.id INTO id_position_9
	FROM "public.Cinemas_positions" cp
	WHERE cp.position = 'Бухгалтер';

	SELECT cp.id INTO id_position_10
	FROM "public.Cinemas_positions" cp
	WHERE cp.position = 'Системный администратор';

	SELECT cp.id INTO id_position_11
	FROM "public.Cinemas_positions" cp
	WHERE cp.position = 'Менеджер по рекламе и маркетингу';

	SELECT cp.id INTO id_position_12
	FROM "public.Cinemas_positions" cp
	WHERE cp.position = 'Контроллер';

	SELECT cp.id INTO id_position_13
	FROM "public.Cinemas_positions" cp
	WHERE cp.position = 'Менеджер по кинопрокату';

	INSERT INTO "public.Staff" (cinema_id, position_id, login, password, birthday, phone, email, name) VALUES
		(id_cinema_0, id_position_0, 'oWZJTE', 'ljMGcCYb', '1986-03-08', '85839473914', 'afanasevbojan@example.com', 'Измаил Матвеевич Зуев'),
		(id_cinema_1, id_position_1, 'WKVNrG', 'aRfPMSAf', '1996-05-15', '88177912805', 'afanasi32@example.com', 'Василиса Вячеславовна Вишнякова'),
		(id_cinema_2, id_position_2, 'MPRQYI', 'hDoKqMcm', '1973-11-22', '85656458301', 'afinogen1988@example.org', 'Власова Галина Станиславовна'),
		(id_cinema_3, id_position_3, 'WoPSAi', 'PjRizWmB', '1974-01-10', '84403117402', 'agafja20@example.net', 'Константин Германович Петров'),
		(id_cinema_4, id_position_0, 'CyzUzK', 'xBXgmYnY', '1997-11-15', '83912452040', 'agafonovolimpi@example.com', 'Евгений Андреевич Матвеев'),
		(id_cinema_5, id_position_4, 'dhqQLc', 'yGlkfovA', '1982-07-17', '86080595146', 'akolesnikova@example.net', 'Олимпий Ефимьевич Гуляев'),
		(id_cinema_6, id_position_5, 'xyaFqr', 'TdjReaRR', '1998-01-10', '84156827752', 'aleksandra21@example.net', 'Будимир Ярославович Орлов'),
		(id_cinema_7, id_position_6, 'tPNCAf', 'eRUBxjlk', '1983-04-26', '84725162836', 'alekse_1976@example.org', 'Соколова Нонна Львовна'),
		(id_cinema_8, id_position_1, 'siEpdS', 'KsIqhDJo', '1974-12-10', '83206195277', 'alevtina_11@example.org', 'Анжелика Геннадьевна Давыдова'),
		(id_cinema_9, id_position_7, 'bszmSd', 'vmrmyPiw', '1973-01-07', '81392306118', 'amos39@example.net', 'Фадеев Федор Якубович'),
		(id_cinema_10, id_position_6, 'WwVxjQ', 'hRLOIdSu', '1970-09-06', '87594928984', 'anastasija_2002@example.org', 'Евсеев Антип Эдгардович'),
		(id_cinema_11, id_position_8, 'LDSXMf', 'AamjLHvT', '1959-10-08', '81410621776', 'anatoli_96@example.com', 'Аркадий Марсович Гущин'),
		(id_cinema_12, id_position_9, 'faKwJs', 'PFbfpJLG', '1999-04-12', '83747317943', 'andreevavalentina@example.com', 'Емельянов Харлампий Трифонович'),
		(id_cinema_13, id_position_3, 'JrbYAm', 'CdhkiHpV', '1979-01-23', '81240337863', 'andreevfoti@example.net', 'Лапин Куприян Егорович'),
		(id_cinema_3, id_position_4, 'YAYAAN', 'PhIMuxJh', '1970-05-18', '88963086213', 'andron_35@example.net', 'Трофимов Остап Арсеньевич'),
		(id_cinema_13, id_position_5, 'FoUsiU', 'PXvPkTvi', '2000-07-19', '89928904775', 'andronik_87@example.net', 'Ольга Егоровна Рожкова'),
		(id_cinema_14, id_position_10, 'UZyHbJ', 'osYUlJng', '1987-05-18', '83390677514', 'angelina_1977@example.org', 'Галкин Платон Валерьевич'),
		(id_cinema_15, id_position_1, 'WviXXn', 'zfCxyQJa', '2000-12-26', '88987731589', 'angelina_2023@example.net', 'Фомина Анна Александровна'),
		(id_cinema_16, id_position_6, 'GpunyG', 'SUtrnvzK', '1988-03-27', '87937284700', 'anike08@example.org', 'Макарова Светлана Юрьевна'),
		(id_cinema_17, id_position_10, 'wKvGzm', 'IZWRrZER', '1997-09-17', '82947779647', 'anike36@example.org', 'Стрелкова Елизавета Ивановна'),
		(id_cinema_18, id_position_8, 'fCibBw', 'sOghlLNi', '1996-01-10', '87263504727', 'anikitadanilov@example.net', 'Радован Брониславович Воробьев'),
		(id_cinema_5, id_position_11, 'KcwPGQ', 'IFVZVXaR', '1987-08-19', '82879429519', 'anisim_37@example.org', 'Белякова Алла Святославовна'),
		(id_cinema_19, id_position_5, 'jQnNwO', 'YjoIAXJj', '2002-05-24', '82717725775', 'anisimovignati@example.org', 'Федотова Алевтина Петровна'),
		(id_cinema_20, id_position_12, 'uvylGP', 'ubfZrFWv', '1984-06-05', '82056177001', 'antonin1984@example.com', 'Коновалов Эраст Марсович'),
		(id_cinema_21, id_position_3, 'dTBIov', 'PHDiHKyC', '1999-09-13', '89902927503', 'antonin1988@example.org', 'Светлана Степановна Дементьева'),
		(id_cinema_22, id_position_7, 'sSQSAn', 'kZpcFgUQ', '1967-07-09', '85397210100', 'antonina1998@example.org', 'Валентина Ефимовна Коновалова'),
		(id_cinema_23, id_position_9, 'gDhwAn', 'JUzPipPc', '1976-06-05', '85747141906', 'antonovtimofe@example.net', 'Костина Антонина Харитоновна'),
		(id_cinema_17, id_position_7, 'VyQVgB', 'vtHJJqFb', '1983-06-04', '83481022711', 'apollinari_1993@example.com', 'тов. Михеев Святополк Филимонович'),
		(id_cinema_24, id_position_12, 'IWAxiE', 'uGqJgvOJ', '1967-02-12', '84827887731', 'apollinarimedvedev@example.net', 'Зинаида Оскаровна Васильева'),
		(id_cinema_25, id_position_12, 'FvUeXu', 'NKtGQJvY', '1978-12-07', '84689809485', 'apollon_1976@example.net', 'Журавлев Леонид Арсенович'),
		(id_cinema_26, id_position_2, 'pifHFa', 'GplmRyyE', '1960-06-17', '86938423974', 'apollon2019@example.org', 'Гусева Майя Тимуровна'),
		(id_cinema_27, id_position_6, 'TolaUw', 'QvBsLZGm', '1995-11-19', '85343663772', 'arefi_82@example.com', 'Ангелина Станиславовна Комарова'),
		(id_cinema_28, id_position_0, 'gptvuZ', 'JfDmEFJQ', '1974-03-15', '88292914377', 'arefi1972@example.net', 'Элеонора Ниловна Ефремова'),
		(id_cinema_29, id_position_10, 'Cfrxfq', 'zzVthNcQ', '2002-07-15', '87567090060', 'artemevafaina@example.net', 'Мартын Фадеевич Гусев'),
		(id_cinema_30, id_position_11, 'jcHdCb', 'WCxFCLyL', '2002-10-12', '81261329993', 'artemevtihon@example.net', 'Рябов Илья Фокич'),
		(id_cinema_31, id_position_12, 'XgqkIo', 'IDlbqSBa', '1986-07-13', '82559474981', 'artemifilatov@example.org', 'Афанасий Афанасьевич Наумов'),
		(id_cinema_32, id_position_4, 'kouboV', 'kWGmHnZd', '1994-05-24', '86036054229', 'askold1986@example.org', 'Сергей Валерьянович Наумов'),
		(id_cinema_33, id_position_0, 'ovTAiI', 'KMRWTCxQ', '1988-09-21', '86503852258', 'askolddoronin@example.org', 'Алексеева Анжелика Львовна'),
		(id_cinema_34, id_position_8, 'KRUWYx', 'iifCNrlO', '2001-05-18', '89208994966', 'averjan42@example.net', 'Петухов Борис Ефстафьевич'),
		(id_cinema_32, id_position_12, 'bnTMoZ', 'kGkgUTPt', '1992-02-16', '85237403479', 'averki_04@example.com', 'Шарапов Мир Адрианович'),
		(id_cinema_15, id_position_7, 'uRsBRK', 'FIrEGfff', '1974-11-10', '88093711681', 'avgust16@example.net', 'Маркова Феврония Наумовна'),
		(id_cinema_11, id_position_11, 'Ybrvcj', 'eRAMzdbN', '1977-11-01', '87627343557', 'avksenti_25@example.com', 'Кузьмина Зоя Владиславовна'),
		(id_cinema_14, id_position_5, 'lNZIqw', 'GmdJAfKH', '1981-11-25', '85951030282', 'azari1975@example.net', 'Пестов Амос Дорофеевич'),
		(id_cinema_35, id_position_1, 'nTqRDw', 'WUDmNAcb', '1991-11-16', '84589866393', 'baranovsevastjan@example.org', 'Элеонора Кузьминична Наумова'),

In [35]:
excel_file = 'customers_random.xlsx'

df_customers_random = pd.read_excel(excel_file)

print(df_customers_random)

                               Имя Дата рождения  \
0       Гришина Надежда Тимофеевна    1993-04-11
1      Суханова Лариса Афанасьевна    2002-07-02
2     Лукия Харитоновна Дементьева    1979-03-18
3         Олимпий Игнатович Егоров    1982-06-23
4        Родионов Софрон Иосифович    1999-06-20
..                             ...           ...
145  Ирина Кузьминична Овчинникова    1985-08-20
146    Белозерова Ангелина Ниловна    1974-11-11
147       Осипов Любомир Устинович    1998-08-09
148  Глафира Альбертовна Беспалова    1999-09-21
149  Федосеева Нонна Александровна    1969-07-20

                  Ссылка на аватарку      Телефон  \
0      https://dummyimage.com/666x41  89680332625
1      https://picsum.photos/310/175  86966477907
2     https://picsum.photos/278/1008  81443028753
3     https://dummyimage.com/156x181  84041932332
4    https://placekitten.com/300/657  83218639115
..                               ...          ...
145   https://dummyimage.com/896x409  81778634497
146  https://placekitten.com/500/890  83328246922
147  https://placekitten.com/340/661  84378761361
148    https://picsum.photos/648/957  83048075904
149    https://picsum.photos/840/492  89353665179

                            Почта   Логин    Пароль
0            opetrova@example.org  AhTHFd  dYUbJmcV
1      radovanmorozov@example.net  hwgrkr  AByfKYek
2      stanislav_2001@example.org  EwzdLc  tsXhyiHC
3    shirjaevluchezar@example.com  OEiIuh  CAekfSiF
4         ratibor1978@example.com  FKesSl  PXIXdjvY
..                            ...     ...       ...
145        kuprijan48@example.org  waqmKe  FwFlGdXH
146         akabanova@example.org  TNqqUO  XAAOtmKI
147        mstislav21@example.net  XPZiti  VTzONEOH
148      tvorimir2013@example.com  QHIYwk  NJQFPVTY
149        leonid1992@example.org  ntsTnc  exYGzVBl

[150 rows x 7 columns]

In [36]:
def customers_insert(names,birthdays,logins,avatars,phone_numbers,emails,passwords):
    queries = """INSERT INTO "public.Customers" (name, birthday, login, avatar_ref, phone, mail, password) VALUES"""
    for i in range(len(names)):
        query = f"""
	('{names[i]}','{birthdays[i]}','{logins[i]}','{avatars[i]}','{phone_numbers[i]}','{emails[i]}','{passwords[i]}')"""
        if i == len(names)-1: query_end = """;"""
        else: query_end = ""","""
        queries = queries + query + query_end
    return queries

In [37]:
names = df_customers_random['Имя']
birthdays = df_customers_random['Дата рождения']
logins = df_customers_random['Логин']
avatars = df_customers_random['Ссылка на аватарку']
phone_numbers = df_customers_random['Телефон']
emails = df_customers_random['Почта']
passwords = df_customers_random['Пароль']

print(customers_insert(names,birthdays,logins,avatars,phone_numbers,emails,passwords))

INSERT INTO "public.Customers" (name, birthday, login, avatar_ref, phone, mail, password) VALUES
	('Гришина Надежда Тимофеевна','1993-04-11','AhTHFd','https://dummyimage.com/666x41','89680332625','opetrova@example.org','dYUbJmcV'),
	('Суханова Лариса Афанасьевна','2002-07-02','hwgrkr','https://picsum.photos/310/175','86966477907','radovanmorozov@example.net','AByfKYek'),
	('Лукия Харитоновна Дементьева','1979-03-18','EwzdLc','https://picsum.photos/278/1008','81443028753','stanislav_2001@example.org','tsXhyiHC'),
	('Олимпий Игнатович Егоров','1982-06-23','OEiIuh','https://dummyimage.com/156x181','84041932332','shirjaevluchezar@example.com','CAekfSiF'),
	('Родионов Софрон Иосифович','1999-06-20','FKesSl','https://placekitten.com/300/657','83218639115','ratibor1978@example.com','PXIXdjvY'),
	('Игнатьев Наум Харлампович','1984-01-09','AcOjam','https://dummyimage.com/210x189','86009167902','vladimir_80@example.com','oBSPcFpo'),
	('Павлова Прасковья Аскольдовна','2002-04-17','rNLOSb','https://placekitten.com/632/558','89880283271','rjabovzahar@example.net','CpQcIvNc'),
	('Изот Матвеевич Буров','1972-11-02','AWKWTc','https://placekitten.com/958/841','81497202273','ovchinnikovmakar@example.com','jJBxCmOx'),
	('Марина Александровна Герасимова','1976-07-22','vkXlrl','https://picsum.photos/1013/445','88820359863','blohinjakov@example.net','QKocESeO'),
	('Кошелев Милан Вячеславович','1976-08-20','RqEcTO','https://placekitten.com/287/39','82103972744','bobrovaraisa@example.org','rXGrSMAD'),
	('Никандр Венедиктович Стрелков','1989-10-01','JIUzCy','https://picsum.photos/467/458','87715725962','gorbunovaanastasija@example.net','bpFHVDas'),
	('Лобанов Пахом Евсеевич','1992-04-10','qjPZzJ','https://dummyimage.com/592x794','83220471480','luka_1980@example.com','yimByRbW'),
	('Николай Тимурович Дементьев','1978-02-27','FOeoog','https://picsum.photos/707/392','88660872115','gordegolubev@example.org','oeTCoNLq'),
	('Елисеев Пахом Бенедиктович','1978-10-01','sZIfnv','https://placekitten.com/48/217','86807472135','belousovtaras@example.net','sbwaxtoI'),
	('Воронцов Корнил Тарасович','1987-05-16','ujoJbX','https://dummyimage.com/657x241','88089153790','jsazonov@example.com','zuGIjEYx'),
	('Филимон Измаилович Рыбаков','1972-02-15','LaexDh','https://placekitten.com/804/483','86875233870','aleksandra79@example.net','EcggvXKR'),
	('Савельева Раиса Геннадьевна','1988-09-25','sMHWca','https://picsum.photos/626/20','83079218598','fedorsimonov@example.com','EazkIKMG'),
	('Кондратьев Измаил Валерианович','1979-03-06','rjlfvn','https://dummyimage.com/399x687','82396895688','feofan_45@example.net','ZvgFokQw'),
	('Фаина Геннадиевна Федосеева','1961-03-17','MqDKWp','https://dummyimage.com/65x454','82289523363','roman41@example.net','CTxpvqMx'),
	('Алла Леоновна Жданова','1973-07-02','TkFret','https://placekitten.com/217/34','85861530123','makar_2007@example.org','ALCkyGGW'),
	('Артемий Иосипович Сидоров','1962-12-22','mGljFN','https://dummyimage.com/589x467','87610788384','nesterovfrol@example.org','bbtYIlrY'),
	('Зинаида Архиповна Лобанова','1964-02-23','CMUZiu','https://placekitten.com/729/390','89908010145','uvladimirov@example.net','pLGhaNUO'),
	('Ильин Демьян Ефремович','1970-11-06','MCmisB','https://placekitten.com/445/573','86081786207','ignatevaanzhela@example.net','rqPATmKU'),
	('Макарова Антонина Михайловна','1987-10-13','yHnRbk','https://picsum.photos/747/248','85944761800','borislavguljaev@example.com','yfzhuOlp'),
	('Галина Константиновна Кабанова','1966-05-24','RXFOjO','https://picsum.photos/31/39','81469856188','strelkovanonna@example.net','fDWxzjQD'),
	('Рюрик Даниилович Куликов','1990-03-20','EMjDVL','https://dummyimage.com/438x612','87603375069','ponomarevnikanor@example.com','WClhZLpE'),
	('Агата Руслановна Самсонова','2000-06-19','qFyhVw','https://dummyimage.com/512x25','88397299084','orestloginov@example.org','JBkOYXYF'),
	('Емельянова Марина Григорьевна','2000-10-22','VtkEKL','https://dummyimage.com/335x165','87936675908','eleonora_22@example.net','qXVDbHhZ'),
	('Артемьев Федосий Валентинович','1958-06-21','CIwsKQ','https://picsum.photos/198/635','89926522009','kiselevavarvara@example.org','uwefaRMq'),
	('Власов Любим Арсеньевич','1994-12-15','spaDbz','https://placekitten.com/587/536','88671448403','alekse_2004@example.net','PepQXezV'),
	('Лапина Элеонора Даниловна','1958-09-09','jZYStc','https://placekitten.com/323/254','82939927189','oktjabrina_71@example.org','DRKVkkzT'),
	('Субботина Фёкла Феликсовна','1994-08-27','msynyY','https://placekitten.com/260/470','84123065832','nazarovaalla@example.org','IEBLGVoE'),
	('г-н Горшков Флорентин Глебович','2003-09-20','zNMppZ','https://placekitten.com/955/810','89462488117','ukoshelev@example.net','PKxOLbKS'),
	('Вера Геннадьевна Матвеева','1983-03-15','PNTkEX','https://picsum.photos/100/819','84267806498','anatoli_98@example.org','PurgWnXI'),
	('Фомин Мокей Захарьевич','2001-12-28','KHRjfo','https://dummyimage.com/76x846','85499393799','nadezhda24@example.net','eZVfxdMm'),
	('Якуб Игнатьевич Молчанов','2002-11-04','wGxLVw','https://placekitten.com/178/121','81392391964','vsemil_1982@example.org','TqDQXcPU'),
	('Светлана Кузьминична Кабанова','1995-07-03','MAFTYf','https://placekitten.com/185/515','83987604952','martjansorokin@example.net','hRqyOcuJ'),
	('Творимир Демидович Поляков','1964-06-01','KCRiLi','https://picsum.photos/873/999','86156494914','ignatovippolit@example.com','gIRylzJa'),
	('Давыдова Екатерина Андреевна','1963-03-14','jejXiO','https://placekitten.com/449/646','85543087735','pimen_2022@example.org','qYHsQMAz'),
	('Стрелков Иннокентий Гаврилович','1964-01-22','QmaiXn','https://picsum.photos/26/697','81868884513','sidor2008@example.com','YBdXoyyZ'),
	('Сафонова Пелагея Артемовна','1960-12-23','lxowNF','https://dummyimage.com/420x675','88155394288','jaroslavkulagin@example.org','pDqyHdFd'),
	('Любовь Артемовна Исаева','1961-03-22','qFuLiY','https://picsum.photos/53/768','82840772235','vinogradovsigizmund@example.org','ackcRkqY'),
	('Боян Филиппович Афанасьев','1967-09-28','PNVNOi','https://placekitten.com/1020/282','85614001366','rusakovstanislav@example.net','zooPSgOb'),
	('Воронцов Ферапонт Богданович','1997-10-01','CROmUA','https://placekitten.com/731/787','85797226621','ereme_23@example.net','obwwVlVh'),
	('Кононова Варвара Владиславовна','1961-02-13','SuDdrF','https://dummyimage.com/913x972','81361142853','olegteterin@example.com','zEuiZemV'),
	('Бажен Ануфриевич Фролов','1987-11-04','daYetz','https://dummyimage.com/976x255','81977777430','hohlovaivanna@example.net','JfCUiORK'),
	('Милован Игнатьевич Тимофеев','1978-08-12','wsekwS','https://dummyimage.com/620x572','86947256566','egorovafaina@example.com','pxtsHKfc'),
	('Фока Фролович Родионов','1990-07-28','jDYBPw','https://dummyimage.com/161x686','87478983686','maksimiljan1993@example.org','ZZkcxFkS'),
	('Пелагея Кирилловна Борисова','1972-10-08','XDIVZx','https://placekitten.com/432/886','84670845739','ereme1977@example.net','buAuVqzj'),
	('Раиса Даниловна Гурьева','1985-09-08','gcmPcy','https://dummyimage.com/706x863','86450431187','dprohorova@example.net','tUbvBPry'),
	('Голубева Варвара Васильевна','1969-11-23','tFUKIy','https://placekitten.com/956/620','82483348601','koshelevalidija@example.org','IeElaEzV'),
	('Мельников Святополк Давидович','1982-03-24','IwwBAD','https://picsum.photos/641/242','87299155248','samson_10@example.net','ybVGJiKX'),
	('Вишнякова Майя Григорьевна','1990-08-16','bHovZS','https://dummyimage.com/557x141','89408666745','dorofeevprov@example.net','VLrHAXMt'),
	('Ершова Лидия Эльдаровна','1959-11-22','EjINNe','https://placekitten.com/908/426','82667798190','feliks_1995@example.net','pCmwOhAm'),
	('Макар Ермолаевич Петухов','1972-06-04','eIzZLh','https://picsum.photos/679/616','81667791008','dementevstojan@example.org','esNwEUyh'),
	('Григорий Александрович Семенов','1988-12-04','gioadL','https://dummyimage.com/102x647','83454391772','grigorevfedor@example.org','DoZfRmte'),
	('Буров Стоян Филатович','1964-01-06','MpoqZZ','https://placekitten.com/138/443','82777928907','filippovapollinari@example.org','ZpOlSjNO'),
	('Владилен Харлампьевич Сидоров','1972-11-27','uaDzLi','https://placekitten.com/834/301','87669429296','konovalovazoja@example.com','IBQIQqmB'),
	('Константинов Влас Елисеевич','1967-08-09','SWTvfS','https://dummyimage.com/981x177','89692209948','demid_27@example.com','YdnKxbYJ'),
	('Лихачева Зинаида Натановна','1986-01-18','kTXqgG','https://placekitten.com/387/468','89995399345','sergeevveniamin@example.org','dkLVNzgZ'),
	('Кондратьев Василий Ефимьевич','1981-01-17','MppFKS','https://dummyimage.com/614x517','89976206480','andreevavgust@example.net','ZEflakfC'),
	('Шашков Всемил Антипович','1976-10-12','RSwHnv','https://placekitten.com/602/100','87043382883','pblinova@example.net','WZsFxdky'),
	('Лукия Николаевна Беспалова','1979-11-09','VpOGnR','https://placekitten.com/44/764','84211477645','irina_66@example.org','YoCxMiuG'),
	('Суханов Федот Феофанович','1973-06-08','fSKvip','https://picsum.photos/777/521','87563776848','shcherbakovvladimir@example.net','MxqrLXdL'),
	('Терентьева Марфа Вениаминовна','1973-01-07','hdvswR','https://picsum.photos/780/517','84784532668','kornilovavarvara@example.com','LPhLbMsb'),
	('Уваров Архип Владиславович','1970-07-15','FZIZdn','https://placekitten.com/667/467','82403002850','lev1999@example.net','IIrEhbmN'),
	('Одинцов Изяслав Изотович','1998-02-07','tNlldQ','https://dummyimage.com/458x173','81378045284','vissarion_13@example.com','EPFjklAy'),
	('Копылов Самуил Эдуардович','2000-10-03','QNjWam','https://picsum.photos/602/444','87722550058','bolshakovapolina@example.net','UNLzYezo'),
	('Елизавета Тимофеевна Овчинникова','1981-04-23','XPfgyg','https://dummyimage.com/71x994','84668988514','ostromir_38@example.net','nqorKizE'),
	('Бирюкова Лора Ивановна','1959-08-19','UepqAW','https://dummyimage.com/391x954','84908363259','sisoevmilovan@example.org','iifoWFlB'),
	('Антонина Матвеевна Хохлова','2004-06-04','llpXgO','https://picsum.photos/780/246','84728898889','emmanuilantonov@example.com','zmWyukvl'),
	('Мясников Остромир Чеславович','2002-11-25','lLERjU','https://placekitten.com/1018/326','87775865041','anike22@example.org','KXgKGGQS'),
	('Тихонова Эмилия Вячеславовна','1984-12-03','zgDHnz','https://dummyimage.com/856x961','84297505724','afinogen1986@example.net','tckFPaip'),
	('Зуева Ангелина Дмитриевна','2001-03-17','CSQpxf','https://dummyimage.com/248x1011','86219148874','maksimiljan_2004@example.org','oILQykoD'),
	('Петухова Зоя Степановна','2001-11-09','bRXQqF','https://picsum.photos/799/1023','89991468967','bogdan87@example.org','XTFtThzq'),
	('Терентьева Анастасия Альбертовна','1978-12-27','FimVdq','https://dummyimage.com/263x234','83337589771','ignatevairina@example.org','RaCBwqMb'),
	('Спиридон Брониславович Сорокин','1978-07-10','XYEExN','https://dummyimage.com/936x93','87253075953','firs_04@example.org','TmlIxGsj'),
	('Лидия Алексеевна Шубина','2000-06-12','KccOLM','https://dummyimage.com/495x418','82384371007','sorokinkallistrat@example.net','mHKPRaHi'),
	('Белозеров Афанасий Аксёнович','1970-10-03','QhWJGu','https://picsum.photos/490/992','86404735575','svjatopolk21@example.com','zeJRQqgF'),
	('Афанасьева Майя Анатольевна','1986-08-23','DlVCZP','https://dummyimage.com/127x601','87301494706','tsvetkovradovan@example.org','YMHqCUWK'),
	('Аристарх Гордеевич Евдокимов','1976-07-22','pKUVhF','https://dummyimage.com/709x437','83083373513','qgordeev@example.net','qeHmvjtK'),
	('Соколова Дарья Макаровна','1973-10-11','voAQYk','https://placekitten.com/190/934','83028242177','stepanovoleg@example.net','CuThAlwa'),
	('Миронова Элеонора Борисовна','1991-05-24','CxdBAO','https://dummyimage.com/241x328','81269013015','fokinvissarion@example.net','YAyclxsY'),
	('Агата Вадимовна Зыкова','1988-02-21','vUSepG','https://placekitten.com/397/263','84800530718','serafim_1996@example.com','VuqaFbEH'),
	('Эмилия Константиновна Дмитриева','1970-02-10','SPvVXh','https://dummyimage.com/765x499','88409657858','konstantinmuhin@example.com','rXnGYvqa'),
	('Алексеева Галина Феликсовна','1983-10-07','QWbnyX','https://placekitten.com/454/192','83556754628','avde_14@example.org','eBKGBCKb'),
	('Якушева Дарья Антоновна','1980-12-22','BLSbWz','https://placekitten.com/30/29','85594135498','dementi_32@example.com','mNrzKSso'),
	('Карпов Владимир Теймуразович','1993-08-06','pamTfO','https://placekitten.com/542/588','85232324235','iraida07@example.org','vYqaxNXH'),
	('Богданов Януарий Васильевич','1982-11-07','aFREQM','https://placekitten.com/35/847','81984151432','efimovavalentina@example.com','LKfsgIwv'),
	('Власова Дарья Геннадиевна','1996-01-19','zcDMtl','https://placekitten.com/829/308','83513983224','drozdovalekse@example.com','TZcKnkFj'),
	('Дмитриев Лазарь Эдуардович','2002-11-13','axuNHK','https://picsum.photos/744/858','85047710098','osipovmakar@example.com','uUSFpzBW'),
	('Епифан Демьянович Попов','2001-06-15','lWzWIa','https://dummyimage.com/299x293','82660352442','galina1984@example.com','BMfHTSDf'),
	('Жанна Сергеевна Фомичева','1970-07-15','dMWZrA','https://picsum.photos/872/945','85716691872','nikiforsokolov@example.org','ybXstffI'),
	('Элеонора Рудольфовна Третьякова','1967-12-20','gxKoPe','https://dummyimage.com/1x317','87612481402','zuevfrol@example.org','KmynLPGJ'),
	('Азарий Борисович Прохоров','1993-04-02','bYmNCu','https://placekitten.com/405/694','83189126916','nikodim1992@example.org','bFwYRRwU'),
	('Никифорова Эмилия Афанасьевна','1996-04-06','KBtRQc','https://picsum.photos/331/496','89253151746','bespalovzosima@example.com','DwkwHlIX'),
	('Котов Панкрат Ефстафьевич','1965-01-26','JgVrGg','https://placekitten.com/615/850','86510313923','wturova@example.com','NlkvdmHO'),
	('Егоров Мирон Марсович','1998-05-12','CSEvlC','https://placekitten.com/473/524','84486427110','xhohlov@example.com','BFLmVrod'),
	('Селиван Игнатьевич Соболев','1959-05-20','rUQaFP','https://dummyimage.com/747x671','86002875148','elizar2023@example.net','QJZXozMm'),
	('Август Матвеевич Устинов','1974-06-15','mrWLjt','https://dummyimage.com/820x256','89867321708','samson_2019@example.com','eCOijzXK'),
	('Белов Родион Гаврилович','1963-05-09','oWqWDs','https://picsum.photos/872/326','83223515925','nmuravev@example.org','lRUuItOM'),
	('Архипов Моисей Гордеевич','1963-08-27','ZtSZOw','https://dummyimage.com/550x947','88196645802','margarita1985@example.net','uvseCIKK'),
	('Тихонова Майя Аскольдовна','1982-11-08','awmUEz','https://picsum.photos/325/567','89418228014','olimpi_32@example.net','GUthLcdw'),
	('Мстислав Георгиевич Никифоров','1985-06-18','WqfaQy','https://picsum.photos/786/127','81280270790','prokofikomarov@example.com','aMhSMtYr'),
	('Журавлева Фёкла Игоревна','1984-09-10','ijMLZs','https://picsum.photos/869/656','82998734892','nlitkina@example.org','GcFXnqbe'),
	('Терентьева Майя Рудольфовна','1965-06-19','FoizBf','https://placekitten.com/214/267','83180836832','ippolit1977@example.net','ldFBKrwC'),
	('Денис Эдгардович Дорофеев','1996-07-06','SIjJGI','https://dummyimage.com/560x232','88399257693','anisimovjaropolk@example.com','HUscTCVt'),
	('Симонов Святослав Юльевич','1979-06-21','UjFeqe','https://dummyimage.com/956x671','86980805560','valerija1997@example.com','vebajAUx'),
	('Пестов Максим Исидорович','1987-05-08','MZFbYY','https://picsum.photos/234/972','88555174541','olimpiada_1974@example.org','ExlnpnAc'),
	('Савелий Аксёнович Нестеров','1990-01-25','noAgko','https://picsum.photos/251/312','85229556771','julian1987@example.net','hTyQvVTx'),
	('Мартынова Лукия Леоновна','1977-03-03','kEMEoM','https://dummyimage.com/134x364','87054317593','timofe1973@example.net','tZZOEIxP'),
	('Лебедев Елисей Августович','1965-12-18','SjjLGd','https://dummyimage.com/511x255','82853095316','titovaevgenija@example.net','rnquafRb'),
	('Селиверстова Ульяна Владимировна','1987-03-10','jqiJMn','https://dummyimage.com/490x276','81638477695','kir_2008@example.org','IdsvXAjK'),
	('Стрелкова Фаина Харитоновна','1997-06-03','cuCuVf','https://picsum.photos/195/106','82550656366','seliverst_89@example.org','FakWrHKq'),
	('Каллистрат Матвеевич Ермаков','1975-08-04','hVXWNY','https://placekitten.com/784/141','83842927826','nikola_2018@example.com','yVcObxeu'),
	('Олимпиада Егоровна Герасимова','1984-12-15','ttEXCr','https://picsum.photos/122/398','87976835667','samsonovspiridon@example.net','ejdNXSMF'),
	('Самуил Власович Мишин','1980-10-28','EOVXcp','https://dummyimage.com/998x222','89365629065','sidor1990@example.org','CJojeeun'),
	('тов. Дементьев Натан Игоревич','1989-10-27','XxPDUl','https://picsum.photos/81/144','81252278240','tihonovaraisa@example.org','VRuJvkiA'),
	('Полякова Анжела Матвеевна','2001-04-27','sVVseJ','https://placekitten.com/946/784','89494739198','andreevadarja@example.com','dpNabHVG'),
	('Зыкова Октябрина Анатольевна','1971-07-13','VwaOjO','https://placekitten.com/933/618','84232325763','tihonovizot@example.org','cizvOLop'),
	('Доронин Конон Исидорович','1985-01-22','kTeuVZ','https://placekitten.com/858/361','88387368487','tverdislav_87@example.com','xLmpeGdK'),
	('Синклитикия Феликсовна Архипова','1977-12-18','YecUiS','https://dummyimage.com/521x675','85426938146','gushchinaelizaveta@example.org','xLnJKeZb'),
	('Вероника Эльдаровна Мамонтова','1989-01-14','IapiPF','https://dummyimage.com/790x745','87356618617','eleonora_1986@example.com','DfZNTmNJ'),
	('Раиса Макаровна Борисова','1966-07-14','qacgTM','https://picsum.photos/265/912','83305897600','bojan_1973@example.com','zSroKQKl'),
	('Жанна Богдановна Назарова','1984-01-06','mpVmpP','https://picsum.photos/1016/910','83774209882','emeljan_1975@example.net','rvHGCQyP'),
	('Любовь Матвеевна Захарова','1970-09-14','mFNddv','https://placekitten.com/301/947','85095134575','vorobevsamuil@example.org','UxJQUdJN'),
	('Алевтина Аркадьевна Никитина','1977-07-02','atAVkE','https://picsum.photos/292/416','84618069410','bsafonova@example.net','cdINycXK'),
	('Анна Дмитриевна Осипова','1977-04-06','PraLZz','https://picsum.photos/926/856','83689049584','qsokolov@example.org','OmAeYwwM'),
	('Юлия Егоровна Самойлова','1994-12-11','WDENhP','https://picsum.photos/184/788','82285490557','arefifomichev@example.com','VMBsJLEM'),
	('Носова Таисия Павловна','1980-07-13','pVSbVx','https://placekitten.com/429/979','84051573363','savinamilitsa@example.com','OXWrspYQ'),
	('Владимиров Евгений Демидович','1963-05-14','vErGeS','https://dummyimage.com/162x434','81660022595','nikandr1982@example.net','cdHfszwN'),
	('Ермил Викторович Ситников','1967-01-17','dohLSy','https://dummyimage.com/435x39','86525312554','fortunat78@example.org','ewXbosAJ'),
	('Валентина Александровна Быкова','1971-03-28','QpaJbk','https://dummyimage.com/687x84','83411501588','nikiforrjabov@example.org','DtvcDeqa'),
	('Стрелков Исидор Артёмович','1984-10-10','lcJyEF','https://dummyimage.com/398x301','84050837295','tit_39@example.com','YXGoQknV'),
	('Фёкла Захаровна Рогова','1994-01-24','lemTBD','https://dummyimage.com/30x179','82078533633','savva2015@example.com','EEJMikry'),
	('Голубева Светлана Болеславовна','1960-10-12','SSfqmG','https://dummyimage.com/725x637','87576389892','csisoev@example.org','lhJNdGOD'),
	('Носкова Ирина Альбертовна','1988-01-25','MQOtNv','https://picsum.photos/931/326','81487476356','agata1982@example.com','eIoUxOqX'),
	('Мишин Митофан Эдгардович','1974-02-01','IgEqBq','https://picsum.photos/964/111','84080882644','sorokinvsemil@example.net','IeYUwyUE'),
	('Лукьян Георгиевич Муравьев','1984-02-13','vDAEHY','https://picsum.photos/424/435','82710186508','zhuravlevlukjan@example.org','EqOGaqam'),
	('Кузнецова Глафира Эдуардовна','1975-02-03','izMrcT','https://picsum.photos/817/103','82773869663','pankrat_05@example.net','wFxhkScn'),
	('Медведева Марина Ильинична','1995-06-28','jRjLPF','https://dummyimage.com/11x726','84859473087','iljavasilev@example.com','JCXAQgww'),
	('Януарий Вилорович Федосеев','1972-07-14','MWfNqn','https://picsum.photos/989/766','82310942488','lobanovaelizaveta@example.org','uWdHJWsM'),

In [38]:
def orders_insert(customer_names,isBooked):
    customer_names_unique = []
    for name in customer_names: 
        if name not in customer_names_unique:
            customer_names_unique.append(name)
    customer_ids_map = {}
    for i in range(len(customer_names_unique)):
        customer_ids_map[customer_names_unique[i]] = i

    queries_0 = """DO $$
"""
    for i in range(len(customer_names_unique)):
        query = f"""DECLARE id_customer_{i} INT;
"""
        queries_0 = queries_0 + query
        
    queries_1 = """
BEGIN"""
    for i in range(len(customer_names_unique)):
        query_1 = f"""
	SELECT c.id INTO id_customer_{i}
	FROM "public.Customers" c
	WHERE c.name = '{customer_names_unique[i]}';
"""
        queries_1 = queries_1 + query_1
        
    queries_2 = f"""
	INSERT INTO "public.Orders" (customer_id, "isBooked") VALUES"""
    for i in range(len(customer_names)):
        query = f"""
		(id_customer_{customer_ids_map[customer_names[i]]}, {isBooked[i]})"""
        if i == len(customer_names)-1: query_end = """;"""
        else: query_end = ""","""
        queries_2 = queries_2 + query + query_end
        
    queries_3 = """
END $$;"""
        
    return queries_0 + queries_1 + queries_2 + queries_3

In [39]:
excel_file = 'orders_random.xlsx'

df_orders_random = pd.read_excel(excel_file)

print(df_orders_random)

                          Заказчик  Бронь
0       Гришина Надежда Тимофеевна   True
1      Суханова Лариса Афанасьевна   True
2     Лукия Харитоновна Дементьева   True
3         Олимпий Игнатович Егоров   True
4        Родионов Софрон Иосифович   True
..                             ...    ...
145  Ирина Кузьминична Овчинникова  False
146    Белозерова Ангелина Ниловна  False
147       Осипов Любомир Устинович  False
148  Глафира Альбертовна Беспалова  False
149  Федосеева Нонна Александровна  False

[150 rows x 2 columns]

In [40]:
customer_names = df_orders_random['Заказчик']
isBooked = df_orders_random['Бронь']

print(orders_insert(customer_names,isBooked))

DO $$
DECLARE id_customer_0 INT;
DECLARE id_customer_1 INT;
DECLARE id_customer_2 INT;
DECLARE id_customer_3 INT;
DECLARE id_customer_4 INT;
DECLARE id_customer_5 INT;
DECLARE id_customer_6 INT;
DECLARE id_customer_7 INT;
DECLARE id_customer_8 INT;
DECLARE id_customer_9 INT;
DECLARE id_customer_10 INT;
DECLARE id_customer_11 INT;
DECLARE id_customer_12 INT;
DECLARE id_customer_13 INT;
DECLARE id_customer_14 INT;
DECLARE id_customer_15 INT;
DECLARE id_customer_16 INT;
DECLARE id_customer_17 INT;
DECLARE id_customer_18 INT;
DECLARE id_customer_19 INT;
DECLARE id_customer_20 INT;
DECLARE id_customer_21 INT;
DECLARE id_customer_22 INT;
DECLARE id_customer_23 INT;
DECLARE id_customer_24 INT;
DECLARE id_customer_25 INT;
DECLARE id_customer_26 INT;
DECLARE id_customer_27 INT;
DECLARE id_customer_28 INT;
DECLARE id_customer_29 INT;
DECLARE id_customer_30 INT;
DECLARE id_customer_31 INT;
DECLARE id_customer_32 INT;
DECLARE id_customer_33 INT;
DECLARE id_customer_34 INT;
DECLARE id_customer_35 INT;
DECLARE id_customer_36 INT;
DECLARE id_customer_37 INT;
DECLARE id_customer_38 INT;
DECLARE id_customer_39 INT;
DECLARE id_customer_40 INT;
DECLARE id_customer_41 INT;
DECLARE id_customer_42 INT;
DECLARE id_customer_43 INT;
DECLARE id_customer_44 INT;
DECLARE id_customer_45 INT;
DECLARE id_customer_46 INT;
DECLARE id_customer_47 INT;
DECLARE id_customer_48 INT;
DECLARE id_customer_49 INT;
DECLARE id_customer_50 INT;
DECLARE id_customer_51 INT;
DECLARE id_customer_52 INT;
DECLARE id_customer_53 INT;
DECLARE id_customer_54 INT;
DECLARE id_customer_55 INT;
DECLARE id_customer_56 INT;
DECLARE id_customer_57 INT;
DECLARE id_customer_58 INT;
DECLARE id_customer_59 INT;
DECLARE id_customer_60 INT;
DECLARE id_customer_61 INT;
DECLARE id_customer_62 INT;
DECLARE id_customer_63 INT;
DECLARE id_customer_64 INT;
DECLARE id_customer_65 INT;
DECLARE id_customer_66 INT;
DECLARE id_customer_67 INT;
DECLARE id_customer_68 INT;
DECLARE id_customer_69 INT;
DECLARE id_customer_70 INT;
DECLARE id_customer_71 INT;
DECLARE id_customer_72 INT;
DECLARE id_customer_73 INT;
DECLARE id_customer_74 INT;
DECLARE id_customer_75 INT;
DECLARE id_customer_76 INT;
DECLARE id_customer_77 INT;
DECLARE id_customer_78 INT;
DECLARE id_customer_79 INT;
DECLARE id_customer_80 INT;
DECLARE id_customer_81 INT;
DECLARE id_customer_82 INT;
DECLARE id_customer_83 INT;
DECLARE id_customer_84 INT;
DECLARE id_customer_85 INT;
DECLARE id_customer_86 INT;
DECLARE id_customer_87 INT;
DECLARE id_customer_88 INT;
DECLARE id_customer_89 INT;
DECLARE id_customer_90 INT;
DECLARE id_customer_91 INT;
DECLARE id_customer_92 INT;
DECLARE id_customer_93 INT;
DECLARE id_customer_94 INT;
DECLARE id_customer_95 INT;
DECLARE id_customer_96 INT;
DECLARE id_customer_97 INT;
DECLARE id_customer_98 INT;
DECLARE id_customer_99 INT;
DECLARE id_customer_100 INT;
DECLARE id_customer_101 INT;
DECLARE id_customer_102 INT;
DECLARE id_customer_103 INT;
DECLARE id_customer_104 INT;
DECLARE id_customer_105 INT;
DECLARE id_customer_106 INT;
DECLARE id_customer_107 INT;
DECLARE id_customer_108 INT;
DECLARE id_customer_109 INT;
DECLARE id_customer_110 INT;
DECLARE id_customer_111 INT;
DECLARE id_customer_112 INT;
DECLARE id_customer_113 INT;
DECLARE id_customer_114 INT;
DECLARE id_customer_115 INT;
DECLARE id_customer_116 INT;
DECLARE id_customer_117 INT;
DECLARE id_customer_118 INT;
DECLARE id_customer_119 INT;
DECLARE id_customer_120 INT;
DECLARE id_customer_121 INT;
DECLARE id_customer_122 INT;
DECLARE id_customer_123 INT;
DECLARE id_customer_124 INT;
DECLARE id_customer_125 INT;
DECLARE id_customer_126 INT;
DECLARE id_customer_127 INT;
DECLARE id_customer_128 INT;
DECLARE id_customer_129 INT;
DECLARE id_customer_130 INT;
DECLARE id_customer_131 INT;
DECLARE id_customer_132 INT;
DECLARE id_customer_133 INT;
DECLARE id_customer_134 INT;
DECLARE id_customer_135 INT;
DECLARE id_customer_136 INT;
DECLARE id_customer_137 INT;
DECLARE id_customer_138 INT;
DECLARE id_customer_139 INT;
DECLARE id_customer_140 INT;
DECLARE id_customer_141 INT;
DECLARE id_customer_142 INT;
DECLARE id_customer_143 INT;
DECLARE id_customer_144 INT;
DECLARE id_customer_145 INT;
DECLARE id_customer_146 INT;
DECLARE id_customer_147 INT;
DECLARE id_customer_148 INT;
DECLARE id_customer_149 INT;

BEGIN
	SELECT c.id INTO id_customer_0
	FROM "public.Customers" c
	WHERE c.name = 'Гришина Надежда Тимофеевна';

	SELECT c.id INTO id_customer_1
	FROM "public.Customers" c
	WHERE c.name = 'Суханова Лариса Афанасьевна';

	SELECT c.id INTO id_customer_2
	FROM "public.Customers" c
	WHERE c.name = 'Лукия Харитоновна Дементьева';

	SELECT c.id INTO id_customer_3
	FROM "public.Customers" c
	WHERE c.name = 'Олимпий Игнатович Егоров';

	SELECT c.id INTO id_customer_4
	FROM "public.Customers" c
	WHERE c.name = 'Родионов Софрон Иосифович';

	SELECT c.id INTO id_customer_5
	FROM "public.Customers" c
	WHERE c.name = 'Игнатьев Наум Харлампович';

	SELECT c.id INTO id_customer_6
	FROM "public.Customers" c
	WHERE c.name = 'Павлова Прасковья Аскольдовна';

	SELECT c.id INTO id_customer_7
	FROM "public.Customers" c
	WHERE c.name = 'Изот Матвеевич Буров';

	SELECT c.id INTO id_customer_8
	FROM "public.Customers" c
	WHERE c.name = 'Марина Александровна Герасимова';

	SELECT c.id INTO id_customer_9
	FROM "public.Customers" c
	WHERE c.name = 'Кошелев Милан Вячеславович';

	SELECT c.id INTO id_customer_10
	FROM "public.Customers" c
	WHERE c.name = 'Никандр Венедиктович Стрелков';

	SELECT c.id INTO id_customer_11
	FROM "public.Customers" c
	WHERE c.name = 'Лобанов Пахом Евсеевич';

	SELECT c.id INTO id_customer_12
	FROM "public.Customers" c
	WHERE c.name = 'Николай Тимурович Дементьев';

	SELECT c.id INTO id_customer_13
	FROM "public.Customers" c
	WHERE c.name = 'Елисеев Пахом Бенедиктович';

	SELECT c.id INTO id_customer_14
	FROM "public.Customers" c
	WHERE c.name = 'Воронцов Корнил Тарасович';

	SELECT c.id INTO id_customer_15
	FROM "public.Customers" c
	WHERE c.name = 'Филимон Измаилович Рыбаков';

	SELECT c.id INTO id_customer_16
	FROM "public.Customers" c
	WHERE c.name = 'Савельева Раиса Геннадьевна';

	SELECT c.id INTO id_customer_17
	FROM "public.Customers" c
	WHERE c.name = 'Кондратьев Измаил Валерианович';

	SELECT c.id INTO id_customer_18
	FROM "public.Customers" c
	WHERE c.name = 'Фаина Геннадиевна Федосеева';

	SELECT c.id INTO id_customer_19
	FROM "public.Customers" c
	WHERE c.name = 'Алла Леоновна Жданова';

	SELECT c.id INTO id_customer_20
	FROM "public.Customers" c
	WHERE c.name = 'Артемий Иосипович Сидоров';

	SELECT c.id INTO id_customer_21
	FROM "public.Customers" c
	WHERE c.name = 'Зинаида Архиповна Лобанова';

	SELECT c.id INTO id_customer_22
	FROM "public.Customers" c
	WHERE c.name = 'Ильин Демьян Ефремович';

	SELECT c.id INTO id_customer_23
	FROM "public.Customers" c
	WHERE c.name = 'Макарова Антонина Михайловна';

	SELECT c.id INTO id_customer_24
	FROM "public.Customers" c
	WHERE c.name = 'Галина Константиновна Кабанова';

	SELECT c.id INTO id_customer_25
	FROM "public.Customers" c
	WHERE c.name = 'Рюрик Даниилович Куликов';

	SELECT c.id INTO id_customer_26
	FROM "public.Customers" c
	WHERE c.name = 'Агата Руслановна Самсонова';

	SELECT c.id INTO id_customer_27
	FROM "public.Customers" c
	WHERE c.name = 'Емельянова Марина Григорьевна';

	SELECT c.id INTO id_customer_28
	FROM "public.Customers" c
	WHERE c.name = 'Артемьев Федосий Валентинович';

	SELECT c.id INTO id_customer_29
	FROM "public.Customers" c
	WHERE c.name = 'Власов Любим Арсеньевич';

	SELECT c.id INTO id_customer_30
	FROM "public.Customers" c
	WHERE c.name = 'Лапина Элеонора Даниловна';

	SELECT c.id INTO id_customer_31
	FROM "public.Customers" c
	WHERE c.name = 'Субботина Фёкла Феликсовна';

	SELECT c.id INTO id_customer_32
	FROM "public.Customers" c
	WHERE c.name = 'г-н Горшков Флорентин Глебович';

	SELECT c.id INTO id_customer_33
	FROM "public.Customers" c
	WHERE c.name = 'Вера Геннадьевна Матвеева';

	SELECT c.id INTO id_customer_34
	FROM "public.Customers" c
	WHERE c.name = 'Фомин Мокей Захарьевич';

	SELECT c.id INTO id_customer_35
	FROM "public.Customers" c
	WHERE c.name = 'Якуб Игнатьевич Молчанов';

	SELECT c.id INTO id_customer_36
	FROM "public.Customers" c
	WHERE c.name = 'Светлана Кузьминична Кабанова';

	SELECT c.id INTO id_customer_37
	FROM "public.Customers" c
	WHERE c.name = 'Творимир Демидович Поляков';

	SELECT c.id INTO id_customer_38
	FROM "public.Customers" c
	WHERE c.name = 'Давыдова Екатерина Андреевна';

	SELECT c.id INTO id_customer_39
	FROM "public.Customers" c
	WHERE c.name = 'Стрелков Иннокентий Гаврилович';

	SELECT c.id INTO id_customer_40
	FROM "public.Customers" c
	WHERE c.name = 'Сафонова Пелагея Артемовна';

	SELECT c.id INTO id_customer_41
	FROM "public.Customers" c
	WHERE c.name = 'Любовь Артемовна Исаева';

	SELECT c.id INTO id_customer_42
	FROM "public.Customers" c
	WHERE c.name = 'Боян Филиппович Афанасьев';

	SELECT c.id INTO id_customer_43
	FROM "public.Customers" c
	WHERE c.name = 'Воронцов Ферапонт Богданович';

	SELECT c.id INTO id_customer_44
	FROM "public.Customers" c
	WHERE c.name = 'Кононова Варвара Владиславовна';

	SELECT c.id INTO id_customer_45
	FROM "public.Customers" c
	WHERE c.name = 'Бажен Ануфриевич Фролов';

	SELECT c.id INTO id_customer_46
	FROM "public.Customers" c
	WHERE c.name = 'Милован Игнатьевич Тимофеев';

	SELECT c.id INTO id_customer_47
	FROM "public.Customers" c
	WHERE c.name = 'Фока Фролович Родионов';

	SELECT c.id INTO id_customer_48
	FROM "public.Customers" c
	WHERE c.name = 'Пелагея Кирилловна Борисова';

	SELECT c.id INTO id_customer_49
	FROM "public.Customers" c
	WHERE c.name = 'Раиса Даниловна Гурьева';

	SELECT c.id INTO id_customer_50
	FROM "public.Customers" c
	WHERE c.name = 'Голубева Варвара Васильевна';

	SELECT c.id INTO id_customer_51
	FROM "public.Customers" c
	WHERE c.name = 'Мельников Святополк Давидович';

	SELECT c.id INTO id_customer_52
	FROM "public.Customers" c
	WHERE c.name = 'Вишнякова Майя Григорьевна';

	SELECT c.id INTO id_customer_53
	FROM "public.Customers" c
	WHERE c.name = 'Ершова Лидия Эльдаровна';

	SELECT c.id INTO id_customer_54
	FROM "public.Customers" c
	WHERE c.name = 'Макар Ермолаевич Петухов';

	SELECT c.id INTO id_customer_55
	FROM "public.Customers" c
	WHERE c.name = 'Григорий Александрович Семенов';

	SELECT c.id INTO id_customer_56
	FROM "public.Customers" c
	WHERE c.name = 'Буров Стоян Филатович';

	SELECT c.id INTO id_customer_57
	FROM "public.Customers" c
	WHERE c.name = 'Владилен Харлампьевич Сидоров';

	SELECT c.id INTO id_customer_58
	FROM "public.Customers" c
	WHERE c.name = 'Константинов Влас Елисеевич';

	SELECT c.id INTO id_customer_59
	FROM "public.Customers" c
	WHERE c.name = 'Лихачева Зинаида Натановна';

	SELECT c.id INTO id_customer_60
	FROM "public.Customers" c
	WHERE c.name = 'Кондратьев Василий Ефимьевич';

	SELECT c.id INTO id_customer_61
	FROM "public.Customers" c
	WHERE c.name = 'Шашков Всемил Антипович';

	SELECT c.id INTO id_customer_62
	FROM "public.Customers" c
	WHERE c.name = 'Лукия Николаевна Беспалова';

	SELECT c.id INTO id_customer_63
	FROM "public.Customers" c
	WHERE c.name = 'Суханов Федот Феофанович';

	SELECT c.id INTO id_customer_64
	FROM "public.Customers" c
	WHERE c.name = 'Терентьева Марфа Вениаминовна';

	SELECT c.id INTO id_customer_65
	FROM "public.Customers" c
	WHERE c.name = 'Уваров Архип Владиславович';

	SELECT c.id INTO id_customer_66
	FROM "public.Customers" c
	WHERE c.name = 'Одинцов Изяслав Изотович';

	SELECT c.id INTO id_customer_67
	FROM "public.Customers" c
	WHERE c.name = 'Копылов Самуил Эдуардович';

	SELECT c.id INTO id_customer_68
	FROM "public.Customers" c
	WHERE c.name = 'Елизавета Тимофеевна Овчинникова';

	SELECT c.id INTO id_customer_69
	FROM "public.Customers" c
	WHERE c.name = 'Бирюкова Лора Ивановна';

	SELECT c.id INTO id_customer_70
	FROM "public.Customers" c
	WHERE c.name = 'Антонина Матвеевна Хохлова';

	SELECT c.id INTO id_customer_71
	FROM "public.Customers" c
	WHERE c.name = 'Мясников Остромир Чеславович';

	SELECT c.id INTO id_customer_72
	FROM "public.Customers" c
	WHERE c.name = 'Тихонова Эмилия Вячеславовна';

	SELECT c.id INTO id_customer_73
	FROM "public.Customers" c
	WHERE c.name = 'Зуева Ангелина Дмитриевна';

	SELECT c.id INTO id_customer_74
	FROM "public.Customers" c
	WHERE c.name = 'Петухова Зоя Степановна';

	SELECT c.id INTO id_customer_75
	FROM "public.Customers" c
	WHERE c.name = 'Терентьева Анастасия Альбертовна';

	SELECT c.id INTO id_customer_76
	FROM "public.Customers" c
	WHERE c.name = 'Спиридон Брониславович Сорокин';

	SELECT c.id INTO id_customer_77
	FROM "public.Customers" c
	WHERE c.name = 'Лидия Алексеевна Шубина';

	SELECT c.id INTO id_customer_78
	FROM "public.Customers" c
	WHERE c.name = 'Белозеров Афанасий Аксёнович';

	SELECT c.id INTO id_customer_79
	FROM "public.Customers" c
	WHERE c.name = 'Афанасьева Майя Анатольевна';

	SELECT c.id INTO id_customer_80
	FROM "public.Customers" c
	WHERE c.name = 'Аристарх Гордеевич Евдокимов';

	SELECT c.id INTO id_customer_81
	FROM "public.Customers" c
	WHERE c.name = 'Соколова Дарья Макаровна';

	SELECT c.id INTO id_customer_82
	FROM "public.Customers" c
	WHERE c.name = 'Миронова Элеонора Борисовна';

	SELECT c.id INTO id_customer_83
	FROM "public.Customers" c
	WHERE c.name = 'Агата Вадимовна Зыкова';

	SELECT c.id INTO id_customer_84
	FROM "public.Customers" c
	WHERE c.name = 'Эмилия Константиновна Дмитриева';

	SELECT c.id INTO id_customer_85
	FROM "public.Customers" c
	WHERE c.name = 'Алексеева Галина Феликсовна';

	SELECT c.id INTO id_customer_86
	FROM "public.Customers" c
	WHERE c.name = 'Якушева Дарья Антоновна';

	SELECT c.id INTO id_customer_87
	FROM "public.Customers" c
	WHERE c.name = 'Карпов Владимир Теймуразович';

	SELECT c.id INTO id_customer_88
	FROM "public.Customers" c
	WHERE c.name = 'Богданов Януарий Васильевич';

	SELECT c.id INTO id_customer_89
	FROM "public.Customers" c
	WHERE c.name = 'Власова Дарья Геннадиевна';

	SELECT c.id INTO id_customer_90
	FROM "public.Customers" c
	WHERE c.name = 'Дмитриев Лазарь Эдуардович';

	SELECT c.id INTO id_customer_91
	FROM "public.Customers" c
	WHERE c.name = 'Епифан Демьянович Попов';

	SELECT c.id INTO id_customer_92
	FROM "public.Customers" c
	WHERE c.name = 'Жанна Сергеевна Фомичева';

	SELECT c.id INTO id_customer_93
	FROM "public.Customers" c
	WHERE c.name = 'Элеонора Рудольфовна Третьякова';

	SELECT c.id INTO id_customer_94
	FROM "public.Customers" c
	WHERE c.name = 'Азарий Борисович Прохоров';

	SELECT c.id INTO id_customer_95
	FROM "public.Customers" c
	WHERE c.name = 'Никифорова Эмилия Афанасьевна';

	SELECT c.id INTO id_customer_96
	FROM "public.Customers" c
	WHERE c.name = 'Котов Панкрат Ефстафьевич';

	SELECT c.id INTO id_customer_97
	FROM "public.Customers" c
	WHERE c.name = 'Егоров Мирон Марсович';

	SELECT c.id INTO id_customer_98
	FROM "public.Customers" c
	WHERE c.name = 'Селиван Игнатьевич Соболев';

	SELECT c.id INTO id_customer_99
	FROM "public.Customers" c
	WHERE c.name = 'Август Матвеевич Устинов';

	SELECT c.id INTO id_customer_100
	FROM "public.Customers" c
	WHERE c.name = 'Белов Родион Гаврилович';

	SELECT c.id INTO id_customer_101
	FROM "public.Customers" c
	WHERE c.name = 'Архипов Моисей Гордеевич';

	SELECT c.id INTO id_customer_102
	FROM "public.Customers" c
	WHERE c.name = 'Тихонова Майя Аскольдовна';

	SELECT c.id INTO id_customer_103
	FROM "public.Customers" c
	WHERE c.name = 'Мстислав Георгиевич Никифоров';

	SELECT c.id INTO id_customer_104
	FROM "public.Customers" c
	WHERE c.name = 'Журавлева Фёкла Игоревна';

	SELECT c.id INTO id_customer_105
	FROM "public.Customers" c
	WHERE c.name = 'Терентьева Майя Рудольфовна';

	SELECT c.id INTO id_customer_106
	FROM "public.Customers" c
	WHERE c.name = 'Денис Эдгардович Дорофеев';

	SELECT c.id INTO id_customer_107
	FROM "public.Customers" c
	WHERE c.name = 'Симонов Святослав Юльевич';

	SELECT c.id INTO id_customer_108
	FROM "public.Customers" c
	WHERE c.name = 'Пестов Максим Исидорович';

	SELECT c.id INTO id_customer_109
	FROM "public.Customers" c
	WHERE c.name = 'Савелий Аксёнович Нестеров';

	SELECT c.id INTO id_customer_110
	FROM "public.Customers" c
	WHERE c.name = 'Мартынова Лукия Леоновна';

	SELECT c.id INTO id_customer_111
	FROM "public.Customers" c
	WHERE c.name = 'Лебедев Елисей Августович';

	SELECT c.id INTO id_customer_112
	FROM "public.Customers" c
	WHERE c.name = 'Селиверстова Ульяна Владимировна';

	SELECT c.id INTO id_customer_113
	FROM "public.Customers" c
	WHERE c.name = 'Стрелкова Фаина Харитоновна';

	SELECT c.id INTO id_customer_114
	FROM "public.Customers" c
	WHERE c.name = 'Каллистрат Матвеевич Ермаков';

	SELECT c.id INTO id_customer_115
	FROM "public.Customers" c
	WHERE c.name = 'Олимпиада Егоровна Герасимова';

	SELECT c.id INTO id_customer_116
	FROM "public.Customers" c
	WHERE c.name = 'Самуил Власович Мишин';

	SELECT c.id INTO id_customer_117
	FROM "public.Customers" c
	WHERE c.name = 'тов. Дементьев Натан Игоревич';

	SELECT c.id INTO id_customer_118
	FROM "public.Customers" c
	WHERE c.name = 'Полякова Анжела Матвеевна';

	SELECT c.id INTO id_customer_119
	FROM "public.Customers" c
	WHERE c.name = 'Зыкова Октябрина Анатольевна';

	SELECT c.id INTO id_customer_120
	FROM "public.Customers" c
	WHERE c.name = 'Доронин Конон Исидорович';

	SELECT c.id INTO id_customer_121
	FROM "public.Customers" c
	WHERE c.name = 'Синклитикия Феликсовна Архипова';

	SELECT c.id INTO id_customer_122
	FROM "public.Customers" c
	WHERE c.name = 'Вероника Эльдаровна Мамонтова';

	SELECT c.id INTO id_customer_123
	FROM "public.Customers" c
	WHERE c.name = 'Раиса Макаровна Борисова';

	SELECT c.id INTO id_customer_124
	FROM "public.Customers" c
	WHERE c.name = 'Жанна Богдановна Назарова';

	SELECT c.id INTO id_customer_125
	FROM "public.Customers" c
	WHERE c.name = 'Любовь Матвеевна Захарова';

	SELECT c.id INTO id_customer_126
	FROM "public.Customers" c
	WHERE c.name = 'Алевтина Аркадьевна Никитина';

	SELECT c.id INTO id_customer_127
	FROM "public.Customers" c
	WHERE c.name = 'Анна Дмитриевна Осипова';

	SELECT c.id INTO id_customer_128
	FROM "public.Customers" c
	WHERE c.name = 'Юлия Егоровна Самойлова';

	SELECT c.id INTO id_customer_129
	FROM "public.Customers" c
	WHERE c.name = 'Носова Таисия Павловна';

	SELECT c.id INTO id_customer_130
	FROM "public.Customers" c
	WHERE c.name = 'Владимиров Евгений Демидович';

	SELECT c.id INTO id_customer_131
	FROM "public.Customers" c
	WHERE c.name = 'Ермил Викторович Ситников';

	SELECT c.id INTO id_customer_132
	FROM "public.Customers" c
	WHERE c.name = 'Валентина Александровна Быкова';

	SELECT c.id INTO id_customer_133
	FROM "public.Customers" c
	WHERE c.name = 'Стрелков Исидор Артёмович';

	SELECT c.id INTO id_customer_134
	FROM "public.Customers" c
	WHERE c.name = 'Фёкла Захаровна Рогова';

	SELECT c.id INTO id_customer_135
	FROM "public.Customers" c
	WHERE c.name = 'Голубева Светлана Болеславовна';

	SELECT c.id INTO id_customer_136
	FROM "public.Customers" c
	WHERE c.name = 'Носкова Ирина Альбертовна';

	SELECT c.id INTO id_customer_137
	FROM "public.Customers" c
	WHERE c.name = 'Мишин Митофан Эдгардович';

	SELECT c.id INTO id_customer_138
	FROM "public.Customers" c
	WHERE c.name = 'Лукьян Георгиевич Муравьев';

	SELECT c.id INTO id_customer_139
	FROM "public.Customers" c
	WHERE c.name = 'Кузнецова Глафира Эдуардовна';

	SELECT c.id INTO id_customer_140
	FROM "public.Customers" c
	WHERE c.name = 'Медведева Марина Ильинична';

	SELECT c.id INTO id_customer_141
	FROM "public.Customers" c
	WHERE c.name = 'Януарий Вилорович Федосеев';

	SELECT c.id INTO id_customer_142
	FROM "public.Customers" c
	WHERE c.name = 'Прохоров Степан Архипович';

	SELECT c.id INTO id_customer_143
	FROM "public.Customers" c
	WHERE c.name = 'Марина Юльевна Боброва';

	SELECT c.id INTO id_customer_144
	FROM "public.Customers" c
	WHERE c.name = 'Милица Павловна Зыкова';

	SELECT c.id INTO id_customer_145
	FROM "public.Customers" c
	WHERE c.name = 'Ирина Кузьминична Овчинникова';

	SELECT c.id INTO id_customer_146
	FROM "public.Customers" c

In [41]:
def payment_insert(customer_names,types,payment_times):
    customer_names_unique = []
    for name in customer_names: 
        if name not in customer_names_unique:
            customer_names_unique.append(name)
    customer_ids_map = {}
    for i in range(len(customer_names_unique)):
        customer_ids_map[customer_names_unique[i]] = i

    queries_0 = """DO $$
"""
    for i in range(len(customer_names_unique)):
        query = f"""DECLARE id_order_{i} INT;
"""
        queries_0 = queries_0 + query
        
    queries_1 = """
BEGIN"""
    for i in range(len(customer_names_unique)):
        query_1 = f"""
	SELECT o.id INTO id_order_{i}
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = '{customer_names_unique[i]}';
"""
        queries_1 = queries_1 + query_1
        
    queries_2 = f"""
	INSERT INTO "public.Payment" (order_id, type, payment_time) VALUES"""
    for i in range(len(customer_names)):
        if len(payment_times[i]) > 0:
            query = f"""
		(id_order_{customer_ids_map[customer_names[i]]}, '{types[i]}', '{payment_times[i]}')"""
        else:
            query = f"""
		(id_order_{customer_ids_map[customer_names[i]]}, '{types[i]}', null)"""
        if i == len(customer_names)-1: query_end = """;"""
        else: query_end = ""","""
        queries_2 = queries_2 + query + query_end
        
    queries_3 = """
END $$;"""
        
    return queries_0 + queries_1 + queries_2 + queries_3

In [42]:
excel_file = 'payment_random_1.xlsx'

df_payment_random = pd.read_excel(excel_file)
df_payment_random = df_payment_random.fillna('')

print(df_payment_random)

                            Заказчик         Время оплаты  \
0         Гришина Надежда Тимофеевна  2023-11-05 11:50:24
1        Суханова Лариса Афанасьевна  2023-11-05 09:58:43
2       Лукия Харитоновна Дементьева  2023-11-05 08:21:48
3           Олимпий Игнатович Егоров  2023-11-05 11:55:18
4          Родионов Софрон Иосифович  2023-11-05 08:41:56
..                               ...                  ...
120         Доронин Конон Исидорович
121  Синклитикия Феликсовна Архипова
122    Вероника Эльдаровна Мамонтова
123         Раиса Макаровна Борисова
124        Жанна Богдановна Назарова

                         Способ оплаты
0              Оплата онлайн переводом
1    Оплата банковской картой на месте
2              Оплата онлайн переводом
3            Оплата наличными на месте
4      Оплата банковской картой онлайн
..                                 ...
120          Оплата наличными на месте
121    Оплата банковской картой онлайн
122            Оплата онлайн переводом
123          Оплата наличными на месте
124          Оплата наличными на месте

[125 rows x 3 columns]

In [43]:
customer_names = df_payment_random['Заказчик']
types = df_payment_random['Способ оплаты']
payment_times = df_payment_random['Время оплаты']

print(payment_insert(customer_names,types,payment_times))

DO $$
DECLARE id_order_0 INT;
DECLARE id_order_1 INT;
DECLARE id_order_2 INT;
DECLARE id_order_3 INT;
DECLARE id_order_4 INT;
DECLARE id_order_5 INT;
DECLARE id_order_6 INT;
DECLARE id_order_7 INT;
DECLARE id_order_8 INT;
DECLARE id_order_9 INT;
DECLARE id_order_10 INT;
DECLARE id_order_11 INT;
DECLARE id_order_12 INT;
DECLARE id_order_13 INT;
DECLARE id_order_14 INT;
DECLARE id_order_15 INT;
DECLARE id_order_16 INT;
DECLARE id_order_17 INT;
DECLARE id_order_18 INT;
DECLARE id_order_19 INT;
DECLARE id_order_20 INT;
DECLARE id_order_21 INT;
DECLARE id_order_22 INT;
DECLARE id_order_23 INT;
DECLARE id_order_24 INT;
DECLARE id_order_25 INT;
DECLARE id_order_26 INT;
DECLARE id_order_27 INT;
DECLARE id_order_28 INT;
DECLARE id_order_29 INT;
DECLARE id_order_30 INT;
DECLARE id_order_31 INT;
DECLARE id_order_32 INT;
DECLARE id_order_33 INT;
DECLARE id_order_34 INT;
DECLARE id_order_35 INT;
DECLARE id_order_36 INT;
DECLARE id_order_37 INT;
DECLARE id_order_38 INT;
DECLARE id_order_39 INT;
DECLARE id_order_40 INT;
DECLARE id_order_41 INT;
DECLARE id_order_42 INT;
DECLARE id_order_43 INT;
DECLARE id_order_44 INT;
DECLARE id_order_45 INT;
DECLARE id_order_46 INT;
DECLARE id_order_47 INT;
DECLARE id_order_48 INT;
DECLARE id_order_49 INT;
DECLARE id_order_50 INT;
DECLARE id_order_51 INT;
DECLARE id_order_52 INT;
DECLARE id_order_53 INT;
DECLARE id_order_54 INT;
DECLARE id_order_55 INT;
DECLARE id_order_56 INT;
DECLARE id_order_57 INT;
DECLARE id_order_58 INT;
DECLARE id_order_59 INT;
DECLARE id_order_60 INT;
DECLARE id_order_61 INT;
DECLARE id_order_62 INT;
DECLARE id_order_63 INT;
DECLARE id_order_64 INT;
DECLARE id_order_65 INT;
DECLARE id_order_66 INT;
DECLARE id_order_67 INT;
DECLARE id_order_68 INT;
DECLARE id_order_69 INT;
DECLARE id_order_70 INT;
DECLARE id_order_71 INT;
DECLARE id_order_72 INT;
DECLARE id_order_73 INT;
DECLARE id_order_74 INT;
DECLARE id_order_75 INT;
DECLARE id_order_76 INT;
DECLARE id_order_77 INT;
DECLARE id_order_78 INT;
DECLARE id_order_79 INT;
DECLARE id_order_80 INT;
DECLARE id_order_81 INT;
DECLARE id_order_82 INT;
DECLARE id_order_83 INT;
DECLARE id_order_84 INT;
DECLARE id_order_85 INT;
DECLARE id_order_86 INT;
DECLARE id_order_87 INT;
DECLARE id_order_88 INT;
DECLARE id_order_89 INT;
DECLARE id_order_90 INT;
DECLARE id_order_91 INT;
DECLARE id_order_92 INT;
DECLARE id_order_93 INT;
DECLARE id_order_94 INT;
DECLARE id_order_95 INT;
DECLARE id_order_96 INT;
DECLARE id_order_97 INT;
DECLARE id_order_98 INT;
DECLARE id_order_99 INT;
DECLARE id_order_100 INT;
DECLARE id_order_101 INT;
DECLARE id_order_102 INT;
DECLARE id_order_103 INT;
DECLARE id_order_104 INT;
DECLARE id_order_105 INT;
DECLARE id_order_106 INT;
DECLARE id_order_107 INT;
DECLARE id_order_108 INT;
DECLARE id_order_109 INT;
DECLARE id_order_110 INT;
DECLARE id_order_111 INT;
DECLARE id_order_112 INT;
DECLARE id_order_113 INT;
DECLARE id_order_114 INT;
DECLARE id_order_115 INT;
DECLARE id_order_116 INT;
DECLARE id_order_117 INT;
DECLARE id_order_118 INT;
DECLARE id_order_119 INT;
DECLARE id_order_120 INT;
DECLARE id_order_121 INT;
DECLARE id_order_122 INT;
DECLARE id_order_123 INT;
DECLARE id_order_124 INT;

BEGIN
	SELECT o.id INTO id_order_0
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Гришина Надежда Тимофеевна';

	SELECT o.id INTO id_order_1
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Суханова Лариса Афанасьевна';

	SELECT o.id INTO id_order_2
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Лукия Харитоновна Дементьева';

	SELECT o.id INTO id_order_3
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Олимпий Игнатович Егоров';

	SELECT o.id INTO id_order_4
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Родионов Софрон Иосифович';

	SELECT o.id INTO id_order_5
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Игнатьев Наум Харлампович';

	SELECT o.id INTO id_order_6
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Павлова Прасковья Аскольдовна';

	SELECT o.id INTO id_order_7
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Изот Матвеевич Буров';

	SELECT o.id INTO id_order_8
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Марина Александровна Герасимова';

	SELECT o.id INTO id_order_9
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Кошелев Милан Вячеславович';

	SELECT o.id INTO id_order_10
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Никандр Венедиктович Стрелков';

	SELECT o.id INTO id_order_11
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Лобанов Пахом Евсеевич';

	SELECT o.id INTO id_order_12
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Николай Тимурович Дементьев';

	SELECT o.id INTO id_order_13
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Елисеев Пахом Бенедиктович';

	SELECT o.id INTO id_order_14
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Воронцов Корнил Тарасович';

	SELECT o.id INTO id_order_15
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Филимон Измаилович Рыбаков';

	SELECT o.id INTO id_order_16
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Савельева Раиса Геннадьевна';

	SELECT o.id INTO id_order_17
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Кондратьев Измаил Валерианович';

	SELECT o.id INTO id_order_18
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Фаина Геннадиевна Федосеева';

	SELECT o.id INTO id_order_19
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Алла Леоновна Жданова';

	SELECT o.id INTO id_order_20
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Артемий Иосипович Сидоров';

	SELECT o.id INTO id_order_21
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Зинаида Архиповна Лобанова';

	SELECT o.id INTO id_order_22
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Ильин Демьян Ефремович';

	SELECT o.id INTO id_order_23
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Макарова Антонина Михайловна';

	SELECT o.id INTO id_order_24
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Галина Константиновна Кабанова';

	SELECT o.id INTO id_order_25
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Рюрик Даниилович Куликов';

	SELECT o.id INTO id_order_26
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Агата Руслановна Самсонова';

	SELECT o.id INTO id_order_27
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Емельянова Марина Григорьевна';

	SELECT o.id INTO id_order_28
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Артемьев Федосий Валентинович';

	SELECT o.id INTO id_order_29
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Власов Любим Арсеньевич';

	SELECT o.id INTO id_order_30
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Лапина Элеонора Даниловна';

	SELECT o.id INTO id_order_31
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Субботина Фёкла Феликсовна';

	SELECT o.id INTO id_order_32
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'г-н Горшков Флорентин Глебович';

	SELECT o.id INTO id_order_33
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Вера Геннадьевна Матвеева';

	SELECT o.id INTO id_order_34
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Фомин Мокей Захарьевич';

	SELECT o.id INTO id_order_35
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Якуб Игнатьевич Молчанов';

	SELECT o.id INTO id_order_36
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Светлана Кузьминична Кабанова';

	SELECT o.id INTO id_order_37
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Творимир Демидович Поляков';

	SELECT o.id INTO id_order_38
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Давыдова Екатерина Андреевна';

	SELECT o.id INTO id_order_39
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Стрелков Иннокентий Гаврилович';

	SELECT o.id INTO id_order_40
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Сафонова Пелагея Артемовна';

	SELECT o.id INTO id_order_41
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Любовь Артемовна Исаева';

	SELECT o.id INTO id_order_42
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Боян Филиппович Афанасьев';

	SELECT o.id INTO id_order_43
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Воронцов Ферапонт Богданович';

	SELECT o.id INTO id_order_44
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Кононова Варвара Владиславовна';

	SELECT o.id INTO id_order_45
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Бажен Ануфриевич Фролов';

	SELECT o.id INTO id_order_46
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Милован Игнатьевич Тимофеев';

	SELECT o.id INTO id_order_47
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Фока Фролович Родионов';

	SELECT o.id INTO id_order_48
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Пелагея Кирилловна Борисова';

	SELECT o.id INTO id_order_49
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Раиса Даниловна Гурьева';

	SELECT o.id INTO id_order_50
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Голубева Варвара Васильевна';

	SELECT o.id INTO id_order_51
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Мельников Святополк Давидович';

	SELECT o.id INTO id_order_52
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Вишнякова Майя Григорьевна';

	SELECT o.id INTO id_order_53
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Ершова Лидия Эльдаровна';

	SELECT o.id INTO id_order_54
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Макар Ермолаевич Петухов';

	SELECT o.id INTO id_order_55
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Григорий Александрович Семенов';

	SELECT o.id INTO id_order_56
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Буров Стоян Филатович';

	SELECT o.id INTO id_order_57
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Владилен Харлампьевич Сидоров';

	SELECT o.id INTO id_order_58
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Константинов Влас Елисеевич';

	SELECT o.id INTO id_order_59
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Лихачева Зинаида Натановна';

	SELECT o.id INTO id_order_60
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Кондратьев Василий Ефимьевич';

	SELECT o.id INTO id_order_61
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Шашков Всемил Антипович';

	SELECT o.id INTO id_order_62
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Лукия Николаевна Беспалова';

	SELECT o.id INTO id_order_63
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Суханов Федот Феофанович';

	SELECT o.id INTO id_order_64
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Терентьева Марфа Вениаминовна';

	SELECT o.id INTO id_order_65
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Уваров Архип Владиславович';

	SELECT o.id INTO id_order_66
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Одинцов Изяслав Изотович';

	SELECT o.id INTO id_order_67
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Копылов Самуил Эдуардович';

	SELECT o.id INTO id_order_68
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Елизавета Тимофеевна Овчинникова';

	SELECT o.id INTO id_order_69
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Бирюкова Лора Ивановна';

	SELECT o.id INTO id_order_70
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Антонина Матвеевна Хохлова';

	SELECT o.id INTO id_order_71
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Мясников Остромир Чеславович';

	SELECT o.id INTO id_order_72
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Тихонова Эмилия Вячеславовна';

	SELECT o.id INTO id_order_73
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Зуева Ангелина Дмитриевна';

	SELECT o.id INTO id_order_74
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Петухова Зоя Степановна';

	SELECT o.id INTO id_order_75
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Терентьева Анастасия Альбертовна';

	SELECT o.id INTO id_order_76
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Спиридон Брониславович Сорокин';

	SELECT o.id INTO id_order_77
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Лидия Алексеевна Шубина';

	SELECT o.id INTO id_order_78
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Белозеров Афанасий Аксёнович';

	SELECT o.id INTO id_order_79
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Афанасьева Майя Анатольевна';

	SELECT o.id INTO id_order_80
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Аристарх Гордеевич Евдокимов';

	SELECT o.id INTO id_order_81
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Соколова Дарья Макаровна';

	SELECT o.id INTO id_order_82
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Миронова Элеонора Борисовна';

	SELECT o.id INTO id_order_83
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Агата Вадимовна Зыкова';

	SELECT o.id INTO id_order_84
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Эмилия Константиновна Дмитриева';

	SELECT o.id INTO id_order_85
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Алексеева Галина Феликсовна';

	SELECT o.id INTO id_order_86
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Якушева Дарья Антоновна';

	SELECT o.id INTO id_order_87
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Карпов Владимир Теймуразович';

	SELECT o.id INTO id_order_88
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Богданов Януарий Васильевич';

	SELECT o.id INTO id_order_89
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Власова Дарья Геннадиевна';

	SELECT o.id INTO id_order_90
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Дмитриев Лазарь Эдуардович';

	SELECT o.id INTO id_order_91
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Епифан Демьянович Попов';

	SELECT o.id INTO id_order_92
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Жанна Сергеевна Фомичева';

	SELECT o.id INTO id_order_93
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Элеонора Рудольфовна Третьякова';

	SELECT o.id INTO id_order_94
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Азарий Борисович Прохоров';

	SELECT o.id INTO id_order_95
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Никифорова Эмилия Афанасьевна';

	SELECT o.id INTO id_order_96
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Котов Панкрат Ефстафьевич';

	SELECT o.id INTO id_order_97
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Егоров Мирон Марсович';

	SELECT o.id INTO id_order_98
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Селиван Игнатьевич Соболев';

	SELECT o.id INTO id_order_99
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Август Матвеевич Устинов';

	SELECT o.id INTO id_order_100
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Белов Родион Гаврилович';

	SELECT o.id INTO id_order_101
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Архипов Моисей Гордеевич';

	SELECT o.id INTO id_order_102
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Тихонова Майя Аскольдовна';

	SELECT o.id INTO id_order_103
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Мстислав Георгиевич Никифоров';

	SELECT o.id INTO id_order_104
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Журавлева Фёкла Игоревна';

	SELECT o.id INTO id_order_105
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Терентьева Майя Рудольфовна';

	SELECT o.id INTO id_order_106
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Денис Эдгардович Дорофеев';

	SELECT o.id INTO id_order_107
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Симонов Святослав Юльевич';

	SELECT o.id INTO id_order_108
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Пестов Максим Исидорович';

	SELECT o.id INTO id_order_109
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id
	WHERE c.name = 'Савелий Аксёнович Нестеров';

	SELECT o.id INTO id_order_110
	FROM "public.Orders" o
	JOIN "public.Customers" c ON o.customer_id = c.id

In [44]:
def tickets_insert(customer_names,cinema_names,time_start,rows,places,prices):
    customer_names_unique = [] # list уникальных пользователей
    for name in customer_names: 
        if name not in customer_names_unique:
            customer_names_unique.append(name)
    customer_ids_map = {} # map, где ключ - уникальный пользователь, значение - индекс первого появления этого пользователя в excel-таблице
    for i in range(len(customer_names_unique)):
        customer_ids_map[customer_names_unique[i]] = i
        
    cinema_time_names = list(zip(cinema_names, time_start)) # list уникальных пар кинотеатр-время (для определения сеансов)
    cinema_time_names_unique = []
    for name in cinema_time_names: 
        if name not in cinema_time_names_unique:
            cinema_time_names_unique.append(name)
    cinema_time_ids_map = {} # map, где ключ - уникальная пара кинотеатр-время, значение - индекс первого появления этой пары в excel-таблице
    for i in range(len(cinema_time_names_unique)):
        cinema_time_ids_map[cinema_time_names_unique[i]] = i

    queries_0 = """DO $$
"""
    for i in range(len(customer_names_unique)):
        query = f"""DECLARE id_order_{i} INT;
"""
        queries_0 = queries_0 + query
    for i in range(len(cinema_time_names_unique)):
        query = f"""DECLARE id_session_{i} INT;
"""
        queries_0 = queries_0 + query
    for i in range(len(rows)):
        query = f"""DECLARE id_seat_{i} INT;
"""
        queries_0 = queries_0 + query
        
    queries_1 = """
BEGIN"""
    for i in range(len(customer_names_unique)):
        query_1 = f"""
	SELECT o.id INTO id_order_{i}
	FROM "public.Orders" o
	JOIN "public.Customers" cs ON o.customer_id = cs.id
	WHERE cs.name = '{customer_names_unique[i]}';
"""
        queries_1 = queries_1 + query_1
        
    for i in range(len(cinema_time_names_unique)):
        query_1 = f"""
	SELECT ses.id INTO id_session_{i}
	FROM "public.Sessions" ses
	JOIN "public.Halls" h ON ses.hall_id = h.id
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = '{cinema_time_names_unique[i][0]}' AND ses.time_start = '{cinema_time_names_unique[i][1]}';
"""
        queries_1 = queries_1 + query_1
        
    for i in range(len(customer_names)):
        query_1 = f"""
	SELECT st.id INTO id_seat_{i}
	FROM "public.Seats" st
	JOIN "public.Sessions" ses ON st.hall_id = ses.hall_id
	WHERE ses.id = id_session_{cinema_time_ids_map[cinema_time_names[i]]} AND st.row = {int(rows[i])} AND st.place = {int(places[i])};
"""
        queries_1 = queries_1 + query_1
        
    queries_2 = f"""
	INSERT INTO "public.Tickets" (order_id, session_id, seat_id, price) VALUES"""
    for i in range(len(customer_names)):
        query = f"""
		(id_order_{customer_ids_map[customer_names[i]]}, id_session_{cinema_time_ids_map[cinema_time_names[i]]}, id_seat_{i}, {int(prices[i])})"""
        if i == len(customer_names)-1: query_end = """;"""
        else: query_end = ""","""
        queries_2 = queries_2 + query + query_end
    queries_3 = """
END $$;"""
        
    return queries_0 + queries_1 + queries_2 + queries_3

In [45]:
excel_file = 'tickets_random_new_2.xlsx'

df_tickets_random = pd.read_excel(excel_file)

print(df_tickets_random)

                      Покупатель           Кинотеатр        Время начала  Ряд  \
0     Гришина Надежда Тимофеевна  Семьдесять девятый 2023-11-05 15:00:00  5.0
1     Гришина Надежда Тимофеевна  Семьдесять девятый 2023-11-05 15:00:00  5.0
2     Гришина Надежда Тимофеевна  Семьдесять девятый 2023-11-05 15:00:00  5.0
3     Гришина Надежда Тимофеевна  Семьдесять девятый 2023-11-05 15:00:00  5.0
4    Суханова Лариса Афанасьевна     Тридцать шестой 2023-11-05 12:00:00  2.0
..                           ...                 ...                 ...  ...
606    Жанна Богдановна Назарова        Шестидесятый 2023-11-05 15:00:00  4.0
607    Жанна Богдановна Назарова        Шестидесятый 2023-11-05 15:00:00  4.0
608    Жанна Богдановна Назарова        Шестидесятый 2023-11-05 15:00:00  4.0
609    Жанна Богдановна Назарова        Шестидесятый 2023-11-05 15:00:00  4.0
610    Жанна Богдановна Назарова        Шестидесятый 2023-11-05 15:00:00  4.0

     Место   Цена
0      1.0  500.0
1      2.0  450.0
2      3.0  400.0
3      4.0  400.0
4      1.0  400.0
..     ...    ...
606    4.0  500.0
607    5.0  500.0
608    6.0  450.0
609    7.0  400.0
610    8.0  450.0

[611 rows x 6 columns]

In [46]:
customer_names = df_tickets_random['Покупатель']
cinema_names = df_tickets_random['Кинотеатр']
time_start = df_tickets_random['Время начала']
rows = df_tickets_random['Ряд']
places = df_tickets_random['Место']
prices = df_tickets_random['Цена']

print(tickets_insert(customer_names,cinema_names,time_start,rows,places,prices))

DO $$
DECLARE id_order_0 INT;
DECLARE id_order_1 INT;
DECLARE id_order_2 INT;
DECLARE id_order_3 INT;
DECLARE id_order_4 INT;
DECLARE id_order_5 INT;
DECLARE id_order_6 INT;
DECLARE id_order_7 INT;
DECLARE id_order_8 INT;
DECLARE id_order_9 INT;
DECLARE id_order_10 INT;
DECLARE id_order_11 INT;
DECLARE id_order_12 INT;
DECLARE id_order_13 INT;
DECLARE id_order_14 INT;
DECLARE id_order_15 INT;
DECLARE id_order_16 INT;
DECLARE id_order_17 INT;
DECLARE id_order_18 INT;
DECLARE id_order_19 INT;
DECLARE id_order_20 INT;
DECLARE id_order_21 INT;
DECLARE id_order_22 INT;
DECLARE id_order_23 INT;
DECLARE id_order_24 INT;
DECLARE id_order_25 INT;
DECLARE id_order_26 INT;
DECLARE id_order_27 INT;
DECLARE id_order_28 INT;
DECLARE id_order_29 INT;
DECLARE id_order_30 INT;
DECLARE id_order_31 INT;
DECLARE id_order_32 INT;
DECLARE id_order_33 INT;
DECLARE id_order_34 INT;
DECLARE id_order_35 INT;
DECLARE id_order_36 INT;
DECLARE id_order_37 INT;
DECLARE id_order_38 INT;
DECLARE id_order_39 INT;
DECLARE id_order_40 INT;
DECLARE id_order_41 INT;
DECLARE id_order_42 INT;
DECLARE id_order_43 INT;
DECLARE id_order_44 INT;
DECLARE id_order_45 INT;
DECLARE id_order_46 INT;
DECLARE id_order_47 INT;
DECLARE id_order_48 INT;
DECLARE id_order_49 INT;
DECLARE id_order_50 INT;
DECLARE id_order_51 INT;
DECLARE id_order_52 INT;
DECLARE id_order_53 INT;
DECLARE id_order_54 INT;
DECLARE id_order_55 INT;
DECLARE id_order_56 INT;
DECLARE id_order_57 INT;
DECLARE id_order_58 INT;
DECLARE id_order_59 INT;
DECLARE id_order_60 INT;
DECLARE id_order_61 INT;
DECLARE id_order_62 INT;
DECLARE id_order_63 INT;
DECLARE id_order_64 INT;
DECLARE id_order_65 INT;
DECLARE id_order_66 INT;
DECLARE id_order_67 INT;
DECLARE id_order_68 INT;
DECLARE id_order_69 INT;
DECLARE id_order_70 INT;
DECLARE id_order_71 INT;
DECLARE id_order_72 INT;
DECLARE id_order_73 INT;
DECLARE id_order_74 INT;
DECLARE id_order_75 INT;
DECLARE id_order_76 INT;
DECLARE id_order_77 INT;
DECLARE id_order_78 INT;
DECLARE id_order_79 INT;
DECLARE id_order_80 INT;
DECLARE id_order_81 INT;
DECLARE id_order_82 INT;
DECLARE id_order_83 INT;
DECLARE id_order_84 INT;
DECLARE id_order_85 INT;
DECLARE id_order_86 INT;
DECLARE id_order_87 INT;
DECLARE id_order_88 INT;
DECLARE id_order_89 INT;
DECLARE id_order_90 INT;
DECLARE id_order_91 INT;
DECLARE id_order_92 INT;
DECLARE id_order_93 INT;
DECLARE id_order_94 INT;
DECLARE id_order_95 INT;
DECLARE id_order_96 INT;
DECLARE id_order_97 INT;
DECLARE id_order_98 INT;
DECLARE id_order_99 INT;
DECLARE id_order_100 INT;
DECLARE id_order_101 INT;
DECLARE id_order_102 INT;
DECLARE id_order_103 INT;
DECLARE id_order_104 INT;
DECLARE id_order_105 INT;
DECLARE id_order_106 INT;
DECLARE id_order_107 INT;
DECLARE id_order_108 INT;
DECLARE id_order_109 INT;
DECLARE id_order_110 INT;
DECLARE id_order_111 INT;
DECLARE id_order_112 INT;
DECLARE id_order_113 INT;
DECLARE id_order_114 INT;
DECLARE id_order_115 INT;
DECLARE id_order_116 INT;
DECLARE id_order_117 INT;
DECLARE id_order_118 INT;
DECLARE id_order_119 INT;
DECLARE id_order_120 INT;
DECLARE id_order_121 INT;
DECLARE id_order_122 INT;
DECLARE id_order_123 INT;
DECLARE id_order_124 INT;
DECLARE id_session_0 INT;
DECLARE id_session_1 INT;
DECLARE id_session_2 INT;
DECLARE id_session_3 INT;
DECLARE id_session_4 INT;
DECLARE id_session_5 INT;
DECLARE id_session_6 INT;
DECLARE id_session_7 INT;
DECLARE id_session_8 INT;
DECLARE id_session_9 INT;
DECLARE id_session_10 INT;
DECLARE id_session_11 INT;
DECLARE id_session_12 INT;
DECLARE id_session_13 INT;
DECLARE id_session_14 INT;
DECLARE id_session_15 INT;
DECLARE id_session_16 INT;
DECLARE id_session_17 INT;
DECLARE id_session_18 INT;
DECLARE id_session_19 INT;
DECLARE id_session_20 INT;
DECLARE id_session_21 INT;
DECLARE id_session_22 INT;
DECLARE id_session_23 INT;
DECLARE id_session_24 INT;
DECLARE id_session_25 INT;
DECLARE id_session_26 INT;
DECLARE id_session_27 INT;
DECLARE id_session_28 INT;
DECLARE id_session_29 INT;
DECLARE id_session_30 INT;
DECLARE id_session_31 INT;
DECLARE id_session_32 INT;
DECLARE id_session_33 INT;
DECLARE id_session_34 INT;
DECLARE id_session_35 INT;
DECLARE id_session_36 INT;
DECLARE id_session_37 INT;
DECLARE id_session_38 INT;
DECLARE id_seat_0 INT;
DECLARE id_seat_1 INT;
DECLARE id_seat_2 INT;
DECLARE id_seat_3 INT;
DECLARE id_seat_4 INT;
DECLARE id_seat_5 INT;
DECLARE id_seat_6 INT;
DECLARE id_seat_7 INT;
DECLARE id_seat_8 INT;
DECLARE id_seat_9 INT;
DECLARE id_seat_10 INT;
DECLARE id_seat_11 INT;
DECLARE id_seat_12 INT;
DECLARE id_seat_13 INT;
DECLARE id_seat_14 INT;
DECLARE id_seat_15 INT;
DECLARE id_seat_16 INT;
DECLARE id_seat_17 INT;
DECLARE id_seat_18 INT;
DECLARE id_seat_19 INT;
DECLARE id_seat_20 INT;
DECLARE id_seat_21 INT;
DECLARE id_seat_22 INT;
DECLARE id_seat_23 INT;
DECLARE id_seat_24 INT;
DECLARE id_seat_25 INT;
DECLARE id_seat_26 INT;
DECLARE id_seat_27 INT;
DECLARE id_seat_28 INT;
DECLARE id_seat_29 INT;
DECLARE id_seat_30 INT;
DECLARE id_seat_31 INT;
DECLARE id_seat_32 INT;
DECLARE id_seat_33 INT;
DECLARE id_seat_34 INT;
DECLARE id_seat_35 INT;
DECLARE id_seat_36 INT;
DECLARE id_seat_37 INT;
DECLARE id_seat_38 INT;
DECLARE id_seat_39 INT;
DECLARE id_seat_40 INT;
DECLARE id_seat_41 INT;
DECLARE id_seat_42 INT;
DECLARE id_seat_43 INT;
DECLARE id_seat_44 INT;
DECLARE id_seat_45 INT;
DECLARE id_seat_46 INT;
DECLARE id_seat_47 INT;
DECLARE id_seat_48 INT;
DECLARE id_seat_49 INT;
DECLARE id_seat_50 INT;
DECLARE id_seat_51 INT;
DECLARE id_seat_52 INT;
DECLARE id_seat_53 INT;
DECLARE id_seat_54 INT;
DECLARE id_seat_55 INT;
DECLARE id_seat_56 INT;
DECLARE id_seat_57 INT;
DECLARE id_seat_58 INT;
DECLARE id_seat_59 INT;
DECLARE id_seat_60 INT;
DECLARE id_seat_61 INT;
DECLARE id_seat_62 INT;
DECLARE id_seat_63 INT;
DECLARE id_seat_64 INT;
DECLARE id_seat_65 INT;
DECLARE id_seat_66 INT;
DECLARE id_seat_67 INT;
DECLARE id_seat_68 INT;
DECLARE id_seat_69 INT;
DECLARE id_seat_70 INT;
DECLARE id_seat_71 INT;
DECLARE id_seat_72 INT;
DECLARE id_seat_73 INT;
DECLARE id_seat_74 INT;
DECLARE id_seat_75 INT;
DECLARE id_seat_76 INT;
DECLARE id_seat_77 INT;
DECLARE id_seat_78 INT;
DECLARE id_seat_79 INT;
DECLARE id_seat_80 INT;
DECLARE id_seat_81 INT;
DECLARE id_seat_82 INT;
DECLARE id_seat_83 INT;
DECLARE id_seat_84 INT;
DECLARE id_seat_85 INT;
DECLARE id_seat_86 INT;
DECLARE id_seat_87 INT;
DECLARE id_seat_88 INT;
DECLARE id_seat_89 INT;
DECLARE id_seat_90 INT;
DECLARE id_seat_91 INT;
DECLARE id_seat_92 INT;
DECLARE id_seat_93 INT;
DECLARE id_seat_94 INT;
DECLARE id_seat_95 INT;
DECLARE id_seat_96 INT;
DECLARE id_seat_97 INT;
DECLARE id_seat_98 INT;
DECLARE id_seat_99 INT;
DECLARE id_seat_100 INT;
DECLARE id_seat_101 INT;
DECLARE id_seat_102 INT;
DECLARE id_seat_103 INT;
DECLARE id_seat_104 INT;
DECLARE id_seat_105 INT;
DECLARE id_seat_106 INT;
DECLARE id_seat_107 INT;
DECLARE id_seat_108 INT;
DECLARE id_seat_109 INT;
DECLARE id_seat_110 INT;
DECLARE id_seat_111 INT;
DECLARE id_seat_112 INT;
DECLARE id_seat_113 INT;
DECLARE id_seat_114 INT;
DECLARE id_seat_115 INT;
DECLARE id_seat_116 INT;
DECLARE id_seat_117 INT;
DECLARE id_seat_118 INT;
DECLARE id_seat_119 INT;
DECLARE id_seat_120 INT;
DECLARE id_seat_121 INT;
DECLARE id_seat_122 INT;
DECLARE id_seat_123 INT;
DECLARE id_seat_124 INT;
DECLARE id_seat_125 INT;
DECLARE id_seat_126 INT;
DECLARE id_seat_127 INT;
DECLARE id_seat_128 INT;
DECLARE id_seat_129 INT;
DECLARE id_seat_130 INT;
DECLARE id_seat_131 INT;
DECLARE id_seat_132 INT;
DECLARE id_seat_133 INT;
DECLARE id_seat_134 INT;
DECLARE id_seat_135 INT;
DECLARE id_seat_136 INT;
DECLARE id_seat_137 INT;
DECLARE id_seat_138 INT;
DECLARE id_seat_139 INT;
DECLARE id_seat_140 INT;
DECLARE id_seat_141 INT;
DECLARE id_seat_142 INT;
DECLARE id_seat_143 INT;
DECLARE id_seat_144 INT;
DECLARE id_seat_145 INT;
DECLARE id_seat_146 INT;
DECLARE id_seat_147 INT;
DECLARE id_seat_148 INT;
DECLARE id_seat_149 INT;
DECLARE id_seat_150 INT;
DECLARE id_seat_151 INT;
DECLARE id_seat_152 INT;
DECLARE id_seat_153 INT;
DECLARE id_seat_154 INT;
DECLARE id_seat_155 INT;
DECLARE id_seat_156 INT;
DECLARE id_seat_157 INT;
DECLARE id_seat_158 INT;
DECLARE id_seat_159 INT;
DECLARE id_seat_160 INT;
DECLARE id_seat_161 INT;
DECLARE id_seat_162 INT;
DECLARE id_seat_163 INT;
DECLARE id_seat_164 INT;
DECLARE id_seat_165 INT;
DECLARE id_seat_166 INT;
DECLARE id_seat_167 INT;
DECLARE id_seat_168 INT;
DECLARE id_seat_169 INT;
DECLARE id_seat_170 INT;
DECLARE id_seat_171 INT;
DECLARE id_seat_172 INT;
DECLARE id_seat_173 INT;
DECLARE id_seat_174 INT;
DECLARE id_seat_175 INT;
DECLARE id_seat_176 INT;
DECLARE id_seat_177 INT;
DECLARE id_seat_178 INT;
DECLARE id_seat_179 INT;
DECLARE id_seat_180 INT;
DECLARE id_seat_181 INT;
DECLARE id_seat_182 INT;
DECLARE id_seat_183 INT;
DECLARE id_seat_184 INT;
DECLARE id_seat_185 INT;
DECLARE id_seat_186 INT;
DECLARE id_seat_187 INT;
DECLARE id_seat_188 INT;
DECLARE id_seat_189 INT;
DECLARE id_seat_190 INT;
DECLARE id_seat_191 INT;
DECLARE id_seat_192 INT;
DECLARE id_seat_193 INT;
DECLARE id_seat_194 INT;
DECLARE id_seat_195 INT;
DECLARE id_seat_196 INT;
DECLARE id_seat_197 INT;
DECLARE id_seat_198 INT;
DECLARE id_seat_199 INT;
DECLARE id_seat_200 INT;
DECLARE id_seat_201 INT;
DECLARE id_seat_202 INT;
DECLARE id_seat_203 INT;
DECLARE id_seat_204 INT;
DECLARE id_seat_205 INT;
DECLARE id_seat_206 INT;
DECLARE id_seat_207 INT;
DECLARE id_seat_208 INT;
DECLARE id_seat_209 INT;
DECLARE id_seat_210 INT;
DECLARE id_seat_211 INT;
DECLARE id_seat_212 INT;
DECLARE id_seat_213 INT;
DECLARE id_seat_214 INT;
DECLARE id_seat_215 INT;
DECLARE id_seat_216 INT;
DECLARE id_seat_217 INT;
DECLARE id_seat_218 INT;
DECLARE id_seat_219 INT;
DECLARE id_seat_220 INT;
DECLARE id_seat_221 INT;
DECLARE id_seat_222 INT;
DECLARE id_seat_223 INT;
DECLARE id_seat_224 INT;
DECLARE id_seat_225 INT;
DECLARE id_seat_226 INT;
DECLARE id_seat_227 INT;
DECLARE id_seat_228 INT;
DECLARE id_seat_229 INT;
DECLARE id_seat_230 INT;
DECLARE id_seat_231 INT;
DECLARE id_seat_232 INT;
DECLARE id_seat_233 INT;
DECLARE id_seat_234 INT;
DECLARE id_seat_235 INT;
DECLARE id_seat_236 INT;
DECLARE id_seat_237 INT;
DECLARE id_seat_238 INT;
DECLARE id_seat_239 INT;
DECLARE id_seat_240 INT;
DECLARE id_seat_241 INT;
DECLARE id_seat_242 INT;
DECLARE id_seat_243 INT;
DECLARE id_seat_244 INT;
DECLARE id_seat_245 INT;
DECLARE id_seat_246 INT;
DECLARE id_seat_247 INT;
DECLARE id_seat_248 INT;
DECLARE id_seat_249 INT;
DECLARE id_seat_250 INT;
DECLARE id_seat_251 INT;
DECLARE id_seat_252 INT;
DECLARE id_seat_253 INT;
DECLARE id_seat_254 INT;
DECLARE id_seat_255 INT;
DECLARE id_seat_256 INT;
DECLARE id_seat_257 INT;
DECLARE id_seat_258 INT;
DECLARE id_seat_259 INT;
DECLARE id_seat_260 INT;
DECLARE id_seat_261 INT;
DECLARE id_seat_262 INT;
DECLARE id_seat_263 INT;
DECLARE id_seat_264 INT;
DECLARE id_seat_265 INT;
DECLARE id_seat_266 INT;
DECLARE id_seat_267 INT;
DECLARE id_seat_268 INT;
DECLARE id_seat_269 INT;
DECLARE id_seat_270 INT;
DECLARE id_seat_271 INT;
DECLARE id_seat_272 INT;
DECLARE id_seat_273 INT;
DECLARE id_seat_274 INT;
DECLARE id_seat_275 INT;
DECLARE id_seat_276 INT;
DECLARE id_seat_277 INT;
DECLARE id_seat_278 INT;
DECLARE id_seat_279 INT;
DECLARE id_seat_280 INT;
DECLARE id_seat_281 INT;
DECLARE id_seat_282 INT;
DECLARE id_seat_283 INT;
DECLARE id_seat_284 INT;
DECLARE id_seat_285 INT;
DECLARE id_seat_286 INT;
DECLARE id_seat_287 INT;
DECLARE id_seat_288 INT;
DECLARE id_seat_289 INT;
DECLARE id_seat_290 INT;
DECLARE id_seat_291 INT;
DECLARE id_seat_292 INT;
DECLARE id_seat_293 INT;
DECLARE id_seat_294 INT;
DECLARE id_seat_295 INT;
DECLARE id_seat_296 INT;
DECLARE id_seat_297 INT;
DECLARE id_seat_298 INT;
DECLARE id_seat_299 INT;
DECLARE id_seat_300 INT;
DECLARE id_seat_301 INT;
DECLARE id_seat_302 INT;
DECLARE id_seat_303 INT;
DECLARE id_seat_304 INT;
DECLARE id_seat_305 INT;
DECLARE id_seat_306 INT;
DECLARE id_seat_307 INT;
DECLARE id_seat_308 INT;
DECLARE id_seat_309 INT;
DECLARE id_seat_310 INT;
DECLARE id_seat_311 INT;
DECLARE id_seat_312 INT;
DECLARE id_seat_313 INT;
DECLARE id_seat_314 INT;
DECLARE id_seat_315 INT;
DECLARE id_seat_316 INT;
DECLARE id_seat_317 INT;
DECLARE id_seat_318 INT;
DECLARE id_seat_319 INT;
DECLARE id_seat_320 INT;
DECLARE id_seat_321 INT;
DECLARE id_seat_322 INT;
DECLARE id_seat_323 INT;
DECLARE id_seat_324 INT;
DECLARE id_seat_325 INT;
DECLARE id_seat_326 INT;
DECLARE id_seat_327 INT;
DECLARE id_seat_328 INT;
DECLARE id_seat_329 INT;
DECLARE id_seat_330 INT;
DECLARE id_seat_331 INT;
DECLARE id_seat_332 INT;
DECLARE id_seat_333 INT;
DECLARE id_seat_334 INT;
DECLARE id_seat_335 INT;
DECLARE id_seat_336 INT;
DECLARE id_seat_337 INT;
DECLARE id_seat_338 INT;
DECLARE id_seat_339 INT;
DECLARE id_seat_340 INT;
DECLARE id_seat_341 INT;
DECLARE id_seat_342 INT;
DECLARE id_seat_343 INT;
DECLARE id_seat_344 INT;
DECLARE id_seat_345 INT;
DECLARE id_seat_346 INT;
DECLARE id_seat_347 INT;
DECLARE id_seat_348 INT;
DECLARE id_seat_349 INT;
DECLARE id_seat_350 INT;
DECLARE id_seat_351 INT;
DECLARE id_seat_352 INT;
DECLARE id_seat_353 INT;
DECLARE id_seat_354 INT;
DECLARE id_seat_355 INT;
DECLARE id_seat_356 INT;
DECLARE id_seat_357 INT;
DECLARE id_seat_358 INT;
DECLARE id_seat_359 INT;
DECLARE id_seat_360 INT;
DECLARE id_seat_361 INT;
DECLARE id_seat_362 INT;
DECLARE id_seat_363 INT;
DECLARE id_seat_364 INT;
DECLARE id_seat_365 INT;
DECLARE id_seat_366 INT;
DECLARE id_seat_367 INT;
DECLARE id_seat_368 INT;
DECLARE id_seat_369 INT;
DECLARE id_seat_370 INT;
DECLARE id_seat_371 INT;
DECLARE id_seat_372 INT;
DECLARE id_seat_373 INT;
DECLARE id_seat_374 INT;
DECLARE id_seat_375 INT;
DECLARE id_seat_376 INT;
DECLARE id_seat_377 INT;
DECLARE id_seat_378 INT;
DECLARE id_seat_379 INT;
DECLARE id_seat_380 INT;
DECLARE id_seat_381 INT;
DECLARE id_seat_382 INT;
DECLARE id_seat_383 INT;
DECLARE id_seat_384 INT;
DECLARE id_seat_385 INT;
DECLARE id_seat_386 INT;
DECLARE id_seat_387 INT;
DECLARE id_seat_388 INT;
DECLARE id_seat_389 INT;
DECLARE id_seat_390 INT;
DECLARE id_seat_391 INT;
DECLARE id_seat_392 INT;
DECLARE id_seat_393 INT;
DECLARE id_seat_394 INT;
DECLARE id_seat_395 INT;
DECLARE id_seat_396 INT;
DECLARE id_seat_397 INT;
DECLARE id_seat_398 INT;
DECLARE id_seat_399 INT;
DECLARE id_seat_400 INT;
DECLARE id_seat_401 INT;
DECLARE id_seat_402 INT;
DECLARE id_seat_403 INT;
DECLARE id_seat_404 INT;
DECLARE id_seat_405 INT;
DECLARE id_seat_406 INT;
DECLARE id_seat_407 INT;
DECLARE id_seat_408 INT;
DECLARE id_seat_409 INT;
DECLARE id_seat_410 INT;
DECLARE id_seat_411 INT;
DECLARE id_seat_412 INT;
DECLARE id_seat_413 INT;
DECLARE id_seat_414 INT;
DECLARE id_seat_415 INT;
DECLARE id_seat_416 INT;
DECLARE id_seat_417 INT;
DECLARE id_seat_418 INT;
DECLARE id_seat_419 INT;
DECLARE id_seat_420 INT;
DECLARE id_seat_421 INT;
DECLARE id_seat_422 INT;
DECLARE id_seat_423 INT;
DECLARE id_seat_424 INT;
DECLARE id_seat_425 INT;
DECLARE id_seat_426 INT;
DECLARE id_seat_427 INT;
DECLARE id_seat_428 INT;
DECLARE id_seat_429 INT;
DECLARE id_seat_430 INT;
DECLARE id_seat_431 INT;
DECLARE id_seat_432 INT;
DECLARE id_seat_433 INT;
DECLARE id_seat_434 INT;
DECLARE id_seat_435 INT;
DECLARE id_seat_436 INT;
DECLARE id_seat_437 INT;
DECLARE id_seat_438 INT;
DECLARE id_seat_439 INT;
DECLARE id_seat_440 INT;
DECLARE id_seat_441 INT;
DECLARE id_seat_442 INT;
DECLARE id_seat_443 INT;
DECLARE id_seat_444 INT;
DECLARE id_seat_445 INT;
DECLARE id_seat_446 INT;
DECLARE id_seat_447 INT;
DECLARE id_seat_448 INT;
DECLARE id_seat_449 INT;
DECLARE id_seat_450 INT;
DECLARE id_seat_451 INT;
DECLARE id_seat_452 INT;
DECLARE id_seat_453 INT;
DECLARE id_seat_454 INT;
DECLARE id_seat_455 INT;
DECLARE id_seat_456 INT;
DECLARE id_seat_457 INT;
DECLARE id_seat_458 INT;
DECLARE id_seat_459 INT;
DECLARE id_seat_460 INT;
DECLARE id_seat_461 INT;
DECLARE id_seat_462 INT;
DECLARE id_seat_463 INT;
DECLARE id_seat_464 INT;
DECLARE id_seat_465 INT;
DECLARE id_seat_466 INT;
DECLARE id_seat_467 INT;
DECLARE id_seat_468 INT;
DECLARE id_seat_469 INT;
DECLARE id_seat_470 INT;
DECLARE id_seat_471 INT;
DECLARE id_seat_472 INT;
DECLARE id_seat_473 INT;
DECLARE id_seat_474 INT;
DECLARE id_seat_475 INT;
DECLARE id_seat_476 INT;
DECLARE id_seat_477 INT;
DECLARE id_seat_478 INT;
DECLARE id_seat_479 INT;
DECLARE id_seat_480 INT;
DECLARE id_seat_481 INT;
DECLARE id_seat_482 INT;
DECLARE id_seat_483 INT;
DECLARE id_seat_484 INT;
DECLARE id_seat_485 INT;
DECLARE id_seat_486 INT;
DECLARE id_seat_487 INT;
DECLARE id_seat_488 INT;
DECLARE id_seat_489 INT;
DECLARE id_seat_490 INT;
DECLARE id_seat_491 INT;
DECLARE id_seat_492 INT;
DECLARE id_seat_493 INT;
DECLARE id_seat_494 INT;
DECLARE id_seat_495 INT;
DECLARE id_seat_496 INT;
DECLARE id_seat_497 INT;
DECLARE id_seat_498 INT;
DECLARE id_seat_499 INT;
DECLARE id_seat_500 INT;
DECLARE id_seat_501 INT;
DECLARE id_seat_502 INT;
DECLARE id_seat_503 INT;
DECLARE id_seat_504 INT;
DECLARE id_seat_505 INT;
DECLARE id_seat_506 INT;
DECLARE id_seat_507 INT;
DECLARE id_seat_508 INT;
DECLARE id_seat_509 INT;
DECLARE id_seat_510 INT;
DECLARE id_seat_511 INT;
DECLARE id_seat_512 INT;
DECLARE id_seat_513 INT;
DECLARE id_seat_514 INT;
DECLARE id_seat_515 INT;
DECLARE id_seat_516 INT;
DECLARE id_seat_517 INT;
DECLARE id_seat_518 INT;
DECLARE id_seat_519 INT;
DECLARE id_seat_520 INT;
DECLARE id_seat_521 INT;
DECLARE id_seat_522 INT;
DECLARE id_seat_523 INT;
DECLARE id_seat_524 INT;
DECLARE id_seat_525 INT;
DECLARE id_seat_526 INT;
DECLARE id_seat_527 INT;
DECLARE id_seat_528 INT;
DECLARE id_seat_529 INT;
DECLARE id_seat_530 INT;
DECLARE id_seat_531 INT;
DECLARE id_seat_532 INT;
DECLARE id_seat_533 INT;
DECLARE id_seat_534 INT;
DECLARE id_seat_535 INT;
DECLARE id_seat_536 INT;
DECLARE id_seat_537 INT;
DECLARE id_seat_538 INT;
DECLARE id_seat_539 INT;
DECLARE id_seat_540 INT;
DECLARE id_seat_541 INT;
DECLARE id_seat_542 INT;
DECLARE id_seat_543 INT;
DECLARE id_seat_544 INT;
DECLARE id_seat_545 INT;
DECLARE id_seat_546 INT;
DECLARE id_seat_547 INT;
DECLARE id_seat_548 INT;
DECLARE id_seat_549 INT;
DECLARE id_seat_550 INT;
DECLARE id_seat_551 INT;
DECLARE id_seat_552 INT;
DECLARE id_seat_553 INT;
DECLARE id_seat_554 INT;
DECLARE id_seat_555 INT;
DECLARE id_seat_556 INT;
DECLARE id_seat_557 INT;
DECLARE id_seat_558 INT;
DECLARE id_seat_559 INT;
DECLARE id_seat_560 INT;
DECLARE id_seat_561 INT;
DECLARE id_seat_562 INT;
DECLARE id_seat_563 INT;
DECLARE id_seat_564 INT;
DECLARE id_seat_565 INT;
DECLARE id_seat_566 INT;
DECLARE id_seat_567 INT;
DECLARE id_seat_568 INT;
DECLARE id_seat_569 INT;
DECLARE id_seat_570 INT;
DECLARE id_seat_571 INT;
DECLARE id_seat_572 INT;
DECLARE id_seat_573 INT;
DECLARE id_seat_574 INT;
DECLARE id_seat_575 INT;
DECLARE id_seat_576 INT;
DECLARE id_seat_577 INT;
DECLARE id_seat_578 INT;
DECLARE id_seat_579 INT;
DECLARE id_seat_580 INT;
DECLARE id_seat_581 INT;
DECLARE id_seat_582 INT;
DECLARE id_seat_583 INT;
DECLARE id_seat_584 INT;
DECLARE id_seat_585 INT;
DECLARE id_seat_586 INT;
DECLARE id_seat_587 INT;
DECLARE id_seat_588 INT;
DECLARE id_seat_589 INT;
DECLARE id_seat_590 INT;
DECLARE id_seat_591 INT;
DECLARE id_seat_592 INT;
DECLARE id_seat_593 INT;
DECLARE id_seat_594 INT;
DECLARE id_seat_595 INT;
DECLARE id_seat_596 INT;
DECLARE id_seat_597 INT;
DECLARE id_seat_598 INT;
DECLARE id_seat_599 INT;
DECLARE id_seat_600 INT;
DECLARE id_seat_601 INT;
DECLARE id_seat_602 INT;
DECLARE id_seat_603 INT;
DECLARE id_seat_604 INT;
DECLARE id_seat_605 INT;
DECLARE id_seat_606 INT;
DECLARE id_seat_607 INT;
DECLARE id_seat_608 INT;
DECLARE id_seat_609 INT;
DECLARE id_seat_610 INT;

BEGIN
	SELECT o.id INTO id_order_0
	FROM "public.Orders" o
	JOIN "public.Customers" cs ON o.customer_id = cs.id
	WHERE cs.name = 'Гришина Надежда Тимофеевна';

	SELECT o.id INTO id_order_1
	FROM "public.Orders" o
	JOIN "public.Customers" cs ON o.customer_id = cs.id
	WHERE cs.name = 'Суханова Лариса Афанасьевна';

	SELECT o.id INTO id_order_2
	FROM "public.Orders" o
	JOIN "public.Customers" cs ON o.customer_id = cs.id
	WHERE cs.name = 'Лукия Харитоновна Дементьева';

	SELECT o.id INTO id_order_3
	FROM "public.Orders" o
	JOIN "public.Customers" cs ON o.customer_id = cs.id
	WHERE cs.name = 'Олимпий Игнатович Егоров';
