In [1]:
import pandas as pd

In [2]:
def movies_genres_insert(movie_names,genres_names):
    queries = ""
    for movie_name in movie_names:
        for genres_name in genres_names:
            query = f"""INSERT INTO "public.Movies_genres" (movie_id, genres_id)
SELECT m.id, g.id
FROM "public.Movies" m
JOIN "public.Genres" g ON m.name = '{movie_name}' AND g.name = '{genres_name}';

"""
            queries = queries + query
    return queries

In [3]:
print(movies_genres_insert(['Тайна Коко'],['Мультфильмы','Фэнтези','Комедия','Приключения','Семейные','Музыкальные']))

INSERT INTO "public.Movies_genres" (movie_id, genres_id)
SELECT m.id, g.id
FROM "public.Movies" m
JOIN "public.Genres" g ON m.name = 'Тайна Коко' AND g.name = 'Мультфильмы';

INSERT INTO "public.Movies_genres" (movie_id, genres_id)
SELECT m.id, g.id
FROM "public.Movies" m
JOIN "public.Genres" g ON m.name = 'Тайна Коко' AND g.name = 'Фэнтези';

INSERT INTO "public.Movies_genres" (movie_id, genres_id)
SELECT m.id, g.id
FROM "public.Movies" m
JOIN "public.Genres" g ON m.name = 'Тайна Коко' AND g.name = 'Комедия';

INSERT INTO "public.Movies_genres" (movie_id, genres_id)
SELECT m.id, g.id
FROM "public.Movies" m
JOIN "public.Genres" g ON m.name = 'Тайна Коко' AND g.name = 'Приключения';

INSERT INTO "public.Movies_genres" (movie_id, genres_id)
SELECT m.id, g.id
FROM "public.Movies" m
JOIN "public.Genres" g ON m.name = 'Тайна Коко' AND g.name = 'Семейные';

INSERT INTO "public.Movies_genres" (movie_id, genres_id)
SELECT m.id, g.id
FROM "public.Movies" m
JOIN "public.Genres" g ON m.name = 'Тайна Коко' AND g.name = 'Музыкальные';

def films_positions_insert(member_names,movie_names,positions_names):
    queries_0 = """DO $$"""
    for i in range(len(member_names)):
        query = f"""
DECLARE id_member_{i} INT;
DECLARE id_movie_{i} INT;"""
        queries_0 = queries_0 + query
        
    queries_1 = """
BEGIN"""
    for i in range(len(member_names)):
        i_names = [j for j, name in enumerate(member_names[:i]) if name == member_names[i]]
        if len(i_names) > 0:
            query_1 = f"""
	id_member_{i} = id_member_{i_names[0]};
"""
        else:
            query_1 = f"""
	SELECT cm.id INTO id_member_{i}
	FROM "public.Film_crew_members" cm
	WHERE cm.name = '{member_names[i]}';
"""
        i_movies = [j for j, name in enumerate(movie_names[:i]) if name == movie_names[i]]
        if len(i_movies) > 0:
            query_2 = f"""
	id_movie_{i} = id_movie_{i_movies[0]};
"""
        else:
            query_2 = f"""
	SELECT m.id INTO id_movie_{i}
	FROM "public.Movies" m
	WHERE m.name = '{movie_names[i]}';
    """
        queries_1 = queries_1 + query_1 + query_2

    queries_2 = f"""
	INSERT INTO "public.Films_positions" (member_id, movie_id, name) VALUES"""
    for i in range(len(member_names)):
        query = f"""
		(id_member_{i}, id_movie_{i}, '{positions_names[i]}')"""
        if i == len(member_names)-1: query_end = """;"""
        else: query_end = ""","""
        queries_2 = queries_2 + query + query_end
        
    queries_3 = """
END $$;"""
        
    return queries_0 + queries_1 + queries_2 + queries_3

excel_file = 'sql_movie_positions.xlsx'

df_movie_positions = pd.read_excel(excel_file)

print(df_movie_positions)

member_names = df_movie_positions['Люди']
movie_names = df_movie_positions['Фильмы']
positions_names = df_movie_positions['Должности']
print(films_positions_insert(member_names,movie_names,positions_names))

def nominees_insert(member_names,movie_names):
    queries_0 = """DO $$"""
    for i in range(len(member_names)):
        query_1 = ""; query_2 = ""
        if len(member_names[i]) > 0:
            query_1 = f"""
DECLARE id_member_{i} INT;"""
        if len(movie_names[i]) > 0:
            query_2 = f"""
DECLARE id_movie_{i} INT;"""
        queries_0 = queries_0 + query_1 + query_2
        
    queries_1 = """
BEGIN"""
    for i in range(len(member_names)):
        query_1 = ""; query_2 = ""
        if len(member_names[i]) > 0:
            i_names = [j for j in range(i) if member_names[j] == member_names[i]]
            if len(i_names) > 0:
                query_1 = f"""
	id_member_{i} = id_member_{i_names[0]};
"""
            else: #если нет повторяющихся людей
                query_1 = f"""
	SELECT cm.id INTO id_member_{i}
	FROM "public.Film_crew_members" cm
	WHERE cm.name = '{member_names[i]}';
"""
        if len(movie_names[i]) > 0:
            i_movies = [j for j in range(i) if movie_names[j] == movie_names[i]]
            if len(i_movies) > 0:
                query_2 = f"""
	id_movie_{i} = id_movie_{i_movies[0]};
"""
            else: #если нет повторяющихся фильмов
                query_2 = f"""
	SELECT m.id INTO id_movie_{i}
	FROM "public.Movies" m
	WHERE m.name = '{movie_names[i]}';
    """
        queries_1 = queries_1 + query_1 + query_2

    queries_2 = f"""
	INSERT INTO "public.Nominees" (film_crew_members_id, movie_id) VALUES"""
    for i in range(len(member_names)):
        query = ""
        if (len(member_names[i]) > 0) & (len(movie_names[i]) > 0):
            query = f"""
		(id_member_{i}, id_movie_{i})"""
        elif (len(member_names[i]) > 0) & (len(movie_names[i]) == 0):
            query = f"""
		(id_member_{i}, null)"""
        elif (len(member_names[i]) == 0) & (len(movie_names[i]) > 0):
            query = f"""
		(null, id_movie_{i})"""
        if i == len(member_names)-1: query_end = """;"""
        else: query_end = ""","""
        queries_2 = queries_2 + query + query_end
        
    queries_3 = """
END $$;"""
        
    return queries_0 + queries_1 + queries_2 + queries_3

member_names = ['Том Хэнкс','Том Хэнкс','']
movie_names = ['Зеленая миля','Форрест Гамп','Форрест Гамп']
print(nominees_insert(member_names,movie_names))

excel_file = 'sql_nominees.xlsx'

df_nominees = pd.read_excel(excel_file)
df_nominees = df_nominees.fillna('')

print(df_nominees)

member_names = df_nominees['Люди']
movie_names = df_nominees['Фильмы']
print(nominees_insert(member_names,movie_names))

def prime_nominations_insert(member_names,movie_names,prime_names,nominations,years,isWon):
    queries_0 = """DO $$
"""
    for i in range(len(member_names)):
        query = f"""DECLARE id_nominee_{i} INT;
DECLARE id_prime_{i} INT;
"""
        queries_0 = queries_0 + query
        
    queries_1 = """
BEGIN"""
    for i in range(len(member_names)):
        query_1 = ""; query_2 = ""; query_3 = ""; query_4 = ""; query_5 = ""
        i_members_movies = [j for j in range(i) if (member_names[j] == member_names[i]) & (movie_names[j] == movie_names[i])]
        if len(i_members_movies) == 0: #если нет повторяющихся номинантов
            query_1 = f"""
	SELECT nom.id INTO id_nominee_{i}
	FROM "public.Nominees" nom
	JOIN "public.Movies" m ON nom.movie_id = m.id"""
            if len(member_names[i]) > 0:
                query_2 = f"""
	JOIN "public.Film_crew_members" cm ON nom.film_crew_members_id = cm.id"""
            query_3 = f"""
	WHERE m.name = '{movie_names[i]}' AND """
            if len(member_names[i]) > 0:
                query_4 = f"""cm.name = '{member_names[i]}';
"""
            else: query_4 = f"""nom.film_crew_members_id IS NULL;
"""
        else: query_1 = f"""
	id_nominee_{i} = id_nominee_{i_members_movies[0]};
"""
        i_primes = [j for j in range(i) if prime_names[j] == prime_names[i]]
        if len(i_primes) == 0: #если нет повторяющихся премий
            query_5 = f"""
	SELECT p.id INTO id_prime_{i}
	FROM "public.Primes" p
	WHERE p.name = '{prime_names[i]}';
    """
        else: query_5 = f"""
	id_prime_{i} = id_prime_{i_primes[0]};
"""
        queries_1 = queries_1 + query_1 + query_2 + query_3 + query_4 + query_5

    queries_2 = f"""
	INSERT INTO "public.Prime_nominations" (nominee_id, prime_id, nomination, year, "isWon") VALUES"""
    for i in range(len(member_names)):
        query = f"""
		(id_nominee_{i}, id_prime_{i}, '{nominations[i]}', {int(years[i])}, {isWon[i]})"""
        if i == len(member_names)-1: query_end = """;"""
        else: query_end = ""","""
        queries_2 = queries_2 + query + query_end
        
    queries_3 = """
END $$;"""
        
    return queries_0 + queries_1 + queries_2 + queries_3

member_names = df_prime_nominations['Люди']
movie_names = df_prime_nominations['Фильмы']
prime_names = df_prime_nominations['Премии']
nominations = df_prime_nominations['Номинации']
years = df_prime_nominations['Год']
isWon = df_prime_nominations['Статус']

print(prime_nominations_insert(member_names,movie_names,prime_names,nominations,years,isWon))

list(set(prime_names))

member_movie_names = list(zip(member_names, movie_names))

member_movie_names_unique = []
for names in member_movie_names: 
    if names not in member_movie_names_unique:
        member_movie_names_unique.append(names)
        
print(member_movie_names_unique)

prime_names_unique = []
for name in prime_names: 
    if name not in prime_names_unique:
        prime_names_unique.append(name)
        
print(prime_names_unique)

prime_ids = []
prime_ids_map = {}

# for i, name in enumerate(prime_names):
#     if name not in prime_ids_map:
#         prime_ids_map[name] = i
#     prime_ids.append(prime_ids_map[name])

i = 0
for name in prime_names:
    if name not in prime_ids_map:
        prime_ids_map[name] = i
        i = i + 1
    prime_ids.append(prime_ids_map[name])

print(list(prime_names))
print(prime_ids)

member_movie_ids = []
member_movie_ids_map = {}

# for i, names in enumerate(member_movie_names):
#     if names not in member_movie_ids_map:
#         member_movie_ids_map[names] = i
#     member_movie_ids.append(member_movie_ids_map[names])

i = 0
for names in member_movie_names:
    if names not in member_movie_ids_map:
        member_movie_ids_map[names] = i
        i = i + 1
    member_movie_ids.append(member_movie_ids_map[names])

print(member_movie_names)
print(member_movie_ids)
print(member_movie_ids_map)
print(member_movie_ids_map[member_movie_names[2]])
print(len(member_movie_ids_map))
# print(member_movie_names[member_movie_ids_map[member_movie_names[3]]])
# print(member_movie_names[member_movie_ids_map[member_movie_names[3]]][0])

In [23]:
def prime_nominations_insert_2(member_names,movie_names,prime_names,nominations,years,isWon):
    member_movie_names = list(zip(member_names, movie_names))
    
    member_movie_names_unique = []
    for names in member_movie_names: 
        if names not in member_movie_names_unique:
            member_movie_names_unique.append(names)
    member_movie_ids_map = {}
    for i in range(len(member_movie_names_unique)):
        member_movie_ids_map[member_movie_names_unique[i]] = i
            
    prime_names_unique = []
    for name in prime_names: 
        if name not in prime_names_unique:
            prime_names_unique.append(name)
    prime_ids_map = {}
    for i in range(len(prime_names_unique)):
        prime_ids_map[prime_names_unique[i]] = i
    
    queries_0 = """DO $$
"""
    for i in range(len(member_movie_names_unique)):
        query = f"""DECLARE id_nominee_{i} INT;
"""
        queries_0 = queries_0 + query
    for i in range(len(prime_names_unique)):
        query = f"""DECLARE id_prime_{i} INT;
"""
        queries_0 = queries_0 + query
        
    queries_1 = """
BEGIN"""
    for i in range(len(member_movie_names_unique)):
        query_2 = ""
        query_1 = f"""
	SELECT nom.id INTO id_nominee_{i}
	FROM "public.Nominees" nom
	JOIN "public.Movies" m ON nom.movie_id = m.id"""
        if len(member_movie_names_unique[i][0]) > 0:
            query_2 = f"""
	JOIN "public.Film_crew_members" cm ON nom.film_crew_members_id = cm.id"""
        query_3 = f"""
	WHERE m.name = '{member_movie_names_unique[i][1]}' AND """
        if len(member_movie_names_unique[i][0]) > 0:
            query_4 = f"""cm.name = '{member_movie_names_unique[i][0]}';
"""
        else: query_4 = f"""nom.film_crew_members_id IS NULL;
"""
        queries_1 = queries_1 + query_1 + query_2 + query_3 + query_4
    
    queries_2 = ""
    for i in range(len(prime_names_unique)):
        query_1 = f"""
	SELECT p.id INTO id_prime_{i}
	FROM "public.Primes" p
	WHERE p.name = '{prime_names_unique[i]}';
"""
        queries_2 = queries_2 + query_1
        
    queries_3 = f"""
	INSERT INTO "public.Prime_nominations" (nominee_id, prime_id, nomination, year, "isWon") VALUES"""
    for i in range(len(member_names)):
        query = f"""
		(id_nominee_{member_movie_ids_map[member_movie_names[i]]}, id_prime_{prime_ids_map[prime_names[i]]}, '{nominations[i]}', {int(years[i])}, {isWon[i]})"""
        if i == len(member_names)-1: query_end = """;"""
        else: query_end = ""","""
        queries_3 = queries_3 + query + query_end
        
    queries_4 = """
END $$;"""
        
    return queries_0 + queries_1 + queries_2 + queries_3 + queries_4

In [35]:
excel_file = 'sql_prime_nominations.xlsx'

df_prime_nominations = pd.read_excel(excel_file)
df_prime_nominations = df_prime_nominations.fillna('')

print(df_prime_nominations)

                Люди                               Фильмы  \
0          Том Хэнкс                         Зеленая миля
1          Том Хэнкс                         Форрест Гамп
2          Том Хэнкс                         Форрест Гамп
3          Том Хэнкс                         Форрест Гамп
4          Том Хэнкс                         Форрест Гамп
5          Том Хэнкс                         Форрест Гамп
6          Том Хэнкс                         Форрест Гамп
7                                            Зеленая миля
8                                            Зеленая миля
9                                            Зеленая миля
10                                           Форрест Гамп
11                                           Форрест Гамп
12                                           Форрест Гамп
13                                           Форрест Гамп
14       Тим Роббинс                    Побег из Шоушенка
15     Морган Фриман                    Побег из Шоушенка
16     Морган Фриман                    Побег из Шоушенка
17     Морган Фриман                    Побег из Шоушенка
18                                      Побег из Шоушенка
19                                      Побег из Шоушенка
20                                      Побег из Шоушенка
21     Франсуа Клюзе                                  1+1
22     Франсуа Клюзе                                  1+1
23           Омар Си                                  1+1
24           Омар Си                                  1+1
25                                                    1+1
26                                                    1+1
27                                                    1+1
28                                                    1+1
29        Лиам Нисон                      Список Шиндлера
30        Лиам Нисон                      Список Шиндлера
31        Лиам Нисон                      Список Шиндлера
32                                        Список Шиндлера
33                                        Список Шиндлера
34                                        Список Шиндлера
35                                        Список Шиндлера
36                                        Список Шиндлера
37  Мэттью МакКонахи                         Интерстеллар
38       Энн Хэтэуэй                         Интерстеллар
39                                           Интерстеллар
40                                           Интерстеллар
41                                           Интерстеллар
42                                           Интерстеллар
43       Элайджа Вуд  Властелин колец: Возвращение короля
44       Элайджа Вуд  Властелин колец: Возвращение короля
45      Орландо Блум  Властелин колец: Возвращение короля
46                    Властелин колец: Возвращение короля
47                    Властелин колец: Возвращение короля
48                    Властелин колец: Возвращение короля
49                    Властелин колец: Возвращение короля
50                    Властелин колец: Возвращение короля
51                    Властелин колец: Возвращение короля
52     Эдвард Нортон                      Бойцовский клуб
53                                        Бойцовский клуб

                      Премии  \
0     Премия Гильдии актеров
1                      Оскар
2             Золотой глобус
3        Премия канала «MTV»
4        Британская академия
5                     Сатурн
6     Премия Гильдии актеров
7                      Оскар
8                     Сатурн
9                      Оскар
10                     Оскар
11            Золотой глобус
12       Премия канала «MTV»
13       Британская академия
14    Премия Гильдии актеров
15                     Оскар
16            Золотой глобус
17    Премия Гильдии актеров
18                     Оскар
19            Золотой глобус
20                    Сатурн
21                     Сезар
22  Европейская киноакадемия
23                     Сезар
24  Европейская киноакадемия
25            Золотой глобус
26       Британская академия
27                      Гойя
28                     Сезар
29                     Оскар
30            Золотой глобус
31       Британская академия
32                     Сезар
33                     Оскар
34            Золотой глобус
35       Премия канала «MTV»
36       Британская академия
37                    Сатурн
38                    Сатурн
39                     Оскар
40            Золотой глобус
41       Британская академия
42                    Сатурн
43                    Сатурн
44    Премия Гильдии актеров
45    Премия Гильдии актеров
46                    Сатурн
47                     Оскар
48            Золотой глобус
49       Премия канала «MTV»
50       Британская академия
51                    Сатурн
52       Премия канала «MTV»
53                     Оскар

                                           Номинации     Год  Статус
0                            Лучший актерский состав  2000.0   False
1                                Лучшая мужская роль  1995.0    True
2                        Лучшая мужская роль (драма)  1995.0    True
3                                Лучшая мужская роль  1995.0   False
4                                Лучшая мужская роль  1995.0   False
5                                Лучшая мужская роль  1995.0   False
6                                Лучшая мужская роль  1995.0    True
7                                       Лучший фильм  2000.0   False
8   Лучший приключенческий фильм, боевик или триллер  2000.0   False
9                                       Лучший фильм  2000.0    True
10                                      Лучший фильм  1995.0    True
11                              Лучший фильм (драма)  1995.0    True
12                                      Лучший фильм  1995.0   False
13                         Лучшие визуальные эффекты  1995.0    True
14                               Лучшая мужская роль  1995.0   False
15                               Лучшая мужская роль  1995.0   False
16                       Лучшая мужская роль (драма)  1995.0   False
17                               Лучшая мужская роль  1995.0   False
18                                      Лучший фильм  1995.0   False
19                                   Лучший сценарий  1995.0   False
20                                   Лучший сценарий  1995.0   False
21                                      Лучший актер  2012.0   False
22                               Лучшая мужская роль  2012.0   False
23                                      Лучший актер  2012.0    True
24                               Лучшая мужская роль  2012.0   False
25                 Лучший фильм на иностранном языке  2012.0   False
26                 Лучший фильм на иностранном языке  2012.0   False
27                          Лучший европейский фильм  2012.0    True
28                                      Лучший фильм  2012.0   False
29                               Лучшая мужская роль  1994.0   False
30                              Лучший фильм (драма)  1994.0   False
31                               Лучшая мужская роль  1994.0   False
32                 Лучший фильм на иностранном языке  1994.0   False
33                                      Лучший фильм  1994.0    True
34                              Лучший фильм (драма)  1994.0    True
35                                      Лучший фильм  1994.0   False
36                                      Лучший фильм  1994.0    True
37                                      Лучший актер  2015.0   False
38                                    Лучшая актриса  2015.0   False
39                         Лучшие визуальные эффекты  2015.0    True
40                                  Лучший саундтрек  2015.0   False
41                         Лучшие визуальные эффекты  2015.0    True
42                Лучший научно-фантастический фильм  2015.0    True
43                                      Лучший актер  2004.0    True
44                           Лучший актерский состав  2004.0    True
45                           Лучший актерский состав  2004.0    True
46                    Лучшее специальное DVD-издание  2004.0    True
47                                      Лучший фильм  2004.0    True
48                              Лучший фильм (драма)  2004.0    True
49                                      Лучший фильм  2004.0    True
50                                      Лучший фильм  2004.0    True
51                              Лучший фэнтези-фильм  2004.0    True
52                                      Лучшая драка  2000.0   False
53                               Лучший монтаж звука  2000.0   False

In [36]:
member_names = df_prime_nominations['Люди']
movie_names = df_prime_nominations['Фильмы']
prime_names = df_prime_nominations['Премии']
nominations = df_prime_nominations['Номинации']
years = df_prime_nominations['Год']
isWon = df_prime_nominations['Статус']

print(prime_nominations_insert_2(member_names,movie_names,prime_names,nominations,years,isWon))

DO $$
DECLARE id_nominee_0 INT;
DECLARE id_nominee_1 INT;
DECLARE id_nominee_2 INT;
DECLARE id_nominee_3 INT;
DECLARE id_nominee_4 INT;
DECLARE id_nominee_5 INT;
DECLARE id_nominee_6 INT;
DECLARE id_nominee_7 INT;
DECLARE id_nominee_8 INT;
DECLARE id_nominee_9 INT;
DECLARE id_nominee_10 INT;
DECLARE id_nominee_11 INT;
DECLARE id_nominee_12 INT;
DECLARE id_nominee_13 INT;
DECLARE id_nominee_14 INT;
DECLARE id_nominee_15 INT;
DECLARE id_nominee_16 INT;
DECLARE id_nominee_17 INT;
DECLARE id_nominee_18 INT;
DECLARE id_nominee_19 INT;
DECLARE id_prime_0 INT;
DECLARE id_prime_1 INT;
DECLARE id_prime_2 INT;
DECLARE id_prime_3 INT;
DECLARE id_prime_4 INT;
DECLARE id_prime_5 INT;
DECLARE id_prime_6 INT;
DECLARE id_prime_7 INT;
DECLARE id_prime_8 INT;

BEGIN
	SELECT nom.id INTO id_nominee_0
	FROM "public.Nominees" nom
	JOIN "public.Movies" m ON nom.movie_id = m.id
	JOIN "public.Film_crew_members" cm ON nom.film_crew_members_id = cm.id
	WHERE m.name = 'Зеленая миля' AND cm.name = 'Том Хэнкс';

	SELECT nom.id INTO id_nominee_1
	FROM "public.Nominees" nom
	JOIN "public.Movies" m ON nom.movie_id = m.id
	JOIN "public.Film_crew_members" cm ON nom.film_crew_members_id = cm.id
	WHERE m.name = 'Форрест Гамп' AND cm.name = 'Том Хэнкс';

	SELECT nom.id INTO id_nominee_2
	FROM "public.Nominees" nom
	JOIN "public.Movies" m ON nom.movie_id = m.id
	WHERE m.name = 'Зеленая миля' AND nom.film_crew_members_id IS NULL;

	SELECT nom.id INTO id_nominee_3
	FROM "public.Nominees" nom
	JOIN "public.Movies" m ON nom.movie_id = m.id
	WHERE m.name = 'Форрест Гамп' AND nom.film_crew_members_id IS NULL;

	SELECT nom.id INTO id_nominee_4
	FROM "public.Nominees" nom
	JOIN "public.Movies" m ON nom.movie_id = m.id
	JOIN "public.Film_crew_members" cm ON nom.film_crew_members_id = cm.id
	WHERE m.name = 'Побег из Шоушенка' AND cm.name = 'Тим Роббинс';

	SELECT nom.id INTO id_nominee_5
	FROM "public.Nominees" nom
	JOIN "public.Movies" m ON nom.movie_id = m.id
	JOIN "public.Film_crew_members" cm ON nom.film_crew_members_id = cm.id
	WHERE m.name = 'Побег из Шоушенка' AND cm.name = 'Морган Фриман';

	SELECT nom.id INTO id_nominee_6
	FROM "public.Nominees" nom
	JOIN "public.Movies" m ON nom.movie_id = m.id
	WHERE m.name = 'Побег из Шоушенка' AND nom.film_crew_members_id IS NULL;

	SELECT nom.id INTO id_nominee_7
	FROM "public.Nominees" nom
	JOIN "public.Movies" m ON nom.movie_id = m.id
	JOIN "public.Film_crew_members" cm ON nom.film_crew_members_id = cm.id
	WHERE m.name = '1+1' AND cm.name = 'Франсуа Клюзе';

	SELECT nom.id INTO id_nominee_8
	FROM "public.Nominees" nom
	JOIN "public.Movies" m ON nom.movie_id = m.id
	JOIN "public.Film_crew_members" cm ON nom.film_crew_members_id = cm.id
	WHERE m.name = '1+1' AND cm.name = 'Омар Си';

	SELECT nom.id INTO id_nominee_9
	FROM "public.Nominees" nom
	JOIN "public.Movies" m ON nom.movie_id = m.id
	WHERE m.name = '1+1' AND nom.film_crew_members_id IS NULL;

	SELECT nom.id INTO id_nominee_10
	FROM "public.Nominees" nom
	JOIN "public.Movies" m ON nom.movie_id = m.id
	JOIN "public.Film_crew_members" cm ON nom.film_crew_members_id = cm.id
	WHERE m.name = 'Список Шиндлера' AND cm.name = 'Лиам Нисон';

	SELECT nom.id INTO id_nominee_11
	FROM "public.Nominees" nom
	JOIN "public.Movies" m ON nom.movie_id = m.id
	WHERE m.name = 'Список Шиндлера' AND nom.film_crew_members_id IS NULL;

	SELECT nom.id INTO id_nominee_12
	FROM "public.Nominees" nom
	JOIN "public.Movies" m ON nom.movie_id = m.id
	JOIN "public.Film_crew_members" cm ON nom.film_crew_members_id = cm.id
	WHERE m.name = 'Интерстеллар' AND cm.name = 'Мэттью МакКонахи';

	SELECT nom.id INTO id_nominee_13
	FROM "public.Nominees" nom
	JOIN "public.Movies" m ON nom.movie_id = m.id
	JOIN "public.Film_crew_members" cm ON nom.film_crew_members_id = cm.id
	WHERE m.name = 'Интерстеллар' AND cm.name = 'Энн Хэтэуэй';

	SELECT nom.id INTO id_nominee_14
	FROM "public.Nominees" nom
	JOIN "public.Movies" m ON nom.movie_id = m.id
	WHERE m.name = 'Интерстеллар' AND nom.film_crew_members_id IS NULL;

	SELECT nom.id INTO id_nominee_15
	FROM "public.Nominees" nom
	JOIN "public.Movies" m ON nom.movie_id = m.id
	JOIN "public.Film_crew_members" cm ON nom.film_crew_members_id = cm.id
	WHERE m.name = 'Властелин колец: Возвращение короля' AND cm.name = 'Элайджа Вуд';

	SELECT nom.id INTO id_nominee_16
	FROM "public.Nominees" nom
	JOIN "public.Movies" m ON nom.movie_id = m.id
	JOIN "public.Film_crew_members" cm ON nom.film_crew_members_id = cm.id
	WHERE m.name = 'Властелин колец: Возвращение короля' AND cm.name = 'Орландо Блум';

	SELECT nom.id INTO id_nominee_17
	FROM "public.Nominees" nom
	JOIN "public.Movies" m ON nom.movie_id = m.id
	WHERE m.name = 'Властелин колец: Возвращение короля' AND nom.film_crew_members_id IS NULL;

	SELECT nom.id INTO id_nominee_18
	FROM "public.Nominees" nom
	JOIN "public.Movies" m ON nom.movie_id = m.id
	JOIN "public.Film_crew_members" cm ON nom.film_crew_members_id = cm.id
	WHERE m.name = 'Бойцовский клуб' AND cm.name = 'Эдвард Нортон';

	SELECT nom.id INTO id_nominee_19
	FROM "public.Nominees" nom
	JOIN "public.Movies" m ON nom.movie_id = m.id
	WHERE m.name = 'Бойцовский клуб' AND nom.film_crew_members_id IS NULL;

	SELECT p.id INTO id_prime_0
	FROM "public.Primes" p
	WHERE p.name = 'Премия Гильдии актеров';

	SELECT p.id INTO id_prime_1
	FROM "public.Primes" p
	WHERE p.name = 'Оскар';

	SELECT p.id INTO id_prime_2
	FROM "public.Primes" p
	WHERE p.name = 'Золотой глобус';

	SELECT p.id INTO id_prime_3
	FROM "public.Primes" p
	WHERE p.name = 'Премия канала «MTV»';

	SELECT p.id INTO id_prime_4
	FROM "public.Primes" p
	WHERE p.name = 'Британская академия';

	SELECT p.id INTO id_prime_5
	FROM "public.Primes" p
	WHERE p.name = 'Сатурн';

	SELECT p.id INTO id_prime_6
	FROM "public.Primes" p
	WHERE p.name = 'Сезар';

	SELECT p.id INTO id_prime_7
	FROM "public.Primes" p
	WHERE p.name = 'Европейская киноакадемия';

	SELECT p.id INTO id_prime_8
	FROM "public.Primes" p
	WHERE p.name = 'Гойя';

	INSERT INTO "public.Prime_nominations" (nominee_id, prime_id, nomination, year, "isWon") VALUES
		(id_nominee_0, id_prime_0, 'Лучший актерский состав', 2000, False),
		(id_nominee_1, id_prime_1, 'Лучшая мужская роль', 1995, True),
		(id_nominee_1, id_prime_2, 'Лучшая мужская роль (драма)', 1995, True),
		(id_nominee_1, id_prime_3, 'Лучшая мужская роль', 1995, False),
		(id_nominee_1, id_prime_4, 'Лучшая мужская роль', 1995, False),
		(id_nominee_1, id_prime_5, 'Лучшая мужская роль', 1995, False),
		(id_nominee_1, id_prime_0, 'Лучшая мужская роль', 1995, True),
		(id_nominee_2, id_prime_1, 'Лучший фильм', 2000, False),
		(id_nominee_2, id_prime_5, 'Лучший приключенческий фильм, боевик или триллер', 2000, False),
		(id_nominee_2, id_prime_1, 'Лучший фильм', 2000, True),
		(id_nominee_3, id_prime_1, 'Лучший фильм', 1995, True),
		(id_nominee_3, id_prime_2, 'Лучший фильм (драма)', 1995, True),
		(id_nominee_3, id_prime_3, 'Лучший фильм', 1995, False),
		(id_nominee_3, id_prime_4, 'Лучшие визуальные эффекты', 1995, True),
		(id_nominee_4, id_prime_0, 'Лучшая мужская роль', 1995, False),
		(id_nominee_5, id_prime_1, 'Лучшая мужская роль', 1995, False),
		(id_nominee_5, id_prime_2, 'Лучшая мужская роль (драма)', 1995, False),
		(id_nominee_5, id_prime_0, 'Лучшая мужская роль', 1995, False),
		(id_nominee_6, id_prime_1, 'Лучший фильм', 1995, False),
		(id_nominee_6, id_prime_2, 'Лучший сценарий', 1995, False),
		(id_nominee_6, id_prime_5, 'Лучший сценарий', 1995, False),
		(id_nominee_7, id_prime_6, 'Лучший актер', 2012, False),
		(id_nominee_7, id_prime_7, 'Лучшая мужская роль', 2012, False),
		(id_nominee_8, id_prime_6, 'Лучший актер', 2012, True),
		(id_nominee_8, id_prime_7, 'Лучшая мужская роль', 2012, False),
		(id_nominee_9, id_prime_2, 'Лучший фильм на иностранном языке', 2012, False),
		(id_nominee_9, id_prime_4, 'Лучший фильм на иностранном языке', 2012, False),
		(id_nominee_9, id_prime_8, 'Лучший европейский фильм', 2012, True),
		(id_nominee_9, id_prime_6, 'Лучший фильм', 2012, False),
		(id_nominee_10, id_prime_1, 'Лучшая мужская роль', 1994, False),
		(id_nominee_10, id_prime_2, 'Лучший фильм (драма)', 1994, False),
		(id_nominee_10, id_prime_4, 'Лучшая мужская роль', 1994, False),
		(id_nominee_11, id_prime_6, 'Лучший фильм на иностранном языке', 1994, False),
		(id_nominee_11, id_prime_1, 'Лучший фильм', 1994, True),
		(id_nominee_11, id_prime_2, 'Лучший фильм (драма)', 1994, True),
		(id_nominee_11, id_prime_3, 'Лучший фильм', 1994, False),
		(id_nominee_11, id_prime_4, 'Лучший фильм', 1994, True),
		(id_nominee_12, id_prime_5, 'Лучший актер', 2015, False),
		(id_nominee_13, id_prime_5, 'Лучшая актриса', 2015, False),
		(id_nominee_14, id_prime_1, 'Лучшие визуальные эффекты', 2015, True),
		(id_nominee_14, id_prime_2, 'Лучший саундтрек', 2015, False),
		(id_nominee_14, id_prime_4, 'Лучшие визуальные эффекты', 2015, True),
		(id_nominee_14, id_prime_5, 'Лучший научно-фантастический фильм', 2015, True),
		(id_nominee_15, id_prime_5, 'Лучший актер', 2004, True),
		(id_nominee_15, id_prime_0, 'Лучший актерский состав', 2004, True),
		(id_nominee_16, id_prime_0, 'Лучший актерский состав', 2004, True),
		(id_nominee_17, id_prime_5, 'Лучшее специальное DVD-издание', 2004, True),
		(id_nominee_17, id_prime_1, 'Лучший фильм', 2004, True),
		(id_nominee_17, id_prime_2, 'Лучший фильм (драма)', 2004, True),
		(id_nominee_17, id_prime_3, 'Лучший фильм', 2004, True),
		(id_nominee_17, id_prime_4, 'Лучший фильм', 2004, True),
		(id_nominee_17, id_prime_5, 'Лучший фэнтези-фильм', 2004, True),
		(id_nominee_18, id_prime_3, 'Лучшая драка', 2000, False),
		(id_nominee_19, id_prime_1, 'Лучший монтаж звука', 2000, False);
END $$;

In [25]:
def nominees_insert_2(member_names,movie_names):
    member_names_unique = []
    for name in member_names: 
        if name not in member_names_unique and len(name) > 0:
            member_names_unique.append(name)
    member_ids_map = {}
    for i in range(len(member_names_unique)):
        member_ids_map[member_names_unique[i]] = i
        
    movie_names_unique = []
    for name in movie_names: 
        if name not in movie_names_unique and len(name) > 0:
            movie_names_unique.append(name)
    movie_ids_map = {}
    for i in range(len(movie_names_unique)):
        movie_ids_map[movie_names_unique[i]] = i
    
    
    queries_0 = """DO $$
"""
    for i in range(len(member_names_unique)):
        query = f"""DECLARE id_member_{i} INT;
"""
        queries_0 = queries_0 + query
    for i in range(len(movie_names_unique)):
        query = f"""DECLARE id_movie_{i} INT;
"""
        queries_0 = queries_0 + query
        
    queries_1 = """
BEGIN"""
    for i in range(len(member_names_unique)):
        query_1 = f"""
	SELECT cm.id INTO id_member_{i}
	FROM "public.Film_crew_members" cm
	WHERE cm.name = '{member_names_unique[i]}';
"""
        queries_1 = queries_1 + query_1
    for i in range(len(movie_names_unique)):
        query_1 = f"""
	SELECT m.id INTO id_movie_{i}
	FROM "public.Movies" m
	WHERE m.name = '{movie_names_unique[i]}';
"""
        queries_1 = queries_1 + query_1

    queries_2 = f"""
	INSERT INTO "public.Nominees" (film_crew_members_id, movie_id) VALUES"""
    for i in range(len(member_names)):
        query = ""
        if (len(member_names[i]) > 0) & (len(movie_names[i]) > 0):
            query = f"""
		(id_member_{member_ids_map[member_names[i]]}, id_movie_{movie_ids_map[movie_names[i]]})"""
        elif (len(member_names[i]) > 0) & (len(movie_names[i]) == 0):
            query = f"""
		(id_member_{member_ids_map[member_names[i]]}, null)"""
        elif (len(member_names[i]) == 0) & (len(movie_names[i]) > 0):
            query = f"""
		(null, id_movie_{movie_ids_map[movie_names[i]]})"""
        if i == len(member_names)-1: query_end = """;"""
        else: query_end = ""","""
        queries_2 = queries_2 + query + query_end
        
    queries_3 = """
END $$;"""
        
    return queries_0 + queries_1 + queries_2 + queries_3

In [33]:
excel_file = 'sql_nominees.xlsx'

df_nominees = pd.read_excel(excel_file)
df_nominees = df_nominees.fillna('')

print(df_nominees)

                Люди                               Фильмы
0          Том Хэнкс                         Зеленая миля
1                                            Зеленая миля
2          Том Хэнкс                         Форрест Гамп
3                                            Форрест Гамп
4        Тим Роббинс                    Побег из Шоушенка
5      Морган Фриман                    Побег из Шоушенка
6                                       Побег из Шоушенка
7      Франсуа Клюзе                                  1+1
8            Омар Си                                  1+1
9                                                     1+1
10        Лиам Нисон                      Список Шиндлера
11                                        Список Шиндлера
12  Мэттью МакКонахи                         Интерстеллар
13       Энн Хэтэуэй                         Интерстеллар
14                                           Интерстеллар
15       Элайджа Вуд  Властелин колец: Возвращение короля
16      Орландо Блум  Властелин колец: Возвращение короля
17                    Властелин колец: Возвращение короля
18     Эдвард Нортон                      Бойцовский клуб
19                                        Бойцовский клуб

In [34]:
member_names = df_nominees['Люди']
movie_names = df_nominees['Фильмы']
print(nominees_insert_2(member_names,movie_names))

DO $$
DECLARE id_member_0 INT;
DECLARE id_member_1 INT;
DECLARE id_member_2 INT;
DECLARE id_member_3 INT;
DECLARE id_member_4 INT;
DECLARE id_member_5 INT;
DECLARE id_member_6 INT;
DECLARE id_member_7 INT;
DECLARE id_member_8 INT;
DECLARE id_member_9 INT;
DECLARE id_member_10 INT;
DECLARE id_movie_0 INT;
DECLARE id_movie_1 INT;
DECLARE id_movie_2 INT;
DECLARE id_movie_3 INT;
DECLARE id_movie_4 INT;
DECLARE id_movie_5 INT;
DECLARE id_movie_6 INT;
DECLARE id_movie_7 INT;

BEGIN
	SELECT cm.id INTO id_member_0
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Том Хэнкс';

	SELECT cm.id INTO id_member_1
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Тим Роббинс';

	SELECT cm.id INTO id_member_2
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Морган Фриман';

	SELECT cm.id INTO id_member_3
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Франсуа Клюзе';

	SELECT cm.id INTO id_member_4
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Омар Си';

	SELECT cm.id INTO id_member_5
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Лиам Нисон';

	SELECT cm.id INTO id_member_6
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Мэттью МакКонахи';

	SELECT cm.id INTO id_member_7
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Энн Хэтэуэй';

	SELECT cm.id INTO id_member_8
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Элайджа Вуд';

	SELECT cm.id INTO id_member_9
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Орландо Блум';

	SELECT cm.id INTO id_member_10
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Эдвард Нортон';

	SELECT m.id INTO id_movie_0
	FROM "public.Movies" m
	WHERE m.name = 'Зеленая миля';

	SELECT m.id INTO id_movie_1
	FROM "public.Movies" m
	WHERE m.name = 'Форрест Гамп';

	SELECT m.id INTO id_movie_2
	FROM "public.Movies" m
	WHERE m.name = 'Побег из Шоушенка';

	SELECT m.id INTO id_movie_3
	FROM "public.Movies" m
	WHERE m.name = '1+1';

	SELECT m.id INTO id_movie_4
	FROM "public.Movies" m
	WHERE m.name = 'Список Шиндлера';

	SELECT m.id INTO id_movie_5
	FROM "public.Movies" m
	WHERE m.name = 'Интерстеллар';

	SELECT m.id INTO id_movie_6
	FROM "public.Movies" m
	WHERE m.name = 'Властелин колец: Возвращение короля';

	SELECT m.id INTO id_movie_7
	FROM "public.Movies" m
	WHERE m.name = 'Бойцовский клуб';

	INSERT INTO "public.Nominees" (film_crew_members_id, movie_id) VALUES
		(id_member_0, id_movie_0),
		(null, id_movie_0),
		(id_member_0, id_movie_1),
		(null, id_movie_1),
		(id_member_1, id_movie_2),
		(id_member_2, id_movie_2),
		(null, id_movie_2),
		(id_member_3, id_movie_3),
		(id_member_4, id_movie_3),
		(null, id_movie_3),
		(id_member_5, id_movie_4),
		(null, id_movie_4),
		(id_member_6, id_movie_5),
		(id_member_7, id_movie_5),
		(null, id_movie_5),
		(id_member_8, id_movie_6),
		(id_member_9, id_movie_6),
		(null, id_movie_6),
		(id_member_10, id_movie_7),
		(null, id_movie_7);
END $$;

In [28]:
def films_positions_insert_2(member_names,movie_names,positions_names):
    member_names_unique = []
    for name in member_names: 
        if name not in member_names_unique and len(name) > 0:
            member_names_unique.append(name)
    member_ids_map = {}
    for i in range(len(member_names_unique)):
        member_ids_map[member_names_unique[i]] = i
        
    movie_names_unique = []
    for name in movie_names: 
        if name not in movie_names_unique and len(name) > 0:
            movie_names_unique.append(name)
    movie_ids_map = {}
    for i in range(len(movie_names_unique)):
        movie_ids_map[movie_names_unique[i]] = i
    
    
    queries_0 = """DO $$
"""
    for i in range(len(member_names_unique)):
        query = f"""DECLARE id_member_{i} INT;
"""
        queries_0 = queries_0 + query
    for i in range(len(movie_names_unique)):
        query = f"""DECLARE id_movie_{i} INT;
"""
        queries_0 = queries_0 + query
        
    queries_1 = """
BEGIN"""
    for i in range(len(member_names_unique)):
        query_1 = f"""
	SELECT cm.id INTO id_member_{i}
	FROM "public.Film_crew_members" cm
	WHERE cm.name = '{member_names_unique[i]}';
"""
        queries_1 = queries_1 + query_1
    for i in range(len(movie_names_unique)):
        query_1 = f"""
	SELECT m.id INTO id_movie_{i}
	FROM "public.Movies" m
	WHERE m.name = '{movie_names_unique[i]}';
"""
        queries_1 = queries_1 + query_1

    queries_2 = f"""
	INSERT INTO "public.Films_positions" (member_id, movie_id, name) VALUES"""
    for i in range(len(member_names)):
        query = f"""
		(id_member_{member_ids_map[member_names[i]]}, id_movie_{movie_ids_map[movie_names[i]]}, '{positions_names[i]}')"""
        if i == len(member_names)-1: query_end = """;"""
        else: query_end = ""","""
        queries_2 = queries_2 + query + query_end
        
    queries_3 = """
END $$;"""
        
    return queries_0 + queries_1 + queries_2 + queries_3

In [29]:
excel_file = 'sql_movie_positions.xlsx'

df_movie_positions = pd.read_excel(excel_file)

print(df_movie_positions)

                   Люди                               Фильмы Должности
0             Том Хэнкс                         Зеленая миля     Актер
1             Том Хэнкс                         Форрест Гамп     Актер
2           Тим Роббинс                    Побег из Шоушенка     Актер
3         Морган Фриман                    Побег из Шоушенка     Актер
4         Франсуа Клюзе                                  1+1     Актер
5               Омар Си                                  1+1     Актер
6            Лиам Нисон                      Список Шиндлера     Актер
7      Мэттью МакКонахи                         Интерстеллар     Актер
8           Энн Хэтэуэй                         Интерстеллар     Актер
9           Элайджа Вуд  Властелин колец: Возвращение короля     Актер
10         Орландо Блум  Властелин колец: Возвращение короля     Актер
11        Эдвард Нортон                      Бойцовский клуб     Актер
12            Брэд Питт                      Бойцовский клуб     Актер
13  Хелена Бонем Картер                      Бойцовский клуб     Актер

In [30]:
member_names = df_movie_positions['Люди']
movie_names = df_movie_positions['Фильмы']
positions_names = df_movie_positions['Должности']
print(films_positions_insert_2(member_names,movie_names,positions_names))

DO $$
DECLARE id_member_0 INT;
DECLARE id_member_1 INT;
DECLARE id_member_2 INT;
DECLARE id_member_3 INT;
DECLARE id_member_4 INT;
DECLARE id_member_5 INT;
DECLARE id_member_6 INT;
DECLARE id_member_7 INT;
DECLARE id_member_8 INT;
DECLARE id_member_9 INT;
DECLARE id_member_10 INT;
DECLARE id_member_11 INT;
DECLARE id_member_12 INT;
DECLARE id_movie_0 INT;
DECLARE id_movie_1 INT;
DECLARE id_movie_2 INT;
DECLARE id_movie_3 INT;
DECLARE id_movie_4 INT;
DECLARE id_movie_5 INT;
DECLARE id_movie_6 INT;
DECLARE id_movie_7 INT;

BEGIN
	SELECT cm.id INTO id_member_0
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Том Хэнкс';

	SELECT cm.id INTO id_member_1
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Тим Роббинс';

	SELECT cm.id INTO id_member_2
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Морган Фриман';

	SELECT cm.id INTO id_member_3
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Франсуа Клюзе';

	SELECT cm.id INTO id_member_4
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Омар Си';

	SELECT cm.id INTO id_member_5
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Лиам Нисон';

	SELECT cm.id INTO id_member_6
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Мэттью МакКонахи';

	SELECT cm.id INTO id_member_7
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Энн Хэтэуэй';

	SELECT cm.id INTO id_member_8
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Элайджа Вуд';

	SELECT cm.id INTO id_member_9
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Орландо Блум';

	SELECT cm.id INTO id_member_10
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Эдвард Нортон';

	SELECT cm.id INTO id_member_11
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Брэд Питт';

	SELECT cm.id INTO id_member_12
	FROM "public.Film_crew_members" cm
	WHERE cm.name = 'Хелена Бонем Картер';

	SELECT m.id INTO id_movie_0
	FROM "public.Movies" m
	WHERE m.name = 'Зеленая миля';

	SELECT m.id INTO id_movie_1
	FROM "public.Movies" m
	WHERE m.name = 'Форрест Гамп';

	SELECT m.id INTO id_movie_2
	FROM "public.Movies" m
	WHERE m.name = 'Побег из Шоушенка';

	SELECT m.id INTO id_movie_3
	FROM "public.Movies" m
	WHERE m.name = '1+1';

	SELECT m.id INTO id_movie_4
	FROM "public.Movies" m
	WHERE m.name = 'Список Шиндлера';

	SELECT m.id INTO id_movie_5
	FROM "public.Movies" m
	WHERE m.name = 'Интерстеллар';

	SELECT m.id INTO id_movie_6
	FROM "public.Movies" m
	WHERE m.name = 'Властелин колец: Возвращение короля';

	SELECT m.id INTO id_movie_7
	FROM "public.Movies" m
	WHERE m.name = 'Бойцовский клуб';

	INSERT INTO "public.Films_positions" (member_id, movie_id, name) VALUES
		(id_member_0, id_movie_0, 'Актер'),
		(id_member_0, id_movie_1, 'Актер'),
		(id_member_1, id_movie_2, 'Актер'),
		(id_member_2, id_movie_2, 'Актер'),
		(id_member_3, id_movie_3, 'Актер'),
		(id_member_4, id_movie_3, 'Актер'),
		(id_member_5, id_movie_4, 'Актер'),
		(id_member_6, id_movie_5, 'Актер'),
		(id_member_7, id_movie_5, 'Актер'),
		(id_member_8, id_movie_6, 'Актер'),
		(id_member_9, id_movie_6, 'Актер'),
		(id_member_10, id_movie_7, 'Актер'),
		(id_member_11, id_movie_7, 'Актер'),
		(id_member_12, id_movie_7, 'Актер');
END $$;

In [48]:
def sessions_insert_(cinema_names,hall_names,movie_names,time_starts,time_ends):
    cinema_hall_names = list(zip(cinema_names, hall_names))
    
    cinema_hall_names_unique = []
    for names in cinema_hall_names: 
        if names not in cinema_hall_names_unique:
            cinema_hall_names_unique.append(names)
    cinema_hall_ids_map = {}
    for i in range(len(cinema_hall_names_unique)):
        cinema_hall_ids_map[cinema_hall_names_unique[i]] = i
            
    movie_names_unique = []
    for name in movie_names: 
        if name not in movie_names_unique:
            movie_names_unique.append(name)
    movie_ids_map = {}
    for i in range(len(movie_names_unique)):
        movie_ids_map[movie_names_unique[i]] = i
    
    queries_0 = """DO $$
"""
    for i in range(len(cinema_hall_names_unique)):
        query = f"""DECLARE id_hall_{i} INT;
"""
        queries_0 = queries_0 + query
    for i in range(len(movie_names_unique)):
        query = f"""DECLARE id_movie_{i} INT;
"""
        queries_0 = queries_0 + query
        
    queries_1 = """
BEGIN"""
    for i in range(len(cinema_hall_names_unique)):
        query_1 = f"""
	SELECT h.id INTO id_hall_{i}
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = '{cinema_hall_names_unique[i][0]}' AND h.name = '{cinema_hall_names_unique[i][1]}';
"""
        queries_1 = queries_1 + query_1
    
    queries_2 = ""
    for i in range(len(movie_names_unique)):
        query_1 = f"""
	SELECT m.id INTO id_movie_{i}
	FROM "public.Movies" m
	WHERE m.name = '{movie_names_unique[i]}';
"""
        queries_2 = queries_2 + query_1
        
    queries_3 = f"""
	INSERT INTO "public.Sessions" (hall_id, movie_id, time_start, time_end) VALUES"""
    for i in range(len(cinema_names)):
        query = f"""
		(id_hall_{cinema_hall_ids_map[cinema_hall_names[i]]}, id_movie_{movie_ids_map[movie_names[i]]}, '{time_starts[i]}', '{time_ends[i]}')"""
        if i == len(cinema_names)-1: query_end = """;"""
        else: query_end = ""","""
        queries_3 = queries_3 + query + query_end
        
    queries_4 = """
END $$;"""
        
    return queries_0 + queries_1 + queries_2 + queries_3 + queries_4

In [49]:
excel_file = 'sql_sessions.xlsx'

df_sessions = pd.read_excel(excel_file)

print(df_sessions)

  Кинотеатр    Зал                                Фильм              Начало  \
0     Альфа  Г-401                         Зеленая миля 2023-11-03 11:00:00
1     Альфа  Г-401                         Форрест Гамп 2023-11-03 14:30:00
2     Альфа  Г-402                    Побег из Шоушенка 2023-11-03 12:00:00
3     Альфа  Г-402                                  1+1 2023-11-03 15:00:00
4     Альфа  Г-403                      Список Шиндлера 2023-11-03 13:00:00
5     Альфа  Г-405                         Интерстеллар 2023-11-03 11:30:00
6     Альфа  Г-407  Властелин колец: Возвращение короля 2023-11-03 12:30:00
7     Альфа  Г-407                      Бойцовский клуб 2023-11-03 16:30:00
8     Альфа  Г-408                 Унесённые призраками 2023-11-03 10:30:00
9     Альфа  Г-408                           Тайна Коко 2023-11-03 13:30:00

                Конец
0 2023-11-03 14:10:00
1 2023-11-03 17:00:00
2 2023-11-03 14:30:00
3 2023-11-03 17:00:00
4 2023-11-03 16:20:00
5 2023-11-03 14:30:00
6 2023-11-03 16:00:00
7 2023-11-03 19:00:00
8 2023-11-03 12:45:00
9 2023-11-03 15:30:00

In [50]:
cinema_names = df_sessions['Кинотеатр']
hall_names = df_sessions['Зал']
movie_names = df_sessions['Фильм']
time_starts = df_sessions['Начало']
time_ends = df_sessions['Конец']
print(sessions_insert_(cinema_names,hall_names,movie_names,time_starts,time_ends))

DO $$
DECLARE id_hall_0 INT;
DECLARE id_hall_1 INT;
DECLARE id_hall_2 INT;
DECLARE id_hall_3 INT;
DECLARE id_hall_4 INT;
DECLARE id_hall_5 INT;
DECLARE id_movie_0 INT;
DECLARE id_movie_1 INT;
DECLARE id_movie_2 INT;
DECLARE id_movie_3 INT;
DECLARE id_movie_4 INT;
DECLARE id_movie_5 INT;
DECLARE id_movie_6 INT;
DECLARE id_movie_7 INT;
DECLARE id_movie_8 INT;
DECLARE id_movie_9 INT;

BEGIN
	SELECT h.id INTO id_hall_0
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Альфа' AND h.name = 'Г-401';

	SELECT h.id INTO id_hall_1
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Альфа' AND h.name = 'Г-402';

	SELECT h.id INTO id_hall_2
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Альфа' AND h.name = 'Г-403';

	SELECT h.id INTO id_hall_3
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Альфа' AND h.name = 'Г-405';

	SELECT h.id INTO id_hall_4
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Альфа' AND h.name = 'Г-407';

	SELECT h.id INTO id_hall_5
	FROM "public.Halls" h
	JOIN "public.Cinemas" c ON h.cinema_id = c.id
	WHERE c.name = 'Альфа' AND h.name = 'Г-408';

	SELECT m.id INTO id_movie_0
	FROM "public.Movies" m
	WHERE m.name = 'Зеленая миля';

	SELECT m.id INTO id_movie_1
	FROM "public.Movies" m
	WHERE m.name = 'Форрест Гамп';

	SELECT m.id INTO id_movie_2
	FROM "public.Movies" m
	WHERE m.name = 'Побег из Шоушенка';

	SELECT m.id INTO id_movie_3
	FROM "public.Movies" m
	WHERE m.name = '1+1';

	SELECT m.id INTO id_movie_4
	FROM "public.Movies" m
	WHERE m.name = 'Список Шиндлера';

	SELECT m.id INTO id_movie_5
	FROM "public.Movies" m
	WHERE m.name = 'Интерстеллар';

	SELECT m.id INTO id_movie_6
	FROM "public.Movies" m
	WHERE m.name = 'Властелин колец: Возвращение короля';

	SELECT m.id INTO id_movie_7
	FROM "public.Movies" m
	WHERE m.name = 'Бойцовский клуб';

	SELECT m.id INTO id_movie_8
	FROM "public.Movies" m
	WHERE m.name = 'Унесённые призраками';

	SELECT m.id INTO id_movie_9
	FROM "public.Movies" m
	WHERE m.name = 'Тайна Коко';

	INSERT INTO "public.Sessions" (hall_id, movie_id, time_start, time_end) VALUES
		(id_hall_0, id_movie_0, '2023-11-03 11:00:00', '2023-11-03 14:10:00'),
		(id_hall_0, id_movie_1, '2023-11-03 14:30:00', '2023-11-03 17:00:00'),
		(id_hall_1, id_movie_2, '2023-11-03 12:00:00', '2023-11-03 14:30:00'),
		(id_hall_1, id_movie_3, '2023-11-03 15:00:00', '2023-11-03 17:00:00'),
		(id_hall_2, id_movie_4, '2023-11-03 13:00:00', '2023-11-03 16:20:00'),
		(id_hall_3, id_movie_5, '2023-11-03 11:30:00', '2023-11-03 14:30:00'),
		(id_hall_4, id_movie_6, '2023-11-03 12:30:00', '2023-11-03 16:00:00'),
		(id_hall_4, id_movie_7, '2023-11-03 16:30:00', '2023-11-03 19:00:00'),
		(id_hall_5, id_movie_8, '2023-11-03 10:30:00', '2023-11-03 12:45:00'),
		(id_hall_5, id_movie_9, '2023-11-03 13:30:00', '2023-11-03 15:30:00');
END $$;